{% extends 'web/base.html.twig' %}
{% block main %}
    <main role="main" class="lawyer-filter">
        <article>
            <header class="container">
                <figure class="full-width">
                    <img src="{{ asset('web/assets/img/abogado-full.jpg') }}" alt="Juan García Hernández">
                    {# <img src="https://via.placeholder.com/1920x1080" alt=""> #}
                </figure>
                <div class="row">
                    <div class="col-8">
                        <div class="header-info">
                            <big class="hash-text">{{ 'global.general.hashtag'|trans }}</big>
                            <h1>Abogados</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Búsqueda Abogados</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            <section class="container search-page">

                <form>

                    <!-- Search Term & Filters -->
                    <div class="search-filters">
                        <div class="row">
                            <div class="col-12 find-lawyer">
                                <h2>Encuentra tu abogado</h2>
                                <div class="form-group">
                                    <label for="" class="sr-only">Nombre abogado</label>
                                    <input type="text" class="form-control" id="" placeholder="Buscar por nombre de abogado">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 filter-lawyer">
                                <h5>Filtrar por:</h5>

                                <div class="row">
                                    <div class="col-md">
                                        <label for="" class="sr-only">Por servicios</label>
                                        <select class="custom-select" id="">
                                            <option selected disabled>Por servicios</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-md">
                                        <label for="" class="sr-only">Por oficina</label>
                                        <select class="custom-select" id="">
                                            <option selected disabled>Por oficina</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-md">
                                        <label for="" class="sr-only">Por categoría</label>
                                        <select class="custom-select" id="">
                                            <option selected disabled>Por categoría</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-md">
                                        <label for="" class="sr-only">Por servicios</label>
                                        <select class="custom-select" id="">
                                            <option selected disabled>Por servicios</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Results -->
                    <div class="search-results-wrapper">

                        <!-- Pagination -->
                        <nav aria-label="page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#">a</a></li>
                                <li class="page-item"><a class="page-link" href="#">b</a></li>
                                <li class="page-item"><a class="page-link" href="#">c</a></li>
                                <li class="page-item"><a class="page-link" href="#">d</a></li>
                                <li class="page-item"><a class="page-link" href="#">e</a></li>
                                <li class="page-item"><a class="page-link" href="#">f</a></li>
                                <li class="page-item"><a class="page-link" href="#">g</a></li>
                                <li class="page-item"><a class="page-link" href="#">h</a></li>
                                <li class="page-item"><a class="page-link" href="#">i</a></li>
                                <li class="page-item"><a class="page-link" href="#">j</a></li>
                                <li class="page-item"><a class="page-link" href="#">k</a></li>
                                <li class="page-item"><a class="page-link" href="#">l</a></li>
                                <li class="page-item"><a class="page-link" href="#">m</a></li>
                                <li class="page-item"><a class="page-link" href="#">n</a></li>
                                <li class="page-item"><a class="page-link" href="#">o</a></li>
                                <li class="page-item"><a class="page-link" href="#">p</a></li>
                                <li class="page-item"><a class="page-link" href="#">q</a></li>
                                <li class="page-item"><a class="page-link" href="#">r</a></li>
                                <li class="page-item"><a class="page-link" href="#">s</a></li>
                                <li class="page-item"><a class="page-link" href="#">t</a></li>
                                <li class="page-item"><a class="page-link" href="#">u</a></li>
                                <li class="page-item"><a class="page-link" href="#">v</a></li>
                                <li class="page-item"><a class="page-link" href="#">w</a></li>
                                <li class="page-item"><a class="page-link" href="#">x</a></li>
                                <li class="page-item"><a class="page-link" href="#">y</a></li>
                                <li class="page-item"><a class="page-link" href="#">z</a></li>
                            </ul>
                        </nav>

                        <!-- Info -->
                        <div class="search-results-info">
                            <h2 class="big-header">Resultados de búsqueda</h2>
                            <div class="search-results-text">Mostramos 18 perfiles que encajan con la búsqueda</div>
                        </div>

                        <!-- Boxes -->
                        <div class="search-results-boxes">
                            <a href="#" class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Ramón Fernández García</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Ainhoa Urrutikoetxea Olaizola</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Jordi Ferrer Beltrán</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Francisco Javier Gonzalez del Olmo</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Ainhoa Urrutikoetxea Olaizola</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Francisco Javier Gonzalez del Olmo</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Jordi Ferrer Beltrán</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#" class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Ramón Fernández García</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Francisco Javier Gonzalez del Olmo</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Ainhoa Urrutikoetxea Olaizola</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                            <a href="#"  class="card">
                                <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h3 class="card-title lawyer-name">Jordi Ferrer Beltrán</h3>
                                    <div class="card-text lawyer-position">Socio</div>
                                    <div class="card-text lawyer-location">Barcelona | España</div>
                                </div>
                            </a>
                        </div>

                        <div class="button-wrapper">
                            <button class="btn btn-naked view-more">Ver más</button>
                        </div>
                    </div>

                </form>

            </section>

        </article>
    </main>

    {# <section class="row highlight-content">
        <div class="container highlight-content-wrapper">

            <h2 class="big-header">Contenido destacado</h2>

            <div class="highlight-content-boxes">
                <article class="card card-article">
                    <img src="https://via.placeholder.com/600x320" class="card-img-top" alt="">
                    <div class="card-header">
                        <div class="h6">Articulo</div>
                        <a href="#" class="fav-button"><i class="ion-android-bookmark"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="card-date">24 Febrero 2.019</div>
                        <div class="card-category">Laboral</div>
                        <h3>La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">More</a>
                    </div>
                </article>
                <article class="card card-article">
                    <img src="https://via.placeholder.com/600x320" class="card-img-top" alt="">
                    <div class="card-header">
                        <div class="h6">Articulo</div>
                        <a href="#" class="fav-button"><i class="ion-android-bookmark"></i></a
                    </div>
                    <div class="card-body">
                        <div class="card-date">24 Febrero 2.019</div>
                        <div class="card-category">Laboral</div>
                        <h3>La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">More</a>
                    </div>
                </article>
                <article class="card card-event">
                    <img src="https://via.placeholder.com/600x320" class="card-img-top" alt="">
                    <div class="card-header">
                        <div class="h6">Articulo</div>
                        <a href="#" class="fav-button"><i class="ion-android-bookmark"></i></a
                    </div>
                    <div class="card-body">
                        <div class="card-date">24 Febrero 2.019</div>
                        <div class="card-category">Laboral</div>
                        <h3>La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">More</a>
                    </div>
                </article>
            </div>

            <div class="button-wrapper">
                <button class="btn btn-naked btn-arrow view-more">Ver todo el contenido</button>
            </div>

        </div>
    </section> #}

    {% include 'web/shared/tech-channel.html.twig' %}
    {% include 'web/shared/talent.html.twig' %}
    {% include 'web/shared/insights.html.twig' %}

{% endblock %}