{% extends 'web/base.html.twig' %}
{% block body %}
    {% extends 'web/base.html.twig' %}
{% block body %}
    <header id="main-header">
        <nav id="top-nav" class="navbar navbar-expand-md justify-content-between">
            <div class="container-fluid">
                <div class="navbar-collapse collapse w-50 order-1 order-md-0">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse w-50 order-2">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Webs corporativas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Site | ESP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="ion-person"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav id="main-nav" class="navbar navbar-expand-lg justify-content-between">
            <div class="container-fluid align-items-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    ☰
                </button>
                <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Conocimiento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Abogados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sectores</a>
                        </li>
                    </ul>
                </div>
                <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25">
                    <!-- Cuatrecasas -->
                    <img src="assets/img/Cuatrecasas-logo.png" alt="Cuatrecasas">
                </a>
                <div class="navbar-collapse collapse dual-nav w-50 order-2">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">La firma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Estamos en</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Talento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link search" href="#">
                                <span class="ion-search"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">

        <article class="container">
            <header class="row article-header">
                <div class="col-sm-4 col-md-12 col-lg-4">
                    <figure class="stretch-to-left">
                        <img src="assets/img/abogado-retrato.jpg" alt="Juan García Hernández">
                    </figure>
                </div>
                <div class="col-sm-5 col-md-7 col-lg-5 box-info">
                    <div class="hash-text">#AbogadosCuatrecasas</div>
                    <h1>Juan García Hernández</h1>
                    <div class="lawyer-position">Socio</div>
                    <ul class="lawyer-scope d-flex">
                        <li>Fical</li>
                        <li>Alimentación</li>
                    </ul>
                    <div class="lawyer-address"><strong>BARCELONA</strong> CUATRECASAS Avenida Diagonal, 141</div>
                    <div class="lawyer-tel">638 84 65 27</div>
                    <div class="lawyer-mail">
                        <a href="mailto:juan.garcia.hernandez@cuatrecasas.com">juan.garcia.hernandez@cuatrecasas.com</a>
                    </div>
                    <div class="lawyer-langs">Español / Inglés</div>
                    <div class="lawyer-vcard">
                        <a href="#">vcar</a>
                    </div>
                </div>
                <div class="col-sm-3 col-md-5 col-lg-3">
                    <ul class="action-icons">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#">Abogados</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Juan García Hernández</li>
                </ol>
            </nav>
            <div class="row">
                <section class="col-sm-8 article-section">
                    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra tellus in hac habitasse platea. Pretium lectus quam id leo in vitae. Viverra vitae congue eu consequat ac felis donec. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Aenean euismod elementum nisi quis eleifend quam. Risus commodo viverra maecenas accumsan lacus vel. Enim eu turpis egestas pretium. Molestie ac feugiat sed lectus vestibulum. A cras semper auctor neque vitae tempus. Nulla porttitor massa id neque. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus.</strong></p>
                    <p>Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Arcu dui vivamus arcu felis bibendum ut tristique. Vel pharetra vel turpis nunc eget lorem dolor sed viverra. Nullam eget felis eget nunc lobortis. Scelerisque eu ultrices vitae auctor eu. Ut tristique et egestas quis ipsum. Tellus in hac <a href="">habitasse platea dictumst</a> vestibulum rhoncus. Varius morbi enim nunc faucibus a pellentesque sit amet porttitor. Odio tempor orci dapibus ultrices. Quis hendrerit dolor magna eget est lorem.</p>
                    <blockquote>
                        <p>Aliquam vestibulum morbi blandit cursus risus. Quam id leo in vitae turpis massa. Non blandit massa enim dui nunc.</p>
                    </blockquote>
                    <p>Sodales neque sodales ut etiam sit amet. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. Fermentum iaculis eu non diam phasellus vestibulum lorem. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Nam at lectus urna duis. Morbi tincidunt ornare massa eget egestas. Vehicula ipsum a arcu cursus. Nec feugiat nisl pretium fusce id velit ut tortor. Varius morbi enim nunc faucibus a pellentesque sit. Cras adipiscing enim eu turpis egestas pretium aenean pharetra. Duis tristique sollicitudin nibh sit amet.</p>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h2 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Experiencia relevante</a>
                                </h2>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h2 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Publicaciones y eventos</a>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <h3>Publicaciones</h3>
                                    <ul class="bullet-list">
                                        <li>Lorem ipsum dolor sit amet</li>
                                        <li>Excepteur sint occaecat cupidatat non proident</li>
                                        <li>Excepteur sint occaecat cupidatat non proident</li>
                                    </ul>
                                    <h3>Eventos</h3>
                                    <ul class="date-list">
                                        <li>
                                            <strong>01 / 05 / 2019</strong>
                                            Lorem ipsum dolor sit amet
                                        </li>
                                        <li>
                                            <strong>15 / 10 / 2018</strong>
                                            Lorem ipsum dolor sit amet
                                        </li>
                                        <li>
                                            <strong>24 / 02 / 2018</strong>
                                            Lorem ipsum dolor sit amet
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <aside class="col-sm-4 article-aside">
                    <section class="related-services">
                        <h3>Servicios relacionados</h3>
                        <ul class="d-flex flex-wrap">
                            <li><a href="#">Corporate Governance y Compliance</a></li>
                            <li><a href="#">Fiscal</a></li>
                            <li><a href="#">Alimentación</a></li>
                            <li><a href="#">Energía y Recursos Naturales</a></li>
                            <li><a href="#">Retail</a></li>
                            <li><a href="#">Infraestructuras</a></li>
                        </ul>
                    </section>
                    <section class="mentions">
                        <h3>Menciones</h3>
                        <div class="mentions-on">
                            <p>Abogado recomendado por diferentes anuarios jurídicos como Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax.</p>
                            <p>Abogado recomendado por diferentes anuarios jurídicos como Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax.</p>
                        </div>
                        <a class="view-more" data-toggle="collapse" href="#collapseMentions" role="button" aria-expanded="false" aria-controls="collapseMentions">Ver más</a>
                        <div class="mentions-off collapse" id="collapseMentions">
                            <p>Abogado recomendado por diferentes anuarios jurídicos como Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax.</p>
                            <p>Abogado recomendado por diferentes anuarios jurídicos como Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax.</p>
                            <p>Abogado recomendado por diferentes anuarios jurídicos como Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax.</p>
                            <p>Abogado recomendado por diferentes anuarios jurídicos como Chambers Global, Chambers Europe y Best Lawyers para la práctica de Tax.</p>
                        </div>
                    </section>
                    <section class="training">
                        <h3>Formación</h3>
                        <dl>
                            <dt>Licenciado en Derecho</dt>
                            <dd>Universidad Oberta de Catalunya, 2004</dd>
                            <dt>LLM in Taxation</dt>
                            <dd>London School of Economics, 2011</dd>
                            <dt>Licenciado en Derecho</dt>
                            <dd>Universidad Oberta de Catalunya, 2004</dd>
                            <dt>LLM in Taxation</dt>
                            <dd>London School of Economics, 2011</dd>
                        </dl>
                    </section>
                </aside>
            </div>
        </article>

    </main>

    <section class="insights">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <p class="emphasis">
                        Personaliza tus insights,<br>
                        lee solo lo que te<br>
                        <strong>interesa</strong>
                    </p>
                </div>
                <div class="col-5">
                    <p class="choose-interests">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eras.</p>
                    <a href="#" class="btn btn-solid btn-main btn-arrow">Escoge tus intereses</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="chat-button-wrapper">
                <div class="chat-button">
                    <a href="#"></a>
                </div>
            </div>
            <div class="row footer-info">
                <div class="col-sm-4">
                    <img src="assets/img/Cuatrecasas-logo_white.png" alt="Cuatrecasas">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="row footer-links">
                <div class="col-sm-6">
                    <p>&copy; 2019 Cuatrecasas. All right reserved.</p>
                    <ul class="d-flex legal-info">
                        <li><a href="#">Privacy &amp; Cookies</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Contac Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="d-flex justify-content-end social-media">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
{% endblock %}


