{% extends 'web/base.html.twig' %}
{% block main %}

    <main role="main" class="insights-page">

        <article class="blog-article">
            <header id="page-header">
                <figure class="full-width">
                    <img class="vt45" src="{{ asset('web/assets/img/david-jorre-9f1gCaLkZBU-unsplash.jpg') }}" alt="">
                </figure>
                <div class="container">
                    <div class="row">
                        <div class="col-5">
                            <div class="header-info d-flex flex-column">
                                <h1 class="order-2">
                                    Conocimiento
                                </h1>
                                <nav class="order-1" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Conocimiento
                                        </a></li>
                                    </ol>
                                </nav>
                                <ul class="action-icons order-3">
                                    <li><a href="#"><i class="material-icons">share</i></a></li>
                                    <li><a href="#"><i class="material-icons">print</i></a></li>
                                    <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                                    <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                                </ul>
                                {# <a href="#" class="back-button">volver</a> #}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container insights-grid">
                <div class="row">
                    <div class="col">
                        <div class="grid-wrapper">
                            <div class="grid-box a">A</div>
                            <div class="grid-box b">B</div>
                            <div class="grid-box c">C</div>
                            <div class="grid-box d">D</div>
                            <div class="grid-box e">E</div>
                            <div class="grid-box f">F</div>
                            <div class="grid-box g">G</div>
                        </div>
                    </div>
                </div>
            </div>

        </article>

    </main>

    {% include 'web/shared/slider-cases.html.twig' %}
    {# {% include 'web/shared/related-content.html.twig' %} #}
    {% include 'web/shared/article-highlight.html.twig' %}
    {% include 'web/shared/insights.html.twig' %}

{% endblock %}
