{% extends 'cms/base.html.twig' %}

{% block title %}Edit Lawyer{% endblock %}

{% block body %}
<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <a href="{{ path('lawyer_index') }}">
        {{ 'admin.back_to_list'|trans }}
    </a>

    <div class="m-content">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    {{ 'admin.lawyers.edit.title'|trans }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        {{ include('cms/lawyer/_form.html.twig', {'button_label': 'admin.lawyers.edit.button'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}