// ==========================================================================
// COMMON ELEMENTS
// ==========================================================================

//
// TYPOGRAPHY
// --------------------------------------------------------------------------

// * Redefine the rem value while keeping it proportional.
// * Useful values, with default font-size of 16px:
// * • 62.5% -> 1rem = 10px, 0.1rem  = 1px
// * • 125%  -> 1rem = 20px, 0.05rem = 1px

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: $black;
    font-family: $body-font;
    font-size: 1.8rem;
    font-weight: 400;
    // overflow-x: hidden;
    // letter-spacing: -.015em;

    // Support for all WebKit browsers.
    -webkit-font-smoothing: antialiased;
    // Support for Safari and Chrome.
    text-rendering: optimizeLegibility;
    // Support for Firefox.
    -moz-osx-font-smoothing: grayscale;
    // Support for IE.
    font-feature-settings: 'liga';
}


 // * With default user settings:
 // * • 0.625rem = 10px
 // * • 1.25rem  = 20px
 // * • 2.5rem   = 40px

// h1 { font-size: 1.25rem; }

// @media (min-width: 320px) {
//   h1 { font-size: calc( 3.125vw + 0.625rem ); }
// }

// @media (min-width: 960px) {
//   h1 { font-size: 2.5rem; }
// }

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,.title {
    font-family: $header-font;
    font-weight: 600;
    letter-spacing: -.0415625em;
    line-height: 1.25;
    margin: 0 0;
    // margin: 3.5rem 0 2rem
}

.section-header {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.138888889;
    letter-spacing: 0;
    color: $main-color;
}

h1,.h1 {
    font-size: 3.6rem;
    line-height: 1.4;
}

h2,.h2 {
    font-size: 2.4rem;
    // letter-spacing: 0;
}

h3,.h3 {
    font-size: 1.8rem;
}

h4,.h4 {
    font-size: 2.4rem
}

h5,.h5 {
    font-size: 2.1rem
}

h6,.h6 {
    font-size: 1.6rem;
    letter-spacing: 0.03125em;
    text-transform: uppercase
}

p {
    line-height: 1.45;
    margin: 0 0 1.4em;

    strong {
        font-weight: 600
    }
}

.emphasis {
    @include highlight-text;
}

a {
    transition: all 0.3s ease-in-out;

    &:hover, &:focus, &:active {
        text-decoration: none;
        outline: none
    }
}

button {
    &:hover, &:focus, &:active {
        outline: none
    }
}

// .img-responsive {
//     display: block;
//     max-width: 100%;
//     height: auto;
// }

// .project-item {
//     position: relative;
//     overflow: hidden;
//     transition: 0.3s;
// }

// .project-item:hover .project-hover-2 {
//     background-color: rgba(0,0,0,.5);
// }

// .project-item img {
//     width: 100%;
//     transform-origin: left bottom 0;
//     transition: 0.6s;
// }

// .project-item:hover img {
//     transform: scale(1.1) translate(-20px);
// }


//
// LAYOUT
// --------------------------------------------------------------------------

.main-nav-wrapper {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    // background-color: white;

    nav {
        text-transform: uppercase;
    }
    .nav-link {
        font-weight: 400;
    }

    .navbar {
        padding: 0 1rem;
    }
}

#top-nav {
    position: absolute;
    top: 0;
    right: 0;

    .nav-link {
        margin: 0 0.5em;
        font-size: 80%;
        font-weight: 500;
        color: $black;

        &:hover, &:focus, &:active {
            @include link-hover;
            color: $black;
        }
    }
}

#main-nav {
    // border-bottom: 1px solid $white;
    margin-top: 2rem;

    .navbar-brand {
        position: relative;
        z-index: 1;
        font-size: 3rem;
        font-weight: 600;
    }

    .navbar-nav {
        position: relative;
        top: 20px;
        margin: 0 0 0 30px;
        // background-color: $white;

        > li {
            z-index: 1;
        }

        &.main-nav-left {
            &:before {
                content: '';
                position: absolute;
                bottom: -20px;
                right: -24px;
                width: 200%;
                height: 500%;
                background-color: $white;
            }

            .navbar-toggler {
                display: block;
                padding: .25rem 3rem .25rem 6rem;
                border: none;

                i {
                  font-size: 32px;
                  font-weight: normal;
                  color: $complementary-color;
                }
            }
        }
    }

    .nav-link {
        margin: 0 1em;
        font-weight: 600;
        text-transform: none;
        color: $main-color;

        &:hover, &:focus, &:active {
            @include link-hover;
        }
    }
}

footer {
    padding-bottom: 2em;
    background-color: $white-medium;

    .chat-button-wrapper {
        position: relative;
    }

    .chat-button {
        position: absolute;
        top: -30px;
        right: -36px;

        a {
            position: relative;
            display: block;
            width: 70px;
            height: 70px;
            text-align: center;
            color: $white;
            background-color: $complementary-color;
            border-radius: 50%;
            box-shadow: 0 0 0 0 $white;
            transition: all 0.2s ease-in-out;

            &:hover, &:focus, &:active {
                @include button-hover;
                color: $complementary-color;
                background-color: $white;
                box-shadow: 0 2px 0 1px $complementary-color;
                transform: scale(1.1);

                &:after {
                    color: $complementary-color;
                }
            }

            &:after {
                position: absolute;
                top: 10px;
                left: 18px;
                content: '\e0b7';
                font-family: 'Material Icons';
                font-size: 36px;
            }
        }
    }

    img {
        margin-bottom: 0.8em;
    }
    p {
        font-size: 80%;
        color: $black;
    }

    .footer-info {
        padding: 1.6em 0;

        p {
            line-height: 1.2;
            color: $black;
        }
    }

    .footer-links {
        padding: 0.8em 0;
        border-top: 1px solid $gray-light;

        p {
            margin-bottom: 0;
            color: $gray-medium;
        }
    }

    .legal-info {
        @include reset-list;

        li {
            position: relative;
            margin-right: 0.4em;
            padding-right: 0.6em;

            &:after {
                position: absolute;
                top: 8px;
                right: 0;
                width: 1px;
                height: 15px;
                content: "";
                background: $white;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        a {
            font-size: 90%;
            font-weight: 600;
            color: $gray-medium;

            &:hover, &:focus, &:active {
                @include link-hover;
            }
        }
    }

    .social-media {
        @include reset-list;

        li {
            margin-left: 0.2em;
        }

        a {
            display: block;
            width: 38px;
            height: 38px;
            text-align: center;
            color: $gray-medium;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            &:hover, &:focus, &:active {
                @include button-hover;
            }

            i {
                line-height: 2;
            }
        }
    }

}


//
// BUTTONS
// --------------------------------------------------------------------------

.btn-solid {
    @include reset-button;
    color: $white;
    background-color: $medium-black;
    border-color: $medium-black;
}

.btn-main {
    @include reset-button;
    color: $white;
    background-color: $complementary-color;
    border: 1px solid transparent;
    border-color: $complementary-color;
    // font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;

    &.trans {
        text-transform: none;
        color: $complementary-color;
        background-color: transparent;
        border: 2px solid transparent;
        border-color: $complementary-color;

        &:hover, &:focus, &:active {
            // @include button-hover-shadow;
            color: $white !important;
            background-color: $complementary-color !important;
            border-color: $complementary-color !important;
            box-shadow: -6px 6px 0 $main-color;
        }
    }

    &:hover, &:focus, &:active {
        // @include button-hover-shadow;
    }

    &.hover-white {
        &:hover, &:focus, &:active {
            @include button-hover-shadow-white;
        }
    }
}

.btn-border {
    @include reset-button;
    color: $black;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 0.25rem;

    &.white {
        color: $white;
        background-color: transparent;
        border-color: $white;
    }

    &:hover, &:focus, &:active {
        @include button-hover;
        // @include button-hover-shadow;
    }

    &.view-more {
        min-width: 33.3333%;
    }
}

.btn-arrow {
    @include button-arrow;

    &:hover, &:focus, &:active {
        // @include button-hover;
        @include button-hover-shadow;
    }
}

.btn-border-arrow {
    @include reset-button;
    @include button-style($white, $complementary-color, $complementary-color);

    &:hover, &:focus, &:active {
        @include button-hover-style($complementary-color, $white, $white)
    }
}


.btn-border-white {
    @include reset-button;
    @include button-style($white, transparente, $white);
    @include button-arrow;

    &:hover, &:focus, &:active {
        @include button-hover-style($complementary-color, $white, $white);
    }
}


.btn-naked {
    @include reset-button;
    color: $black;
    background-color: $white;

    &:hover, &:focus, &:active {
        @include button-hover;
    }

    &.view-more {
        min-width: 33.3333%;
    }
}

.button-wrapper {
    text-align: center;
}


.button-bookmark {
    @include reset-button;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    margin: 0 0;
    padding: 0.2em;
    color: $complementary-color;
    background-color: transparent;
    border-color: transparent;
    border-radius: 50%;
    z-index: 3;

    &:after {
        position: relative;
        top: 0;
        left: 0;
        content: '\e867';
        font-family: 'Material Icons';
        font-size: 24px;
        font-weight: normal;
        line-height: 1.2;
    }

    &:hover, &:focus, &:active {
        // @include button-hover;
        color: $white;
        background-color: $complementary-color;
        border-color: $complementary-color;
    }

    &.bookmark-on {
        &:after {
            content: '\e866';
        }
    }
}



//
// HOME
// --------------------------------------------------------------------------

#home-header {
    $header-height: 100vh;
    $header-top: 114px;

    width: 100%;
    height: $header-height;
    margin-bottom: 5em;
    overflow: hidden;

    // border: 1px solid red;

    .full-width {
        display: block;
        width: 100vw;
        height: 100%;
        position: relative;
        left: 50%;
        right: 50%;
        margin: 0 -50vw;
        padding: 0 0;
        overflow: hidden;
        // border: 1px solid red;

        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            max-width: none;
            height: auto;
        }
    }

    .header-wrapper {
        @include reset-flex;

        position: absolute;
        top: $header-top;
        width: 42vw;
        height: calc(#{$header-height} - #{$header-top});
        margin: 0 0;
        padding: 0 0;
        background-color: $white;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -200%;
            width: 200%;
            height: 100%;
            background-color: $white;
        }

        .category {
            margin-bottom: 0.6em;
            font-size: 90%;
            font-weight: 600;
            text-transform: uppercase;
        }

        .header-info {
            padding: 3em 3em 0 0;
            background-color: $white;

            .category {
                color: $gray-medium;
            }

            h1 {
                margin-bottom: 1em;
                font-weight: 700;
                letter-spacing: -.03em;
            }
        }

        .header-button {
            $transition-hover: all 0.3s ease-out;

            position: relative;
            padding: 2em 4em 2.6em 0;
            background-color: $complementary-color;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -200%;
                width: 200%;
                height: 100%;
                background-color: $complementary-color;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -35%;
                width: 35%;
                height: 100%;
                background-color: $main-color;
                transition: $transition-hover;
            }

            .category {
                color: $main-color;
            }

            .intro {
                font-weight: 600;
                line-height: 1.2;
                color: $white;
            }

            .icon {
                position: absolute;
                top: calc(50% - 32px);
                right: -20%;
                width: auto;
                height: auto;
                font-size: 64px;
                line-height: 1;
                color: $complementary-color;
                z-index: 3;
                transition: $transition-hover;
            }

            &:hover,&:focus,&:active {

                .icon {
                    right: -40%;
                    color: $main-color;
                }

                &:after {
                    right: -50%;
                    width: 50%;
                    background-color: $complementary-color;
                }
            }
        }
    }
}


@media (max-width: 2560px) {
    #home-header {
        .header-wrapper {
            // width: 30vw;
            // height: 71vh;

            .header-info {
                padding: 8em 6em 0 0;
            }
        }
    }
}

@media (max-width: 1440px) {
    #home-header {
        .header-wrapper {
            // width: 44vw;
            // height: 69.4vh;

            .header-info {
                padding: 3em 6em 0 0;
            }
        }
    }
}


@media (max-width: 1200px) {
    #home-header {
        .header-wrapper {
            // width: 60vw;
            // height: 69.2vh;

            .header-info {
                padding: 3em 6em 0 0;
            }
        }
    }
}



.search-component {

    $offset: -68px;

    margin-top: 8em;
    margin-bottom: 4em;
    background-color: $white-medium;

    .search-wrapper {
        position: relative;
        top: $offset;
    }

    .nav-tabs {}

    .tab-content {
        margin-bottom: $offset;
        padding: 4em;
        background-color: $white-medium;
    }

    .search-name {
        margin-bottom: 1.4em;
        text-align: center;

        button {
            @include reset-button;
            position: absolute;
            top: -57px;
            right: 0;

            height: 57px;


            padding: 0.3em 0.6em;
            font-size: 32px;

            background: transparent;
            border: none;

            .icon {
                color: $complementary-color;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                background-color: $complementary-color;

                .icon {
                    color: $white;
                }
            }
        }
    }

    .search-filters {
        text-align: center;
    }
}



//
// BOXES
// --------------------------------------------------------------------------

// Box elements

.box-header {
    > div {
        display: inline-block;
        // font-size: 90%;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1;
        color: $medium-black;
    }

    .info-date {
        font-weight: 600;
        line-height: 1;
    }

    .info-type {
        position: relative;
        margin-left: 20px;
        line-height: 1;

        &:before {
            position: absolute;
            top: -2px;
            left: -15px;
            content: '·';
            font-size: 1.4em;
            font-weight: 400;
            line-height: 1;
            color: $gray-dark;
        }
    }

    .info-author {
        display: block;
        margin-top: 0.2em;
        line-height: 1;

        a {
            @include link-line-color;
        }
    }

    .button-bookmark {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.box-body {
    margin: 1.8em 0;

    h3 {

        a {
            @include link-line-black;
            font-size: 1.9rem;
            line-height: 1.6;
            font-weight: 600;
            // @include link-line-black;
        }
    }

    .info-time {
        margin-top: 0.5em;
        font-size: 110%;
        font-weight: 300;
        letter-spacing: 0;
        color: $medium-black;
    }
}

.box-footer {
    margin-top: auto;

    .list-inline-dots {
        li {
            font-size: 80%;
            line-height: 1;
        }
    }
}


// Box types

.box {
    @include reset-flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    height: 100%;

    position: relative;
    min-height: 320px;
    margin: 0 0;
    padding: 2em;
    // background-color: $white;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.23);
    // box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(255,255,255,0.23);
    // box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);

    > div {
        display: inline-block;
        font-weight: 400;
        letter-spacing: 0;
        color: $medium-black;
        z-index: 1;
    }

    .info-date {
        font-size: 80%;
        // font-weight: 600;
    }

    .info-type {
        font-size: 90%;
    }

    &:before {
        // display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        // border: 2px solid transparent;
        // outline-offset: 2px;

        background-color: $white;
        // background-color: $white-dark;
        box-shadow: 0 3px 12px rgba(255, 255, 255, 0.16), 0 3px 12px rgba(255, 255, 255, 0.23);
        transition: all 0.2s ease-out;
    }

    &.box-article {
        &:before {
            // background-color: $white;
        }
    }

    &.box-event {
        &:before {
            // background-color: $white-medium;
        }
    }

    &:hover {
        &:before {
            background-color: $white;
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            transform: scale(1.1);
        }
    }
}


// Box wrappers

.box-articles-wrapper {
    @include reset-flex-stretch;

    > .box {
        width: 31.5%;
    }
}

.box-news-wrapper {
    @include reset-flex-horizontal;
    align-items: center;
    position: relative;

    > * {
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: -20%;
        right: 35%;
        width: 200%;
        height: 140%;
        background-color: $white-dark;
    }


    .box-news {
        flex: 40%;

        @include reset-flex;
        height: 100%;
        margin-right: 4em;
        justify-content: stretch;
        align-items: stretch;
        align-content: flex-start;

        .box-header {

            .info-type,
            .tag-link {
                font-weight: 700;
            }

            .info-author {
                font-size: 90%;
            }

            h2 {
                font-size: 4.4rem;
                font-weight: 700;
                line-height: 1.2;
                color: $main-color;
            }

        }

        .box-body {
            margin: 1.8em 0;

            h3 {
                // font-size: 3.2rem;
                // font-weight: 700;
                // line-height: 1.3;

                a {
                    @include link-line-black;
                    font-size: 3.2rem;
                    font-weight: 700;
                    line-height: 1.3;
                    color: $gray-dark;
                }
            }

            .info-time {
                margin-top: 0.5em;
                font-size: 110%;
                font-weight: 300;
                letter-spacing: 0;
                color: $medium-black;
            }
        }

        .box-footer {
            .list-inline-dots {
                li {
                    font-size: 90%;
                }
            }
        }
    }

    .box-img {

        flex: 60%;
        @include reset-figure;

            box-shadow: 2px 2px 20px rgba(0,0,0,.25);

        img {
            // display: none;
            width: 100%;
            height: auto;
        }
    }
}




// >>>>>>>>>>>>>>>>>>>>>>>>>>>>> PONERLO EN GENERAL COMPONENTS ¿?

.map-pin {
    position: relative;
    top: 3px;
    padding-left: 1.4em;
    font-size: 85%;
    font-weight: 400;
    line-height: 1.6;
    text-transform: uppercase;
    color: $complementary-color;

    &:after {
        @include icons-ionicons(-2px,auto,auto,0);
        content: '\f3a3';
    }

    .map-pin-link {
        @include link-line-color;
    }
}

.list-inline-dots {
    @include reset-list;
    @include reset-flex-horizontal;

    li {
        position: relative;
        margin-right: 20px;
        // font-size: 80%;
        font-weight: 400;
        line-height: 1.2;
        color: $gray-dark;

        &:after {
            position: absolute;
            top: 0;
            right: -12px;
            content: '·';
            font-size: 1.2em;
            font-weight: 600;
            line-height: 1;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        .tag-link {
            @include link-line-color;
        }
    }
}

.home {

    .owl-carousel {

        // https://stackoverflow.com/questions/48321377/box-shadow-on-items-in-owl-carousel-being-cut-off
        .owl-stage-outer {
            overflow: visible;
        }

        .owl-item {
            opacity: 0;
            transition: opacity 0.3s;
        }

        .owl-item.active {
            opacity: 1;
        }

        .owl-nav {
            position: absolute;
            top: -98px;
            right: 0;
            z-index: -1;
            margin-top: 0;
            text-align: right;

            .owl-prev,
            .owl-next {
                background-color: $complementary-color;
                transition: all 0.2s ease-in-out;

                &:hover,&:focus,&:active {
                    background-color: $main-color;
                    // transform: scale(1.1);

                        // .icon {
                        //     color: $main-color !important;
                        // }
                }

                &:focus,&:active {
                    // opacity: 0.5;
                }
            }

            .nav-btn {
                &.prev-slide,
                &.next-slide {
                    width: 5.18em;
                    height: 5.46em;
                    // padding: 0 2em;

                    .icon {
                        font-size: 60px;
                        font-weight: normal;
                        line-height: 1.62;
                        color: $white;
                    }
                }
            }

        }
    }

    .article-slider {
        position: relative;
        display: block;
        margin: 1em 0 6em;
        padding: 5.4em 0;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 21vw;

            display: block;
            width: 100%;
            height: 100%;

            background-color: $gray-dark;
        }
    }

    .article-highlight {
        position: relative;
        display: block;
        margin: 9em 0 4.35em;
    }

    .testimonials {
        display: block;
        margin: 0 0;
        padding: 4em 0;
        // height: 300px;
        background-color: $white-medium;

        .testimonial-box {
            &:nth-child(1) {
                background-color: $complementary-color;
            }
            &:nth-child(2) {
                background-color: $gray-medium;
            }
            &:nth-child(3) {
                background-color: $main-color;
            }
        }
    }

    .brand-logos {
        display: block;
        margin: 0 0;
        padding: 3em 0;
        background-color: $white;

        .col {
            text-align: center;

            a {
                display: block;
                width: 100%;
                height: 100%;
                color: $gray-light;
                outline: 2px solid transparent;

                &:hover,&:focus,&:active {
                    outline-color: $gray-light;
                }
            }
        }
    }
}


.cover-photo {
    position: relative;
    background-color: $white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-photo-full-height {
    position: relative;
    background-color: $white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



// ==========================================================================
// GENERAL COMPONENTS
// ==========================================================================


//
// SHARED
// --------------------------------------------------------------------------

.hash-text {
    position: relative;
    display: block;
    margin: 0 0 1em;
    font-weight: 600;
    line-height: 1;
    color: $dark-black;

    &:before {
        content: "#";
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1em;
        width: 4px;
        height: 50px;
        background-color: $black;
    }
}

.breadcrumb {
    padding: 0 0;
    margin: 1em 0 2.6rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0;

    .breadcrumb-item {
        font-size: 80%;
        color: $white;

        a {
            @include text-link($white,$secondary-color,transparent,$secondary-color);
            font-weight: 300;
        }
    }
}

.action-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    @include reset-list;
    margin-top: 2em;

    li {
        // margin-left: 0.4em;

        a {
            display: block;
            width: 40px;
            height: 40px;
            text-align: center;
            color: $complementary-color;
            // border: 1px solid #c6c6c6;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            i {
                font-size: 20px;
                line-height: 2;
            }

            &:hover, &:focus, &:active {
                @include button-hover;

                i {
                    color: $white;
                }
            }
        }
    }
}

.back-button {
    position: relative;
    padding-left: 1em;
    font-size: 80%;
    font-weight: 600;
    color: $black;

     &:after {
        @include icons-ionicons(2px,auto,auto,0);
        top: 2px;
        left: 0;
        content: '\f3cf';
        font-size: 18px;
        font-weight: normal;
    }

    &:hover, &:focus, &:active {
        @include link-hover;
    }
}

.bg-colored {
    padding-top: 3em;
    background-color: $light-black;
}


//
// MAIN PHOTO HEADER
// --------------------------------------------------------------------------

#page-header {
    width: 100%;
    height: auto;
    margin-bottom: 3em;
    overflow: hidden;

    .full-width {
        display: block;
        width: 100vw;
        height: 400px;
        position: relative;
        left: 50%;
        right: 50%;
        margin: 0 -50vw;
        padding: 0 0;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            max-width: none;
            height: auto;

            &.v-top {
                top: 0;
            }

            &.v-center {
                top: -120%;
            }

            &.v-middle {
                top: -50%;
            }

            &.vt20 {
                top: -20%;
            }

            &.vt45 {
                top: -45%;
            }

            &.vt100 {
                top: -100%;
            }

            &.v-bottom {
                top: auto;
                bottom: 0;
            }

            &.vb125 {
                top: auto;
                bottom: -125%;
            }

            &.vb250 {
                top: auto;
                bottom: -250%;
            }

            &.x-flip {
                transform: scaleX(-1);
            }
        }
    }

    .header-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        // height: 160px;
        margin: 0 0;
        padding: 2em 0;
        color: $white;
        background-color: $main-color;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: $main-color;
        }

        .hash-text {
            margin-top: 1.4em;
        }

        h1 {
            padding: 0 2em 0.2em 0;
            // text-transform: uppercase;
        }

        &.event {
            h1 {
                text-transform: none;
                letter-spacing: 0;
            }
        }

        .section {
            font-size: 80%;
            font-weight: 600;
            text-transform: uppercase;
            color: $medium-black;
        }

        .date-time,
        .address {
            font-size: 90%;

            &:before {
                opacity: 0.5;
            }
        }

        .date-time {
            margin: 0.4em 0;
        }

        .address {
            margin-bottom: 1.6em;

            .location {
                padding-left: 10px;

                &:before {
                    position: relative;
                    left: -5px;
                    content: '·';

                }
            }
        }

        .breadcrumb {
            margin: 0.5em 0 0;
        }

        .action-icons,
        .back-button {
            position: absolute;
            right: 1em;
        }

        .action-icons {
            bottom: 0.6em;
        }

        .back-button {
            top: 0.8em;
        }
    }
}

.cover-photo {
    position: relative;
    background-color: $white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}


//
// ICONS
// --------------------------------------------------------------------------

.date,
.time,
.date-time,
.address,
.contact {
    position: relative;
    padding-left: 1.6em;

    &:before {
        @include icons-ionicons(0,auto,auto,0);
        // opacity: 0.5;
    }
}

.date {
    font-variant: small-caps;

    strong {
        font-size: 110%;
    }

    &:before {
        content: '\f2d1';
    }
}

.time {
    &:before {
        content: '\f402';
    }
}

.date-time {
    &:before {
        content: '\f2d1';
    }
}

.address {
    .city {
        text-transform: uppercase;
    }

    .location {
        font-size: 90%;
        opacity: 0.5;
    }

    &:before {
        content: '\f3a3';
    }
}

.contact {
    .name {
        font-weight: 600;
    }

    .tel {
        position: relative;
        padding-left: 10px;

        &:before {
            position: relative;
            left: -5px;
            content: "|";
        }

    }

    &:before {
        content: '\f3a0';
    }
}



//
// BLOG LIKE LAYOUT
// --------------------------------------------------------------------------

.article-section {

    &.detail {
        margin-bottom: 8em;
        padding-right: 3em;
    }

    h2 {
        // position: relative;
        // margin-left: -1em;
        margin-bottom: 1.2em;
        font-size: 3.4rem;
        font-weight: 700;
        color: $gray-dark;

        &:not(:first-child) {
            margin-top: 2em;
        }

        // &:after {
        //     display: none;
        //     content: "";
        //     position: absolute;
        //     top: 1.8em;
        //     left: 0;
        //     width: 60px;
        //     height: 4px;
        //     background-color: $medium-black;
        // }
    }

    a {
        @include text-link($secondary-color,$black,$white,$black);
    }

    .intro {
        font-size: 110%;
        font-weight: 700;
    }

    .cite-quote {
        position: relative;
        float: left;
        width: calc(50% - 8em);
        margin: 4em 4em;
        padding: 0;
        text-align: left;

        p {
            margin-bottom: 0.5em;
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1.2;
            color: $main-color;
        }

        cite {
            font-size: 2rem;
            font-weight: 600;
            font-style: normal;
            color: $complementary-color;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -20px;
            width: 2px;
            height: 30px;
            background-color: $complementary-color;
        }

    }

    .inline-quote {
        // quotes: "“" "”" "‘" "’";
        position: relative;
        max-width: 65%;
        margin: 3em auto;
        font-size: 110%;
        font-weight: 600;
        text-align: center;

        &:before,
        &:after {
            content: '\0022';
            position: absolute;
            font-size: 12rem;
            font-weight: 700;
            font-style: italic;
            color: $light-black;
        }

        &:before {
            // content: '\201C';
            // content: open-quote;
            top: -85px;
            left: -45px;
            transform: rotateY(180deg);
        }

        &:after {
            // content: '\201D';
            // content: close-quote;
            bottom: -85px;
            right: -45px;
        }

        p {
            margin-bottom: 0;
        }
    }
}

.related-services {
    margin-top: 2em;

    h3 {
        margin-bottom: .6em;
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 0;
    }

    .tag-link {
        font-weight: 600;
    }
}

.article-aside {

    section {
        margin-bottom: 3em;

        h3 {
            margin-bottom: 1.3em;
            padding: 0.8em 0.2em 0.2em 1em;
            line-height: 1;
            text-transform: uppercase;
            border-left: 4px solid $black;
        }
    }
}


//
// ASIDE
// --------------------------------------------------------------------------

.related-services-detail {
    ul {
        @include reset-list;
        margin-bottom: 1.2em;
    }

    li {
        margin: 0 0.6em 0.6em 0;
    }

    a {
        display: block;
        padding: 0.2em 0.8em;
        font-size: 80%;
        color: #8b8b8b;
        border: 1px solid #bebebe;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;

        &:hover,&:focus,&:active {
            text-decoration: none;
            color: $white;
            background-color: $black;
            border-color: $black;
        }
    }
}

.mentions {
    p {
        margin-bottom: 1.6em;
        font-size: 90%;
        line-height: 1.2;
        font-weight: 600;
        color: $gray-600;
    }

    .mentions-on {}
    .mentions-off {
        overflow: hidden;
    }

    .view-more {
        position: relative;
        display: inline-block;
        margin: 0 0 1.5em;
        padding: 0.3em 3em 0.3em 0;
        font-size: 90%;
        font-weight: 600;
        line-height: 1.2;
        color: $gray-500;
        box-shadow: 0 1px 0 $gray-500;

        &:after {
            @include icons-ionicons(-5px,0,auto,auto);
            content: "\f3d0";
            font-size: 32px;
        }

        &:hover {
            color: $black;
            box-shadow: 0 1px 0 $black;
        }

        &:focus, &:active {}

        &[aria-expanded = true] {
            &:after {
                transform: rotate(-180deg);
            }
        }
    }
}

.training {
    dl {
        @include reset-list;
        color: $gray-600;

        dt {
            line-height: 1.2;
        }
        dd {
            margin-bottom: 1.3em;
            font-size: 90%;
        }
    }
}

.key-contacts {
    padding-bottom: 2em;

    .contact-item-wrapper {

        .contact-item {
            @include reset-flex-horizontal;
            position: relative;
            width: 100%;
            height: 100%;
            padding: 1em 1em 1.2em;
            color: $black;
            background-color: $light-black;
            border-bottom: 1px solid $gray-100;

            &:before {
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                // outline: 1px solid transparent;
                background-color: transparent;
                transition: all 0.2s ease-out;
            }

            &:hover {
                border-bottom: 1px solid $light-black;

                &:before {
                    // outline: 1px solid $secondary-color;
                    background-color: $white;
                    box-shadow: 0 0 40px rgba(0,0,0,.15);
                    transform: scale(1.08);
                    z-index: 1;
                }
            }

            .contact-photo {
                @include reset-figure;
                position: relative;
                width: 60px;
                height: 60px;
                margin-right: 0.5em;
                border-radius: 50%;
                transition: border-radius 0.2s;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 3px solid $white;
                    transition: border-radius 0.2s;
                }
            }

            &:hover {
                .contact-photo {
                    border-radius: 6px;

                    img {
                        border-radius: 6px;
                    }
                }
            }

            .contact-info {
                position: relative;
                z-index: 1;

                .contact-name {
                    margin-bottom: 0.2em;
                    font-size: 95%;
                    font-weight: 600;
                    line-height: 1.2;
                    text-transform: uppercase;
                }

                .contact-position,
                .contact-email {
                    font-size: 90%;
                    line-height: 1;
                }

                .contact-email {
                    margin-top: 0.5em;
                    font-weight: 600;
                    color: $medium-black;
                }

            }
        }
    }

    .btn {
        position: relative;
        width: 100%;
    }
}

.practical-information {
    margin-top: -14px;
    margin-bottom: 5em !important;
    color: $white;
    background-color: $half-black;
    outline: 40px solid $half-black;

    h3 {
        border-left: 4px solid $white !important;
    }

    .information-wrapper {

        & > * {
            display: block;
            margin-top: 0.6em;
        }

        .address {
            .city {
                display: block;
                margin-bottom: -.2em;
            }
        }

        .btn {
            width: 100%;
            margin-top: 1.6em;
            border-radius: 4px;
        }
    }
}

.documentation {
    ul {
        @include reset-list;
        margin-bottom: 1.2em;
    }

    li {
        margin: 0.2em 0;
    }

    a {
        position: relative;
        display: block;
        padding: 0.2em 1.4em;
        font-size: 90%;
        font-weight: 600;
        color: $black;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;

        &:after {
            @include icons-ionicons(4px,20px,auto,auto);
            content: '\f3d6';
            // font-weight: 600;
        }

        &:hover,&:focus,&:active {
            text-decoration: none;
            color: $white;
            background-color: $black;
            border-color: $black;
        }
    }
}



//
// RESPOSIVE TABLE
// --------------------------------------------------------------------------



//
// LISTS
// --------------------------------------------------------------------------

.bullet-list {
    @include reset-list;
    display: block;

    li {
        position: relative;
        margin-left: 1em;
        padding-left: 1em;
        color: $gray-800;

        &:before {
            @include icons-ionicons(7px,auto,auto,0);
            top: 7px;
            left: 0;
            content: '\f10a';
            font-size: 12px;
        }
    }
}

.date-list {
    @include reset-list;
    display: block;

    li {
        margin-bottom: 1em;
        margin-left: 1em;
        padding-bottom: 0.5em;
        color: $gray-800;
        border-bottom: 1px solid $gray-400;

        strong {
            display: block;
            line-height: 1;
            color: $gray-600;
        }

        // &:last-child {
        //     margin-bottom: 0;
        //     padding-bottom: 0;
        // }
    }
}

.list-button-link {
    @include reset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1em;

    li {
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(33.3333% - 2em);
        margin: 0 1em;

        a {
            flex: 1 0 auto;
            position: relative;
            display: block;
            padding: 1.2em 2em 0.6em 0.8em;
            font-weight: 700;
            line-height: 1;
            color: $black;
            border-bottom: 2px solid $medium-black;

            &:after {
                position: absolute;
                top: 16px;
                right: 12px;
                content: '\f3d3';
                font-family: 'Ionicons';
                font-size: 32px;
                font-weight: 600;
            }

            &:hover, &:focus, &:active {
                color: $white !important;
                background-color: $complementary-color !important;
                border-color: transparent !important;

                box-shadow: -6px 6px 0 $main-color;

                // box-shadow: -5px 5px 1px $primary-color, 0 -2px 1px $secondary-color;
            }


        }


    }

}


//
// CONTACT BOX
// --------------------------------------------------------------------------


//
// TABS
// --------------------------------------------------------------------------

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px
}

.nav-tabs .nav-link {
    padding: 0.6em 2.4em;
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: -.02em;
    color: $gray-medium;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem
}

.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover {
    color: $black;
    border-color: $white-dark $white-dark $white-dark;
}

.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active {
    color: $black;
    background-color: $white-medium;
    border-color: $white-dark $white-dark $white
}

.nav-tabs .nav-link.disabled {
    color: $white-medium;
    background-color: transparent;
    border-color: transparent
}





//
// ACCORDION
// --------------------------------------------------------------------------

.accordion {
    margin: 3em 0 2em;

    &.panel-group {

        .panel,
        .panel-heading {
            @include reset-margins;
        }

        .panel-title {
            font-size: 2rem;
            letter-spacing: -.0315625em;

            a {
                position: relative;
                display: block;
                padding: 1em 1.8em;
                color: $black;
                background-color: $white;
                border-bottom: 1px solid #afafaf;
                transition: all 0.3s ease-in-out;

                &:hover, &:focus, &:active {
                    text-decoration: none;
                    background-color: #f7f7f7;
                }

                &:before {
                    @include icons-ionicons(20px,30px,auto,auto);
                    content: '\f3d1';
                }

                &:not(.collapsed) {
                    font-weight: 700;
                    background-color: #f7f7f7;
                    border-bottom: 1px solid transparent;

                    &:before {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        .panel-body {
            position: relative;
            padding: 0 2em 2em;
            background-color: #f7f7f7;

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: $black;
                content: "";
            }

            h3 {
                padding: 0.5em 0 1em;
                font-size: 1.6rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $black;
            }

            p {
                font-size: 90%;
                color: $gray-800;

                &:last-child {
                    margin-bottom: 0
                }
            }

            ul {
                margin: 0.5em 0 2em;
                font-size: 90%;
                color: $gray-800;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}





