// ==========================================================================
// SHARED COMPONENTS
// ==========================================================================

//
// INSIGHTS
// --------------------------------------------------------------------------
.insights {
    margin-top: 0;
    padding: 3em 0;
    color: $white;
    background-color: $main-color;

    .choose-interests {
        margin-top: 0.5em;
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2;
    }
}


//
// EXPERTISE
// --------------------------------------------------------------------------
.expertise {
    margin: 2em 0 4em;
    padding: 8em 0 0;
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    [class^="col"] {
        color: $white;
        background-color: $gray-medium;
    }

    .section-header {
        margin-bottom: 1em;
        padding: 1em 0 0 0.8em;
        color: $gray-dark;
    }

    .expertise-wrapper {
        @include reset-flex-stretch;
        padding: 0 2em 4em;

        > .expertise-item {
            width: 30%;
            color: $white;

            a {
                position: relative;
                display: block;
                color: $white;
            }

            .title {
                margin-bottom: .6em;
                font-size: 2rem;
            }

            .content {
                // margin-bottom: auto;
            }

            .icon {
                display: block;
                margin-top: 1em;
                // position: absolute;
                // bottom: 0;
            }

        }
    }
}



//
// HIGHLIGHT CONTENT (Articles & Events)
// --------------------------------------------------------------------------

.highlight-content-wrapper {
    text-align: center;
    margin-bottom: 4em;

    .section-header {
        margin-bottom: 3rem;
    }

    .highlight-content-boxes {
        @include flex-boxes;
        justify-content: flex-start;
    }

    .card {
        @include card-boxes;
        // padding-bottom: 1em;
        // width: calc(33.3333% - 2em);
        width: auto;
        flex: 1;
        border: none;
        border-bottom: 1px solid $gray-100;

        @include img-hover-fx;

        figure {
            @include reset-figure;
            max-height: 230px;
        }
    }

    .card-article {}

    .card-event {

        .btn {
            // width: calc(100% - 2em);
            // margin-left: 1em;
            width: 100%;
            padding-right: 3em;
            text-align: right;
            z-index: 3;

            &:hover {
                box-shadow: 0 0 0 transparent;
            }
        }
    }

    .card-header,
    .card-footer {
        background-color: transparent;
    }

    .card-header {
        position: relative;
        min-height: 50px;
        margin: 0 1em;
        padding: 0 0;
        border-bottom: 0 solid rgba(0,0,0,0);

        .header-title {
            @include reset-margins;
            position: relative;
            max-width: calc(100% - 50px);
            padding: 1.2em 0 0 1em;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: -.06rem;
            text-transform: uppercase;
            color: $black;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 40px;
                background-color: $black;
            }
        }

        .bookmark-button {
            @include reset-button;
            position: absolute;
            top: 10px;
            right: 0;
            width: 38px;
            height: 38px;
            margin: 0 0;
            padding: 0.2em;
            color: $dark-black;
            border-radius: 50%;
            z-index: 3;

            &:after {
                position: relative;
                top: 0;
                left: 0;
                content: '\e867';
                font-family: 'Material Icons';
                font-size: 24px;
                font-weight: normal;
                line-height: 1.2;
            }

            &.bookmark-on {
                &:after {
                    content: '\e866';
                }
            }

            &:hover, &:focus, &:active {
                @include button-hover;
            }
        }
    }

    .card-info {
        margin: 0 1em;
        padding: 0 0;

        .info-date {
            font-size: 84%;
            font-weight: 400;
            color: $soft-black;
        }

        .info-title {
            font-size: 90%;
            font-weight: 600;
            letter-spacing: 0;
            text-transform: uppercase;
            color: $medium-black;
        }
    }

    .card-body {
        @include reset-flex;
        align-items: stretch;
        justify-content: flex-start;

        margin: 1em 1em;
        padding: 0 0;

        h3 {
            margin-bottom: 0.5em;
            font-weight: 700;
        }

        p {
            margin-bottom: 1em;
            font-size: 90%;
            line-height: 1.2;
            color: $medium-black;
        }

        .map-pin {
            position: relative;
            margin-top: 1em;
            padding-left: 1.3em;
            font-weight: 600;
            text-transform: uppercase;
            color: $soft-black;

            &:after {
                @include icons-ionicons(-2px,auto,auto,0);
                content: '\f3a3';
            }
        }
    }

    .card-footer {
        margin: 0 0 auto;
        padding: 0 0;
        background-color: rgba(0,0,0,0);
        border-top: none;

        .view-more {
            min-width: auto;
            padding: 1em 3.6em 1em 1.2em;
            font-size: 90%;
            line-height: 1;
            white-space: nowrap;
            z-index: 3;

            &:after {
                right: 26px;
                top: 8px;
                font-size: 36px;
            }

            &:hover, &:focus, &:active {
                padding-right: 21em;
            }
        }
    }

    .button-wrapper {
        .view-more {
            margin: 6rem 0 3rem;
        }
    }

}


//
// TECH CHANNEL
// --------------------------------------------------------------------------

.tech-channel {
    position: relative;
    margin-bottom: 6em;
    background-color: $light-black;

    figure {
        @include reset-figure;
        margin-right: 2em;
        width: 800px;
        // overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .tech-info {
        @include marked-box;
        @include reset-flex;
        align-items: flex-start;
        justify-content: center;
        padding: 2em 1.2em;

        h5 {
            margin-bottom: 0.6em;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 0;
            color: $medium-black;
        }
    }

}


//
// CALL TO ACTION (Talent / Innovation / etc...)
// --------------------------------------------------------------------------

.call-to-action {
    margin-bottom: 8rem;
    color: $white;
    background-color: $medium-black;

    figure {
        @include reset-figure;
        @include stretch-to-left;
        max-height: 460px;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    .banner-info-wrapper {
        padding: 2rem 0 2rem 6rem;
    }

    .emphasis {
        margin-bottom: 3rem;
    }

    .banner-info {
        font-size: 110%;
    }

    .btn {
        min-width: 75%;
    }
}


//
// CAROUSEL AWARDS
// --------------------------------------------------------------------------

.carousel-awards {
    margin: 4em 0 6em;

    .section-header {
        margin-bottom: 0.6em;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .awards-title,
    .awards-date {
        font-size: 90%;
        line-height: 1.2;
        text-align: center;
        color: $main-color;
    }

    .awards-title {
        margin-bottom: 0.6em;
        font-weight: 600;
    }

    .awards-date {
        font-size: 80%;
        color: $black;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        padding: 1em 0 2em 0;
    }

    .swiper-wrapper {}

    .swiper-slide {
        width: 100%;
        height: auto;
        padding: 0 1em 3em;
        border: 4px solid transparent;
        // cursor: default;
        transition: 0.2s;

        &:hover {
            border: 4px solid $gray-light;
            // border-radius: 12px;
            // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            // box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 60px;
        color: $black;
        border-radius: 50%;
        outline: none;
        transition: 0.2s;

        &:hover,&:focus {
            transform: scale(1.2);
        }

        &:active {
            color: inherit;
            background-color: $light-black;
        }
    }

    .swiper-button-prev {
        left: -60px;
    }

    .swiper-button-next {
        right: -60px;
    }

    .swiper-scrollbar {
        border-radius: 0;
        background: $gray-light;
    }

    .swiper-container-horizontal>.swiper-scrollbar {
        position: absolute;
        left: 1%;
        bottom: 4px;
        z-index: 50;
        height: 1px;
        width: 100%;
    }

    .swiper-scrollbar-drag {
        height: 8px;
        background: $complementary-color;
        border-radius: 2px;
        top: -4px;
    }

    // .swiper-container-horizontal>.swiper-pagination-progressbar {
    //     width: 100%;
    //     height: 1px;
    //     left: 0;
    //     top: auto;
    //     bottom: 4px;
    // }

    // .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    //     top: -2px;
    //     height: 6px;
    //     background: $complementary-color;
    // }

}


//
// SLIDER CASES
// --------------------------------------------------------------------------

.slider-cases {
    position: relative;
    // margin-bottom: 10em;
    // background-color: $complementary-color;

    &:before {
        content: "";
        position: absolute;
        top: 130px;
        left: 0;
        width: 100%;
        height: calc(100% - 130px);
        background-color: $complementary-color;
    }

    // .container {
    //     margin-top: 10em;
    // }

    // .row {
    //     border: 1px solid red;
    //     position: relative;
    //     top: -6em;
    // }

    .section-header {
        margin: 0 0 1.8em;
        padding: 0 0;
    }

    .swiper-container {
        width: 100%;
        height: auto;
        position: relative;
        top: -40px;
    }

    .swiper-wrapper {
        // margin: 0 4em;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        // padding: 0 4em;
    }

    .swiper-slide {
        @include reset-flex-horizontal;
        justify-content: space-between;
        align-items: flex-end;
        align-content: space-between;

        .slider-img,
        .slider-info {
            // width: 50%;
            // flex: 1;
        }

        .slider-img {

            @include reset-figure;
            width: 55%;
            top: -30px;

            // margin-right: 4em;

            img {
                width: 100%;
                height: auto;
            }

        }

        .slider-info {
            width: 45%;
            color: $white;
            margin-left: 6em;

            .title {
                margin-bottom: 0.6em;
                font-size: 3.8rem;
                line-height: 1.2;
            }

            .content {
                font-size: 3rem;
                line-height: 1.2;
                font-weight: 300;
            }

            .btn {
                margin-top: 2em;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 60px;
        margin-top: 0;
        // border-radius: 50%;
        outline: none;
        transition: 0.2s;

        &:after {
            font-size: 40px;
            color: $white;
        }

        &:hover,&:focus {
            transform: scale(1.2);
            // background-color: $white;

            &:after {
                // color: $black;
            }
        }

        &:active {
            background-color: $white;
            transform: scale(1);
            opacity: 0.5;

            &:after {
                color: $black;
                // opacity: 0.5;
            }
        }
    }

    .swiper-button-prev {
        left: -80px;
    }

    .swiper-button-next {
        right: -80px;
    }

}


//
// RELATED CONTENT
// --------------------------------------------------------------------------

.related-content {
    display: block;
    margin: 1em 0 0;
    padding: 2em 0 6em;
    overflow: hidden;
    background-color: $gray-dark;

    .section-header {
        margin-bottom: 1em;
        text-align: center;
        color: $white;
    }

    .btn {
        margin-top: 2em;
        width: 32%;
    }
}



//
// TEAM
// --------------------------------------------------------------------------

.team {
    display: block;
    margin: 1em 0 4em;
    padding: 2em 0 6em;
    overflow: hidden;
    background-color: $white-dark;

    .section-header {
        margin-bottom: 1em;
        text-align: center;
    }

    .btn {
        margin-top: 2em;
        width: 32%;
    }
}


.team-wrapper {
     @include reset-flex-stretch;

    > .team-item {
        width: 31.5%;
    }

    .team-item {
        @include img-hover-fx;
        // width: 30%;
        background-color: $white;
        // box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
        box-shadow: 0 15px 30px rgba(0,0,0,.17);

        > * {
            margin-bottom: 0.3em;
            z-index: 1;
        }

        .team-photo {
            @include reset-figure;
            width: 100%;
            height: 232px;

            img {
                position: absolute;
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: all 0.6s;
            }

        }

        .team-body {
            padding: 1em 1.2em;

            .name {
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.2;
                color: $gray-dark;
            }

            .email {
                // @include link;
                @include link-line-color;
                font-size: 90%;
                font-weight: 600;
            }

            .position {
                font-size: 90%;
                color: $gray-medium;
            }
        }

        &:hover,&:focus,&:active {
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        }


    }
}


//
// EVENTS
// --------------------------------------------------------------------------

.event-programme {
    margin-bottom: 4em;

    td, th {
        padding: 1.75rem;
        font-size: 90%;
        line-height: 1.2;
    }

    thead th {
        color: $main-color;
        border-top: none;
        border-bottom: 2px solid #dee2e6;
    }

    th,
    .tablesaw-stack td .tablesaw-cell-label,
    .tablesaw-stack th .tablesaw-cell-label {
        text-transform: uppercase;
        color: $medium-black;
    }

    td[data-th="time"] {
        white-space: nowrap;
    }

    td[data-th="content"] {}

    td[data-th="time"],
    td[data-th="speaker"] {
        font-weight: 600;
    }
}

.event-speakers {
    margin-bottom: 8em;

    .speakers-wrapper {
        @include reset-flex-horizontal;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-between;
        margin: 0 -.8em;
        height: 200px;

        .speakers-item {
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            margin: 0 0.8em;
            padding: 1em;
            background-color: $light-black;
            @include smaller-text;
            @include box-hover-outline;

            > div {
                // margin-bottom: 0.3em;
            }

            .photo {
                @include reset-figure;
                position: absolute;
                bottom: -40px;
                width: 80px;
                height: 80px;
                margin-top: auto; // flex align to bottom
                border-radius: 50%;
                transition: all 0.2s ease-out;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 4px solid $white;
                    transition: all 0.2s ease-out;
                }
            }

            &:hover,&:focus,&:active {
                background-color: $white;

                .photo {
                    border-radius: 6px;

                    img {
                        border-radius: 6px;
                    }
                }
            }

            .name,
            .company,
            .cv-link {
                text-transform: uppercase;
            }

            .company,
            .position {
                color: $medium-black;
            }

            .name {
                margin-bottom: 0.6em;
                font-weight: 700;
            }

            .company {
                font-weight: 600;
            }

            .linked-in {
                margin-top: auto;
                margin-bottom: 2.1em;
                margin-left: -6px;

                width: 32px;
                height: 32px;

                line-height: 1.9;
                text-align: center;

                color: $complementary-color;
                border-radius: 50%;

                &:hover,&:focus,&:active {
                    // @include link-hover;
                    text-decoration: none;
                    color: $white;
                    border-color: $complementary-color;
                    background-color: $complementary-color;
                }
            }

            .cv-link {
                position: relative;
                margin-top: auto;
                margin-bottom: 3em;
                padding-right: 2em;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1;
                color: $complementary-color;
                outline: 8px solid transparent;

                &:after {
                    @include icons-ionicons(-9px,0,auto,auto);
                    content: '\f3d3';
                    font-size: 32px;
                }

                &:hover,&:focus,&:active {
                    // @include link-hover;
                    text-decoration: none;
                    color: $white;
                    background-color: $complementary-color;
                    outline-color: $complementary-color;
                }
            }
        }
    }
}




//
// SERVICES
// --------------------------------------------------------------------------

.insights-grid {
    margin: 6em auto 8em;
    // border: 1px solid red;
}

.grid-wrapper {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;

    // grid-gap IE11
    padding: 10px 0 0 10px;

    $col-width: (100% / 3);
    $row-height: 140px;

    -ms-grid-columns: $col-width $col-width $col-width;
    -ms-grid-rows: $row-height $row-height $row-height $row-height;

    grid-template-columns: $col-width $col-width $col-width;
    grid-template-rows: $row-height $row-height $row-height $row-height;

    justify-content: center;
    align-content: center;

    color: #444;
    background-color: #fff;

    .grid-box {
        font-size: 150%;
        padding: 20px;
        color: #333;
        background-color: #fcf;

        // grid-gap IE11
        border: 0 solid $white;
        border-width: 0 10px 10px 0;

        &.a {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;

            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
        &.b {
            -ms-grid-column: 3;
            -ms-grid-row: 1;
            -ms-grid-row-span: 2;

            grid-column: 3;
            grid-row: 1 / span 2;
        }
        &.c {
            -ms-grid-column: 1;
            -ms-grid-row: 3;
            -ms-grid-row-span: 2;

            grid-column: 1;
            grid-row: 3 / span 2;
        }
        &.d {
            -ms-grid-column: 2;
            -ms-grid-row: 3;

            grid-column: 2;
            grid-row: 3;
        }
        &.e {
            -ms-grid-column: 3;
            -ms-grid-row: 3;

            grid-column: 3;
            grid-row: 3;
        }
        &.f {
            -ms-grid-column: 2;
            -ms-grid-row: 4;

            grid-column: 2;
            grid-row: 4;
        }
        &.g {
            -ms-grid-column: 3;
            -ms-grid-row: 4;

            grid-column: 3;
            grid-row: 4;
        }
    }
}




//
// MISCELL
// --------------------------------------------------------------------------

.testimonial-box {
    color: $white;
    background-color: $black;

    .testimonial-quote {
        @include reset-flex;
        height: 100%;
        padding: 2.8em 1.8em;
        font-weight: 400;
        text-align: center;

        p {
            position: relative;
            quotes: '\201C''\201D''\2018''\2019';
            font-size: 2.3rem;
            font-weight: 300;
            line-height: 1.4;
            color: $white;

            &:before,
            &:after {
                position: relative;
                top: 5px;
                left: 0;
                display: inline;
                height: 0;
                font-size: 3.4rem;
                line-height: 0;
                color: $white;
            }

            &:before {
                content: open-quote;
            }

            &:after {
                content: close-quote;
            }
        }

        .quote-info {
            position: relative;
            font-size: 2rem;
            line-height: 1.2;

            &:after {
                content: '';
                position: absolute;
                top: -20px;
                left: calc(50% - 30px);
                width: 60px;
                height: 3px;
                background-color: $gray-dark;
            }

            .author {
                font-weight: 600;
            }

            .position {
                font-weight: 300;
            }
        }
    }
}

