// ==========================================================================
// SHARED COMPONENTS
// ==========================================================================

//
// INSIGHTS
// --------------------------------------------------------------------------
.insights {
    margin-top: 4rem;
    padding: 3em 0;
    background-color: #fcfcfc; /*efefef*//*fcfcfc*/

    .emphasis {
        @include highlight-text;
    }

    .choose-interests {
        margin-top: .5em;
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.2;
        color: #828282;
    }
}


//
// HIGHLIGHT CONTENT (Articles & Events)
// --------------------------------------------------------------------------

.highlight-content-wrapper {
    text-align: center;
    margin-bottom: 6em;

    .big-header {
        margin-bottom: 4rem;
    }

    .highlight-content-boxes {
        @include flex-boxes;
        justify-content: flex-start;
    }

    .card {
        @include card-boxes;
        // padding-bottom: 1em;
        width: calc(33.3333% - 2em);
        border: none;
        border-bottom: 1px solid $gray-100;

        @include img-hover-fx;

        figure {
            @include reset-figure;
            max-height: 230px;
        }

        .card-body {
            margin-bottom: auto;
        }
        .card-footer {
            margin-top: auto;
        }
    }

    .card-article {}

    .card-event {

        .btn {
            // width: calc(100% - 2em);
            // margin-left: 1em;
            width: 100%;
            padding-right: 3em;
            text-align: right;
            z-index: 3;

            &:hover {
                box-shadow: 0 0 0 transparent;
            }
        }
    }

    .title {
        @include reset-margins;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -.06rem;
        text-transform: uppercase;
    }

    .card-header,
    .card-footer {
        background-color: transparent;
    }

    .card-header {
        position: relative;
        min-height: 50px;
        margin: 0 1em;
        padding: 0 0;
        border-bottom: 0 solid rgba(0,0,0,0);

        .title {
            position: relative;
            max-width: calc(100% - 50px);
            padding: 1.2em 0 0 1em;
            color: $black;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 4px;
                height: 40px;
                background-color: $black;
            }
        }

        .bookmark-button {
            @include reset-button;
            position: absolute;
            top: 10px;
            right: 0;
            width: 38px;
            height: 38px;
            margin: 0 0;
            padding: .2em;
            color: $dark-black;
            border-radius: 50%;
            z-index: 3;

            &:after {
                position: relative;
                top: 0;
                left: 0;
                content: '\e867';
                font-family: 'Material Icons';
                font-size: 24px;
                font-weight: normal;
                line-height: 1.2;
            }

            &.bookmark-on {
                &:after {
                    content: '\e866';
                }
            }

            &:hover, &:focus, &:active {
                @include button-hover;
            }
        }
    }

    .card-info {
        margin: 0 1em;
        padding: 0 0;

        .date {
            font-size: 90%;
            font-weight: 400;
            color: $soft-black;
        }

        .title {
            letter-spacing: 0;
        }

        .category {
            color: $medium-black;
        }
    }

    .card-body {
        @include reset-flex;
        align-items: stretch;
        justify-content: flex-start;

        margin: 1em 1em;
        padding: 0 0;

        h3 {
            margin-bottom: .5em;
            font-weight: 700;
        }

        p {
            margin-bottom: 1em;
            font-size: 90%;
            line-height: 1.2;
            color: $medium-black;
        }

        .map-pin {
            position: relative;
            margin-top: 1em;
            padding-left: 1.2em;
            font-weight: 600;
            text-transform: uppercase;
            color: $soft-black;

            &:after {
                @include icons-ionicons;
                top: 0;
                left: 0;
                content: '\f3d3';
                // position: absolute;
                // top: 10px;
                // left: 18px;
                // content: '\e55e';
                // font-family: 'Material Icons';
                // font-size: 36px;
            }
        }
    }

    .card-footer {
        margin: 0 0;
        padding: 0 0;
        background-color: rgba(0,0,0,0);
        border-top: none;

        .view-more {
            min-width: auto;
            padding: 1em 3.6em 1em 1.2em;
            font-size: 90%;
            line-height: 1;
            z-index: 3;

            &:after {
                right: 26px;
                top: 8px;
                font-size: 36px;
            }

            &:hover, &:focus, &:active {
                padding-right: 18em;
            }
        }
    }

    .button-wrapper {
        .view-more {
            margin: 6rem 0 3rem;
        }
    }

}


//
// TECH CHANNEL
// --------------------------------------------------------------------------

.tech-channel {
    position: relative;
    margin-bottom: 6em;
    background-color: $light-black;

    figure {
        @include reset-figure;
        margin-right: 2em;
        width: 800px;
        // overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .tech-info {
        @include marked-box;
        @include reset-flex;
        align-items: flex-start;
        justify-content: center;
        padding: 2em 1.2em;

        h5 {
            margin-bottom: .6em;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 0;
            color: $medium-black;
        }
    }

}


//
// CALL TO ACTION (Talent / Innovation / etc...)
// --------------------------------------------------------------------------

.call-to-action {
    margin-bottom: 8rem;
    color: $white;
    background-color: $medium-black;

    figure {
        @include reset-figure;
        @include stretch-to-left;
        max-height: 460px;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    .banner-info-wrapper {
        padding: 2rem 0 2rem 6rem;
    }

    .emphasis {
        @include highlight-text;
        margin-bottom: 3rem;
    }

    .banner-info {
        font-size: 110%;
    }

    .btn {
        min-width: 75%;
    }
}

