// ==========================================================================
// TEMPLATES
// ==========================================================================

//
// LAWYER
// --------------------------------------------------------------------------

.lawyer-details {
    margin-bottom: 5em;
    position: relative;
    top: 129px;

    .lawyer-header {
        min-height: $header-height;

        .detail-info {
            position: relative;
            top: 3em;
            left: 1em;

            div, li {
                font-size: 90%;
                line-height: 1.6;
            }
        }

        h1 {
            margin: 0.5em 0;
        }

        a {
            @include text-link($black,$secondary-color,$white,$secondary-color);
        }

        .lawyer-position {
            font-weight: 600;
            text-transform: uppercase;
            color: $gray-700;
        }

        .lawyer-scope {
            @include reset-list;

            li {
                position: relative;
                margin-right: 0.4em;
                padding-right: 0.6em;
                text-transform: uppercase;
                color: $gray-600;

                &:after {
                    content: "";
                    position: absolute;
                    top: 14px;
                    right: 0;
                    width: 2px;
                    height: 2px;
                    border-radius: 50%;
                    background: $gray-600;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .lawyer-address {
            margin: 0.5em 0 0.3em;
            color: $gray-800;

            strong {
                margin-right: 0.5em;
                font-weight: 400;
            }

            // br {
            //     @include br-to-space;
            // }
        }

        .lawyer-tel {
            position: relative;
            padding-left: 1em;
            color: $gray-600;

            &:after {
                content: "T.";
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .lawyer-langs {
            color: $gray-600;
        }

        .lawyer-mail {
            margin: 0.3em 0;
        }

        .lawyer-vcard {
            margin-top: 0.3em;
        }

        figure {
            @include reset-figure;
            @include stretch-to-left;
            max-height: $header-height;

            img {
                width: 100%;
            }
        }

        // @media (max-width: 992px) {
        //     figure {
        //         margin-left: 0;
        //     }
        // }
    }
}

.lawyer-filter {
    // border: 1px solid red;

    // h2 {
    //     font-size: 4rem;
    //     font-weight: 700;
    //     line-height: 1.138888889;
    //     letter-spacing: 0.05rem;
    // }
}


//
// ACTIVITY
// --------------------------------------------------------------------------

.sectors-home {
    .sector-links {
        margin-bottom: 8em;
    }
}

.consumption-retail {
    margin-bottom: 5em;
}

.success-stories {
    h1 {
        font-size: 2.4rem;
        text-transform: none !important;
    }
}


//
// SERVICES
// --------------------------------------------------------------------------

.labour-law {
    .doble-accordion {
        margin-bottom: 4em;
    }
}

.product-detail {
    .contact-box {
        margin: 3em auto;
        padding: 2em 3em;
        background-color: $light-black;

        .emphasis {
            font-size: 3rem;
        }
    }

    .email-subscribe {
        .input-group {
            margin: 1.5em 0 1em;
        }

        .form-group {
            // margin-top: 1em;
        }
    }
}


//
// KNOWLEDGE
// --------------------------------------------------------------------------
.event-detail {
    position: relative;
    top: 129px;

    .section-header {
        margin-bottom: 1em;
    }
}


//
// SEARCH
// --------------------------------------------------------------------------

.search-page {
    margin-bottom: 8rem;

    .search-filters {
        margin: 6rem auto 4rem;
        // border: 1px solid blue;

        .find-lawyer {
            margin-bottom: 4em;
        }

        .filter-lawyer {
            .row {
                padding: 0 2em;
            }
        }

        h2, h5 {
            color: $soft-black;
            letter-spacing: 0.02rem;
        }

        h2 {
            margin-bottom: 0.6em;
            font-size: 3rem;
        }

        h5 {
            margin-bottom: 1em;
            font-size: 1.8rem;
        }
    }

    .search-results-wrapper {
        text-align: center;

        .pagination {
            margin-bottom: 4em;

            .page-link {
                position: relative;
                display: block;
                width: 34px;
                height: 34px;
                padding: 0 0;
                margin: 0 1px;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.3;
                color: $soft-black;
                background-color: #fff;
                border: none;
                border-radius: 50%;

                &:hover,&:focus,&:active,.active {
                    @include button-hover;
                }
            }

            .page-item:first-child .page-link {
                margin-left: 0;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }

            .page-item:last-child .page-link {
                margin-right: 0;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
        }

        .search-results-info {
            margin-bottom: 3em;

            .search-results-text {
                margin-top: 0.6em;
                color: $medium-black;
            }
        }

        .search-results-boxes {
            @include flex-boxes;

            .card {
                @include card-boxes;
                @include img-hover-fx;
                width: calc(25% - 2em);

                figure {
                    @include reset-figure;
                    // height: 180px;

                    img {
                        width: auto;
                        height: 180px;
                    }
                }

                .card-title {
                    margin-bottom: 0.75rem;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    padding: 2rem;
                    color: $black;
                    background-color: $light-black;

                    .lawyer-name {
                        padding-bottom: 0.5em;
                    }

                    .lawyer-position {
                        margin-top: auto;
                        line-height: 1;
                    }

                    .lawyer-location {
                        line-height: 1;
                    }

                    &:after {
                        @include icons-ionicons(auto,10px,5px,auto);
                        content: '\f3d1';
                        font-size: 20px;
                        color: $half-black;
                    }
                }

                &:hover,&:focus,&:active {
                    .card-body {
                        @include box-hover;
                        // outline: 2px solid $black;

                        &:after {
                            color: $white;
                        }
                    }
                }
            }
        }

        .view-more {
            margin: 6rem 0 3rem;
        }
    }
}


