<section class="article-highlight">
    <div class="container">
        <div class="row">
            <article class="box-news-wrapper">

                <div class="box-full box-news">
                    <div class="box-header">
                        <h2>Lorem ipsum</h2>
                        <div class="info-date">19 de febrero de 2019</div>
                        <div class="info-type">8 min. de lectura</div>
                        <div class="info-author"><a href="#">Juan José Ruiz</a></div>
                    </div>
                    <div class="box-body">
                        <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a></h3>
                    </div>
                    <div class="box-footer">
                        <ul class="list-inline-dots">
                            <li><a href="#" class="tag-link">Servicios</a></li>
                            <li><a href="#" class="tag-link">Abogados</a></li>
                            <li><a href="#" class="tag-link">Publicaciones</a></li>
                        </ul>
                    </div>
                </div>

                <figure class="box-img">
                    <img src="{{ asset('web/assets/img/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg') }}" alt="">
                </figure>

            </article>
        </div>
    </div>
</section>
