<section class="row page__block">
    <div class="col">
        <div class="page__block__title">
            <h2 class="subsection__title">Ponentes</h2>
        </div>
        <div class="page__block__content">
            <div class="lawyer__search__wrapper lawyer__search__wrapper--speakers">
                {% for person in event.people %}
                <div class="lawyer__search__item">
                    <a href="#" class="lawyer__link">
                        <h3 class="lawyer__name">{{ person.lawyer.name }} {{ person.lawyer.surname }}</h3>
                        <div class="lawyer__details">
                            <div class="lawyer__company">
                                Cuatrecasas
                            </div>
                            <ul class="lawyer__practice">
                                <li class="lawyer__practice__item">{{ ('sections.lawyers.lawyerCategoryTypes.' ~ person.lawyer.lawyerType) | trans }}</li>
                                <li class="lawyer__practice__item">{{ person.lawyer.office ? person.lawyer.office.city : '' }}</li>
                            </ul>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
