<section class="event-programme">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Programa</h2>
                <table class="table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
                    <thead>
                        <tr>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Hora</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Título</th>
                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Ponente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th="time">De 9 h. a 15 h.</td>
                            <td data-th="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ligula ullamcorper malesuada proin libero nunc.</td>
                            <td data-th="speaker">Ramón Fernández García</td>
                        </tr>
                        <tr>
                            <td data-th="time">10 h.</td>
                            <td data-th="content">Morbi tincidunt ornare massa eget egestas. Vehicula ipsum a arcu cursus. Nec feugiat nisl pretium fusce id velit ut tortor.</td>
                            <td data-th="speaker">Francisco Javier Gonzalez del Olmo</td>
                        </tr>
                        <tr>
                            <td data-th="time">12 h.</td>
                            <td data-th="content">Fermentum iaculis eu non diam phasellus vestibulum lorem. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur.</td>
                            <td data-th="speaker">Jordi Ferrer Beltrán</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>