<section class="contact__box">
    <div class="container-fluid">
        <div class="row page__block page__block--flex">
            <div class="col">
                <div class="page__block__title"></div>
                <div class="page__block__content">
                    <p>
                        Contacta con nuestros expertos en<br>
                        <strong>Brexit</strong>
                    </p>
                    <form action="" method="" class="email-subscribe">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group flex-group">
                            <div class="checkbox">
                                <input id="data-privacy" name="data-privacy" type="checkbox">
                                <label for="data-privacy" class="checkbox-label"><span>Política de privacidad</span></label>
                            </div>
                            <button class="btn btn__solid" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
