{# <section class="expertise" style="background-image: url('{{ asset('web/assets/img/clem-onojeghuo-T7gi_cyrkdg-unsplash.jpg') }}')"> #}
{# <section class="expertise" style="background-image: url('{{ asset('web/assets/img/christian-perner-UKLIuV8rAks-unsplash.jpg') }}')"> #}
{# <section class="expertise" style="background-image: url('{{ asset('web/assets/img/ricardo-gomez-angel-5YM26lUicfU-unsplash.jpg') }}'); background-position: center center;"> #}
<section class="expertise" style="background-image: url('{{ asset('web/assets/img/mika-ypVM8PnygUo-unsplash.jpg') }}'); background-position: center top;">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h2 class="section-header">Nuestro Expertise</h2>
                <div class="expertise-wrapper">
                    <article class="expertise-item">
                        <a href="#">
                            <div class="title">
                                Arbitraje
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ligula ullamcorper malesuada proin libero nunc. Tortor aliquam nulla facilisi cras fermentum
                            </div>
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                    </article>

                    <article class="expertise-item">
                        <a href="#">
                            <div class="title">
                                Corporate Governace y compliance
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ligula ullamcorper malesuada proin libero nunc.
                            </div>
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                    </article>

                    <article class="expertise-item">
                        <a href="#">
                            <div class="title">
                                Financiero
                            </div>
                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ligula ullamcorper malesuada proin libero nunc. Tortor aliquam nulla facilisi cras fermentum
                            </div>
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
