<figure class="video__popup" style="background-image: url('{{ asset('web/assets/img/cabecera_1920x1080_baja.jpg') }}')">
    <a href="{{ article.urlVideo|raw }}" data-lity class="video__popup__link">
        <span class='material-icons'>play_circle_outline</span>
    </a>
</figure>
