<ul class="action__links">
    {# <li class="social__item">
        <a href="#" class="social__link">
            <i class="fas fa-share-alt"></i>
        </a>
    </li> #}
    <li>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F{{ app.request.uri  }}%2F" target="_blank" rel="noopener">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2F{{ app.request.uri  }}%2F" target="_blank" rel="noopener">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li>
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2F{{ app.request.uri  }}%2F&title=" target="_blank" rel="noopener">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </li>
    <li>
        <a href="mailto:barcelona@cuatrecasas.com?subject=Cuatrecasas&amp;body=https%3A%2F%2F{{ app.request.uri  }}%2F" target="_self" rel="noopener">
            <i class="fas fa-envelope"></i>
        </a>
    </li>
    {#<li>
         <a href="javascript:window.print()"> 
        <a href="javascript:void()">
            <i class="material-icons">print</i>
        </a>
    </li>#}
</ul>
