<section class="boxnews boxnews--info bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Corporate & Governance</h5>
                            <div class="boxnews__content__info"></div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver m치s</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/vector/Picto_03_1920x1080.png') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Memoria Corporativa 2019</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque laboriosam, ullam cumque veritatis distinctio cum, placeat amet quam voluptates obcaecati, quo dignissimos. Excepturi eveniet vel, quos, voluptates explicabo facilis.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver m치s</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--fundation">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Fundaci칩n Cuatrecasas</h5>
                            <div class="boxnews__content__info"></div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver m치s</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-manos_small.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                </div>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore btn__viewmore--plus">{{ 'global.messages.load_more'|trans}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
