<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">Innovación jurídica</h4>

                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">New business models</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nemo tempora, fugit blanditiis sint aut dolorem.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-shadows.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Disruption of tradicional industries</h5>
                            <div class="boxnews__content__info">
                                <p>Dolorem omnis distinctio nulla consequuntur quaerat minus excepturi deserunt officia nostrum incidunt, quam ducimus totam, aspernatur repellat quos non quis vero.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Involved in the Startup universe</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum architecto recusandae ratione optio explicabo quae neque.</p>
                                <p>Autem quidem laboriosam sit nobis eaque dolores eligendi enim quas. Repudiandae quisquam, dolor consectetur aliquid eius minima.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore btn__viewmore--plus">{{ 'global.messages.load_more'|trans}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
