<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">Informes anuales</h4>

                <div class="boxnews__list">
                    <article class="boxnews__item boxnews__item--colored">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Estado de información no financiera 2019</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nemo tempora, fugit blanditiis sint aut dolorem.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver anteriores</a>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link doble__arrow__link--download">Descargar dossier</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--doble">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Memoria corporativa</div>
                        </div>
                        <div class="boxnews__wrapper">
                            <div class="boxnews__content">
                                <h5 class="boxnews__content__title">Memoria corporativa 2019</h5>
                                <div class="boxnews__content__info"></div>
                                <div class="boxnews__content__button">
                                    <a href="#" class="doble__arrow__link">Ver anteriores</a>
                                </div>
                                <div class="boxnews__content__button">
                                    <a href="#" class="doble__arrow__link">Acceder</a>
                                </div>
                            </div>
                            <div class="boxnews__foto" style="background-image: url('{{ asset('web/assets/img/memoria-corporativa-2019.jpg') }}')">
                            </div>
                        </div>
                    </article>

                    <article class="boxnews__item boxnews__item--doble">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Contacto</div>
                        </div>
                        <div class="boxnews__wrapper">
                            <div class="boxnews__content">
                                <h5 class="boxnews__content__title">Departamento comunicación</h5>
                                <div class="boxnews__content__info">
                                    <p>
                                        Diana Jennen
                                        <br>
                                        Media relations
                                    </p>
                                    <p class="contact-info">
                                        <a href="#">diana.jennen@cuatrecasas.com</a>
                                        <br>
                                        +34942358476
                                    </p>
                                </div>
                            </div>
                            <div class="boxnews__foto" style="background-image: url('{{ asset('web/assets/img/foto-camera.jpg') }}')">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Social media</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title boxnews__content__title--social">Síguenos en nuestras redes sociales</h5>
                            <ul class="social__media">
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </div>
</section>
