{% trans_default_domain "messages" %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://www.cuatrecasas.com/favicon.ico" rel="shortcut icon" />
        <title>{% block title %}Cuatrecasas Web{% endblock %}</title>
        {% include 'web/tools/stylesheetsCalendar.html.twig' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% include 'web/tools/menuNew.html.twig' %}
        {# {% include 'web/tools/header.html.twig' %} #}

        {% block main %}{% endblock %}

        {% include 'web/tools/footer.html.twig' %}
        {% include 'web/tools/javascriptsCalendar.html.twig' %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
