<!DOCTYPE html>

<title>New Lawyer</title>

{% block body %}
    <h1>Create new Lawyer</h1>

    {{ include('lawyer/_form.html.twig') }}

    <a href="{{ path('lawyer_index') }}">back to list</a>
{% endblock %}
