{% for language in languages|sort %}
    <span class="m-badge {{ (language in values) ? 'm-badge--success' : 'm-badge--secondary' }}" title="{{ language }}">
        {{ language }}
    </span>
{% endfor %}