{% for language in languages|sort %}
    {% if language in values %}
        <span class="m-badge m-badge--success">{{ language }}</span>
    {% else %}
        <span class="m-badge m-badge--secondary">{{ language }}</span>
    {% endif %}
{% endfor %}