<section class="boxnews boxnews--info">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Asociaciones</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">REDI</h5>
                            <p class="boxnews__content__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit vitae nemo tempora.</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                            <div class="boxnews__photo boxnews__photo--logo">
                                <img src="{{ asset('web/assets/img/logos/logo_REDI.png') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Asociaciones</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">REDI</h5>
                            <p class="boxnews__content__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit vitae nemo tempora.</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                            <div class="boxnews__photo boxnews__photo--logo">
                                <img src="{{ asset('web/assets/img/logos/logo_REDI.png') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Asociaciones</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">REDI</h5>
                            <p class="boxnews__content__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit vitae nemo tempora.</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                            <div class="boxnews__photo boxnews__photo--logo">
                                <img src="{{ asset('web/assets/img/logos/logo_REDI.png') }}" alt="">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
