<section class="awards">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">Premios</h4>
                {% if awards|length > 0 %}
                    <div id="sliderAwards" class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for award in awards %}
                            {% if award %}
                                {% if award.image %}
                                    {% set photo_path = asset('/resources/' ~ award.image.getFileName) | imagine_filter('logo_awards') %}
                                {% endif %}
                            {% endif %}
                            <div class="swiper-slide">
                                <figure class="awards__wrapper">
                                    {% if award.image is not null %}
                                    <img src="{{  (photo_path is defined) ? photo_path : ""}}" class="awards__logo" alt="{{ award.translate(app.request.getLocale()).title }}">
                                    {% endif %}
                                    <div class="awards__title">{{ award.translate(app.request.getLocale()).title }}</div>
                                    <div class="awards__date">{{ award.translate(app.request.getLocale()).granted }}</div>
                                </figure>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
