<section class="awards">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">Premios</h4>
                <div id="sliderAwards" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/lawyers_2019_logo.jpg') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Firma más innovadora de Europa continental</div>
                                <div class="awards__date">Financial Times, 2019</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/ft-innovative-lawyers_logo.png') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Firma más innovadora de Europa continental</div>
                                <div class="awards__date">Financial Times, 2018 </div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/lacca.jpg') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Tercera firma internacional más popular en Latinoamérica</div>
                                <div class="awards__date">The Latin American Corporate Counsel Association, 2018, 2019</div>
                            </figure>
                        </div>
                        <div class="swiper-slide">
                            <figure class="awards__wrapper">
                                <img src="{{ asset('web/assets/logos/tercera.png') }}" class="awards__logo" alt="Nombre Empresa">
                                <div class="awards__title">Tercera mejor empresa para trabajar, según los estudiantes de Derecho</div>
                                <div class="awards__date">Universum & People Matters, 2020</div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
