<section class="call-to-action">
    <div class="container">
        <div class="row call-to-action__block">
            <div class="col-7 customize__interests">
                <p>
                    Personaliza tus insights, lee solo lo que te <strong>interesa</strong>
                </p>
            </div>
            <div class="col-5 choose__interests">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                <a href="#" class="btn btn__arrow">Escoge tus intereses</a>
            </div>
        </div>
    </div>
</section>
