<section class="boxnews boxnews--career">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title">Career</h4>
                <div class="boxnews__list">
                    <article class="boxnews__item boxnews__item--career">
                        <blockquote class="cite__quote">
                            <p>Si tienes un proyecto en el que crees y por el que apostar, el despacho apuesta por ti.</p>
                            <cite>Ignacio Buil<br>Director oficina Londres</cite>
                        </blockquote>
                    </article>
                    <article class="boxnews__item boxnews__item--career">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Career</div>
                            <div class="boxnews__info">17 febrero 2020</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Cuatrecasas asesora a JD Sports y Sprinter en la integración con Sport Zone en España y Portugal
                                </a>
                            </h5>
                            <div class="boxnews__meta">
                                <div class="boxnews__meta__date">9 Marzo 2020</div>
                                <div class="boxnews__meta__author">Guillermo García</div>
                            </div>
                        </div>
                        <div class="boxnews__footer">
                            <ul class="related__services">
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        LABORAL
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        DEPORTE
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        LOGÍSTICA Y TRANSPORTE
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--event">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Evento</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Mesa redonda: información privilegiada y otra información relevante
                                </a>
                            </h5>
                            <div class="boxnews__meta">
                                <div class="boxnews__meta__place">Barcelona</div>
                                <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                <div class="boxnews__meta__time">10.30 — 14.30</div>
                            </div>
                        </div>
                        <div class="boxnews__footer">
                            <ul class="related__services">
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        MERCANTIL Y SOCIETARIO
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        ARBITRAJE
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        PENAL
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        LITIGACIÓN
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
                <!-- <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore">Ver más</button>
                </div> -->
            </div>
        </div>
    </div>
</section>
