<section class="boxnews boxnews--info boxnews--doble">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Woman in business</h5>
                            <p class="boxnews__content__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nemo tempora, fugit blanditiis sint aut dolorem nobis ullam nihil ducimus natus.</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-people.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Comité de igualdad</h5>
                            <p class="boxnews__content__info">Consequuntur harum magni dolores laborum reiciendis doloremque quo sit eum, explicabo itaque, numquam ad provident suscipit.</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                            <div class="boxnews__photo">
                                <img src="{{ asset('web/assets/img/F00_firma-people.jpg') }}" alt="">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
