<section class="discover">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="discover__highlight">
                    <article class="discover__article">
                        <div class="discover__content">
                            <h3 class="discover__title">
                                Presencia Europea
                            </h3>
                            <p class="discover__excerpt">
                                Cuatrecasas cuenta con oficinas en las principales ciudades europeas
                            </p>
                            <a href="#" class="btn btn__main btn__main--bgcolor">Descubre</a>
                    </article>
                    <div class="discover__img" style="background-image: url('{{ asset('web/assets/img/benjamin-child-GWe0dlVD9e0-unsplash.jpg') }}')"></div>
                </div>
            </div>
        </div>
    </div>
</section>
