<section class="boxnews boxnews--event">
    <div class="container-fluid">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--event">Próximos eventos</h4>
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Evento</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    La Directiva de Intermediarios (DAC 6) Estado de transposición y principales aspectos conflictivos
                                </a>
                            </h5>
                            <div class="boxnews__meta">
                                <div class="boxnews__meta__place">Barcelona</div>
                                <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                <div class="boxnews__meta__time">10.30 — 14.30</div>
                            </div>
                        </div>
                        <div class="boxnews__footer">
                            <ul class="related__services">
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        Fiscal
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        Dac 6
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        Nacional
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        Comercio
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        Infraestructuras
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Evento</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Mesa redonda: información privilegiada y otra información relevante
                                </a>
                            </h5>
                            <div class="boxnews__meta">
                                <div class="boxnews__meta__place">Barcelona</div>
                                <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                <div class="boxnews__meta__time">10.30 — 14.30</div>
                            </div>
                        </div>
                        <div class="boxnews__footer">
                            <ul class="related__services">
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        MERCANTIL Y SOCIETARIO
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        ARBITRAJE
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        PENAL
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        LITIGACIÓN
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Evento</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Programa de Actualización Tributaria | Novedades fiscales y plan de control tributario 2020
                                </a>
                            </h5>
                            <div class="boxnews__meta">
                                <div class="boxnews__meta__place">Barcelona</div>
                                <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                <div class="boxnews__meta__time">10.30 — 14.30</div>
                            </div>
                        </div>
                        <div class="boxnews__footer">
                            <ul class="related__services">
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        LABORAL
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        LOGÍSTICA Y TRANSPORTE
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        HOTELES, TURISMO Y OCIO
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="viewmore__button">
                    <a href="#" class="btn btn__viewmore">Ver más<br>colecciones</a>
                </div>
            </div>
        </div>
    </div>
</section>
