<section class="flipbox">
    <div class="container">
        <div class="row page__block--component">
            <div class="col">
                <h4 class="section__title section__title--main">Transformación digital</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consequatur harum, laboriosam perferendis laborum vel impedit eum reprehenderit, voluptates ab adipisci.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="flipbox__list">
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, dolor, cum ullam nulla, fugit obcaecati dolorum, natus ipsam enim atque a est asperiores pariatur veniam voluptate officiis nihil molestias quaerat. </p>
                        </div>
                    </div>
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Quisquam laboriosam minima itaque</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quis eveniet eos similique nostrum itaque ea? Minus placeat deserunt officiis itaque dicta tempore dignissimos temporibus doloremque ipsa esse, optio assumenda.</p>
                        </div>
                    </div>
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Provident quis eveniet</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laboriosam minima itaque deserunt repellendus. Explicabo, reiciendis, aperiam doloribus recusandae quibusdam praesentium non nemo magni quam! Porro explicabo odio, suscipit nihil.</p>
                        </div>
                    </div>
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Provident quis eveniet</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laboriosam minima itaque deserunt repellendus. Explicabo, reiciendis, aperiam doloribus recusandae quibusdam praesentium non nemo magni quam! Porro explicabo odio, suscipit nihil.</p>
                        </div>
                    </div>
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, dolor, cum ullam nulla, fugit obcaecati dolorum, natus ipsam enim atque a est asperiores pariatur veniam voluptate officiis nihil molestias quaerat.</p>
                        </div>
                    </div>
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Quisquam laboriosam minima itaque</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quis eveniet eos similique nostrum itaque ea? Minus placeat deserunt officiis itaque dicta tempore dignissimos temporibus doloremque ipsa esse, optio assumenda.</p>
                        </div>
                    </div>
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Quisquam laboriosam minima itaque</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quis eveniet eos similique nostrum itaque ea? Minus placeat deserunt officiis itaque dicta tempore dignissimos temporibus doloremque ipsa esse, optio assumenda.</p>
                        </div>
                    </div>
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Provident quis eveniet</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam laboriosam minima itaque deserunt repellendus. Explicabo, reiciendis, aperiam doloribus recusandae quibusdam praesentium non nemo magni quam! Porro explicabo odio, suscipit nihil.</p>
                        </div>
                    </div>
                    <div class="flipbox__item">
                        <div class="flipbox__item__front">
                            <h5>Lorem ipsum dolor</h5>
                        </div>
                        <div class="flipbox__item__back">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, dolor, cum ullam nulla, fugit obcaecati dolorum, natus ipsam enim atque a est asperiores pariatur veniam voluptate officiis nihil molestias quaerat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
