<section class="row highlight-content bg-colored">
    <div class="container highlight-content-wrapper">

        <h2 class="section-header">Contenido relacionado</h2>

        <div class="highlight-content-boxes">
            <article class="card card-event">
                <figure>
                    <img src="{{ asset('web/assets/img/eric-rothermel-FoKO4DpXamQ-unsplash.jpg') }}" class="card-img-top" alt="">
                </figure>
                <div class="card-header">
                    <div class="header-title">Evento</div>
                    <button type="button" class="bookmark-button"></button>
                </div>
                <div class="card-info">
                    <div class="info-date">de 10.30 a 18.30 h</div>
                    <div class="info-title">Del 24 al 30 de febrero 2019</div>
                </div>
                <div class="card-body">
                    <h3>"Quick fixes": análisis detallado de las novedades del régimen intracomunitario para 2020</h3>
                    <p class="map-pin">Barcelona</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-solid btn-main btn-arrow">Inscribirme</a>
                </div>
            </article>
            <article class="card card-event">
                <figure>
                    <img src="{{ asset('web/assets/img/benjamin-child-GWe0dlVD9e0-unsplash.jpg') }}" class="card-img-top" alt="">
                </figure>
                <div class="card-header">
                    <div class="header-title">Evento</div>
                    <button type="button" class="bookmark-button"></button>
                </div>
                <div class="card-info">
                    <div class="info-date">de 10.30 a 18.30 h</div>
                    <div class="info-title">Del 24 al 30 de febrero 2019</div>
                </div>
                <div class="card-body">
                    <h3>"Quick fixes": análisis detallado de las novedades del régimen intracomunitario para 2020</h3>
                    <p class="map-pin">Barcelona</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-solid btn-main btn-arrow">Inscribirme</a>
                </div>
            </article>
        </div>

    </div>
</section>