<section class="row highlight-content">
    <div class="container highlight-content-wrapper">

        <h2 class="big-header">Contenido destacado</h2>

        <div class="highlight-content-boxes">
            <article class="card card-article">
                <figure>
                    <img src="{{ asset('web/assets/img/tim-gouw-bwki71ap-y8-unsplash.jpg') }}" class="card-img-top" alt="">
                </figure>
                <div class="card-header">
                    <div class="title">Artículo</div>
                    <button type="button" class="bookmark-button"></button>
                </div>
                <div class="card-info">
                    <div class="date">24 Febrero 2019</div>
                    <div class="title category">Laboral</div>
                </div>
                <div class="card-body">
                    <h3>La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis nostrud.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-naked btn-arrow view-more">More</a>
                </div>
            </article>
            <article class="card card-article">
                <figure>
                    <img src="{{ asset('web/assets/img/helloquence-5fNmWej4tAA-unsplash.jpg') }}" class="card-img-top" alt="">
                </figure>
                <div class="card-header">
                    <div class="title">Artículo</div>
                    <button type="button" class="bookmark-button bookmark-on"></button>
                </div>
                <div class="card-info">
                    <div class="date">24 Febrero 2019</div>
                    <div class="title category">Laboral</div>
                </div>
                <div class="card-body">
                    <h3>La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</h3>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-naked btn-arrow view-more">More</a>
                </div>
            </article>
            <article class="card card-article">
                <figure>
                    <img src="{{ asset('web/assets/img/reza-rostampisheh--hcCm0kIaSg-unsplash.jpg') }}" class="card-img-top" alt="">
                </figure>
                <div class="card-header">
                    <div class="title">Artículo</div>
                    <button type="button" class="bookmark-button bookmark-on"></button>
                </div>
                <div class="card-info">
                    <div class="date">24 Febrero 2019</div>
                    <div class="title category">Laboral</div>
                </div>
                <div class="card-body">
                    <h3>La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</h3>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-naked btn-arrow view-more">More</a>
                </div>
            </article>
        </div>

        <div class="button-wrapper">
            <button class="btn btn-border btn-arrow view-more">Más conocimiento</button>
        </div>

    </div>
</section>