<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Nuestros abogados</h5>
                            <p class="boxnews__content__info">Transferencia de conocimiento entre las personas y la empresa con el fin de extenderlo al resto de profesionales</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver el equipo</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Servicios y sectores de Cuatrecacsas</h5>
                            <p class="boxnews__content__info">Transferencia de conocimiento entre las personas y la empresa con el fin de extenderlo al resto de profesionales</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver Sectores</a>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver Servicios</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Únete a nosotros</h5>
                            <p class="boxnews__content__info">Transferencia de conocimiento entre las personas y la empresa con el fin de extenderlo al resto de profesionales</p>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Join us</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
