<section class="boxnews boxnews--links">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">Mediakit</h4>
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Fact sheet</div>
                        </div>
                        <div class="boxnews__content">
                            <a href="#" class="box__link__trans box__link__trans--download">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ipsum voluptates eligendi cupiditate harum culpa ea adipisci facilis eveniet consectetur.</p>
                            </a>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Recursos gráficos</div>
                        </div>
                        <div class="boxnews__content button__wrapper">
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Marca Cuatrecasas</a>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Fotografías corporativas</a>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">La Firma</div>
                        </div>
                        <div class="boxnews__content">
                            <a href="#" class="box__link__trans">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, impedit perspiciatis.</p>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
