<section class="boxnews boxnews--info boxnews--bgcolor">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--main">Valores</h4>
                <div class="boxnews__list">
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--even">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Lorem ipsum dolor sit amet</h5>
                            <div class="boxnews__content__info">
                                <p>Dolorem omnis distinctio nulla consequuntur quaerat minus excepturi deserunt officia nostrum incidunt, quam ducimus totam, aspernatur repellat quos non quis vero.</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--odd">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Excelencia</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum architecto recusandae ratione optio explicabo quae neque, quod, impedit sapiente ea qui dolor cupiditate saepe reprehenderit ullam, laboriosam accusamus dolorum.</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--even">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Lorem ipsum dolor</h5>
                            <div class="boxnews__content__info">
                                <p>Dolorem omnis distinctio nulla consequuntur quaerat minus excepturi deserunt officia nostrum incidunt, quam ducimus totam, aspernatur repellat quos non quis vero.</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--odd">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Excelencia</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum architecto recusandae ratione optio explicabo quae neque, quod, impedit sapiente ea qui dolor cupiditate saepe reprehenderit ullam, laboriosam accusamus dolorum.</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--bgcolor bgcolor--even">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Vitae nemo tempora</h5>
                            <div class="boxnews__content__info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nemo tempora, fugit blanditiis sint aut dolorem.</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item boxnews__item--blockquote">
                        <blockquote class="cite__quote">
                            <p>Si tienes un proyecto en el que crees y por el que apostar, el despacho apuesta por ti.</p>
                            <cite>Ignacio Buil<br>Director oficina Londres</cite>
                        </blockquote>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
