<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Servicios y Sectores de Cuatrecacsas</h5>
                            <div class="boxnews__content__info">
                                <p>Accede a todas nuestros servicios y sectores de especialización y conoce nuestra experiencia más destacada.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver Sectores</a>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver Servicios</a>
                            </div>
                        </div>
                    </article>                
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Equipo</h5>
                            <div class="boxnews__content__info">
                                <p>Visita el perfil de nuestros abogados y filtra por especialidad u oficina</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                        </div>
                    </article>

                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <h5 class="boxnews__content__title">Territorios</h5>
                            <div class="boxnews__content__info">
                                <p>Localiza nuestras oficinas, regiones de influencia, desks y política internacional.</p>
                            </div>
                            <div class="boxnews__content__button">
                                <a href="#" class="doble__arrow__link">Ver más</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
