<section class="call-to-action">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <figure class="cover-photo">
                    <img class="" src="{{ asset('web/assets/img/alex-knight-2EJCSULRwC8-unsplash.jpg') }}" alt="Hello Robot">
                </figure>
            </div>
            <div class="col-6 banner-info-wrapper">
                <p class="emphasis">
                    Innovación<br>
                    en <strong>Cuatrecasas</strong>
                </p>
                <p class="banner-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo.</p>
                <a href="#" class="btn btn-naked white btn-main btn-arrow">Innovacion</a>
            </div>
        </div>
    </div>
</section>