<section class="insight">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="insight__highlight">
                    <article class="insight__article">
                        <div class="insight__header">
                            Insight
                        </div>
                        <div class="insight__content">
                            <h3 class="insight__title">
                                Women in Business
                            </h3>
                            <a href="#" class="insight__link">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore
                            </a>
                        </div>
                        <div class="insight__meta">
                            <div class="insight__meta__info">
                                <div data-author>Laura Vivas</div>
                                <div data-reading>8' lectura</div>
                            </div>
                            <ul class="related__services">
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        Civil
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        Internacional
                                    </a>
                                </li>
                                <li class="related__services__item">
                                    <a href="#" class="related__services__link">
                                        Macroeconomía
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <div class="insight__img" style="background-image: url('{{ asset('web/assets/vector/insight-bg.png') }}')"></div>
                </div>
            </div>
        </div>
    </div>
</section>
