<section class="insights">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <p class="emphasis">
                    Personaliza tus insights,<br>
                    lee solo lo que te<br>
                    <strong>interesa</strong>
                </p>
            </div>
            <div class="col-5">
                <p class="choose-interests">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eras.</p>
                <a href="#" class="btn btn-solid btn-arrow">Escoge tus intereses</a>
            </div>
        </div>
    </div>
</section>