<section class="insight">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <article class="insight__article">
                    <div class="insight__header">
                        Insight
                    </div>
                    <div class="insight__content">
                        <h3 class="insight__title">
                            Women in Business
                        </h3>
                        <a href="#" class="insight__link">
                            Lorem ipsum dolor sit amet, consectejur adipiscing elit, sed do eiusmod labore
                        </a>
                    </div>
                    <div class="insight__meta">
                        <!-- <div class="insight__meta__info">
                            <div data-author>Laura Vivas</div>
                            <div data-reading>8' lectura</div>
                        </div> -->
                        <ul class="related__content related__content--lawyers">
                            <li class="related__content__item">
                                <a href="#" class="related__content__link">
                                    Laura Vivas
                                </a>
                            </li>
                            <li class="related__content__item">
                                <a href="#" class="related__content__link">
                                    Anna García
                                </a>
                            </li>
                        </ul>
                        <ul class="related__services">
                            <li class="related__services__item">
                                <a href="#" class="related__services__link">
                                    Civil
                                </a>
                            </li>
                            <li class="related__services__item">
                                <a href="#" class="related__services__link">
                                    Internacional
                                </a>
                            </li>
                            <li class="related__services__item">
                                <a href="#" class="related__services__link">
                                    Macroeconomía
                                </a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="col-xl-6">
                <a href="#" class="box__link">
                    <figure class="insight__vector" style="background-image: url('{{ asset('web/assets/vector/insight-bg.png') }}')">
                        <img src="{{ asset('web/assets/vector/insight-bg.png') }}" alt="">
                    </figure>
                </a>
            </div>
        </div>
    </div>
</section>
