<section class="boxnews boxnews--insight">
    <div class="container-fluid">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--insight">Insights</h4>
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Emergencia climática</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    Publicado el Proyecto de Real Decreto de Comunicaciones Comerciales de las Actividades de Juego
                                </a>
                            </h5>
                            <div class="boxnews__action">
                                <a href="#" class="boxnews__more">Saber más</a>
                            </div>
                            <div class="boxnews__img" style="background-image: url('https://via.placeholder.com/800x400')"></div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__header">
                            <div class="boxnews__type">Brexit</div>
                        </div>
                        <div class="boxnews__content">
                            <h5 class="boxnews__copy">
                                <a href="#" class="boxnews__link">
                                    La CNMC archiva de nuevo un expediente sobre el sistema de doble precio de los laboratorios farmacéuticos
                                </a>
                            </h5>
                            <div class="boxnews__action">
                                <a href="#" class="boxnews__more">Saber más</a>
                            </div>
                            <div class="boxnews__img" style="background-image: url('https://via.placeholder.com/800x400')"></div>
                        </div>
                    </article>
                </div>
                <div class="viewmore__button">
                    <a href="#" class="btn btn__viewmore">Ver más<br>insights</a>
                </div>
            </div>
        </div>
    </div>
</section>
