<section class="overview">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="overview__wrapper">
                    <div class="overview__item">
                        <div class="overview__number">+1600</div>
                        <div class="overview__title">Profesionales</div>
                        <div class="overview__content">
                            <p>Un equipo multidisciplinar y diverso, con profesionales de 25 nacionalidades.</p>
                        </div>
                    </div>
                    <div class="overview__item">
                        <div class="overview__number">14</div>
                        <div class="overview__title">Paises</div>
                        <div class="overview__content">
                            <p>Máxima presencia en España, Portugal y Latinoamérica a través de 20 oficinas, además de otras 9 oficinas internacionales, 19 desks y un European network.</p>
                        </div>
                    </div>
                    <div class="overview__item">
                        <div class="overview__number">17</div>
                        <div class="overview__title">Especialidades</div>
                        <div class="overview__content">
                            <p>Cubrimos todas las disciplinas del derecho de empresa.</p>
                        </div>
                    </div>                    
                    <div class="overview__item">
                        <div class="overview__number">21</div>
                        <div class="overview__title">sectores de especialización</div>
                        <div class="overview__content">
                            <p>Nos enfocamos en los sectores de actividad de nuestros clientes.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
