<section class="overview overview--nobg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="section__title">Probono</h4>
                <div class="overview__wrapper overview__wrapper--2cols">
                    <div class="overview__wrapper--2cols--boxes">
                        <div class="overview__item">
                            <div class="overview__number">8</div>
                            <div class="overview__title">Probono</div>
                            <div class="overview__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, molestias laborum.</p>
                            </div>
                        </div>
                        <div class="overview__item">
                            <div class="overview__number">12</div>
                            <div class="overview__title">Probono</div>
                            <div class="overview__content">
                                <p>Consectetur adipisicing elit. Sunt excepturi ex atque corporis laboriosam.</p>
                            </div>
                        </div>
                        <div class="overview__item">
                            <div class="overview__number">27</div>
                            <div class="overview__title">Probono</div>
                            <div class="overview__content">
                                <p>Consectetur adipisicing elit. Sunt excepturi ex atque corporis laboriosam.</p>
                            </div>
                        </div>
                        <div class="overview__item">
                            <div class="overview__number">35</div>
                            <div class="overview__title">Probono</div>
                            <div class="overview__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, molestias laborum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="overview__wrapper--2cols--img">
                        <div class="overview__img" style="background-image: url('{{ asset('web/assets/img/F00_firma-manos.jpg') }}')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
