<div class="tools">
    <div class="row page__section">
        <div class="col">
            <h4 class="section__title" style="background-color: #ff5a60">Herramientas</h4>
            <p>listado botones</p>
        </div>
    </div>
</div>
