<section class="page__component tools">
    <div class="container">
        <div class="row page__block--component">
            <div class="col">
                <h4 class="section__title section__title--main">Gestión de personas</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consequatur harum, laboriosam perferendis laborum vel impedit eum reprehenderit, voluptates ab adipisci.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="buttons__list buttons__list--tools intro">
                    <li class="buttons__list__item">
                        <a class="btn__arrow" href="consumptionRetail/medio-ambiente">Lorem ipsum dolor sit amet</a>
                    </li>
                    <li class="buttons__list__item">
                        <a class="btn__arrow" href="consumptionRetail/urbanismo">Excepteur sint occaecat cupidatat non proident</a>
                    </li>
                    <li class="buttons__list__item">
                        <a class="btn__arrow" href="consumptionRetail/alimentacion">Commodo odio aenean sed adipiscing diam</a>
                    </li>
                    <li class="buttons__list__item">
                        <a class="btn__arrow" href="consumptionRetail/consumo-y-retail">Morbi tincidunt ornare massa eget egestas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
