<section class="related-content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Contenido relacionado</h2>
            </div>
            <div class="box-articles-wrapper">
                <article class="box box-article">
                    <div class="box-header">
                        <div class="info-date">15 Enero 2020</div>
                        <div class="info-type">Artículo</div>
                        <button type="button" class="button-bookmark"></button>
                    </div>
                    <div class="box-body">
                        <h3><a href="#">La Audiencia Provincial de Barcelona interpreta la cesión de derechos sobre la obra futura</a></h3>
                    </div>
                    <div class="box-footer">
                        <ul class="list-inline-dots">
                            <li><a href="#" class="tag-link">Alimentación</a></li>
                            <li><a href="#" class="tag-link">Retail</a></li>
                            <li><a href="#" class="tag-link">Infraestructuras</a></li>
                        </ul>
                    </div>
                </article>
                <article class="box box-article">
                    <div class="box-header">
                        <div class="info-date">24 Febrero 2019</div>
                        <div class="info-type">Artículo</div>
                        <button type="button" class="button-bookmark bookmark-on"></button>
                    </div>
                    <div class="box-body">
                        <h3><a href="#">Quince altos directivos españoles explican cómo liderar en un libro de la AED</a></h3>
                    </div>
                    <div class="box-footer">
                        <ul class="list-inline-dots">
                            <li><a href="#" class="tag-link">Empresas</a></li>
                            <li><a href="#" class="tag-link">Negocios</a></li>
                        </ul>
                    </div>
                </article>
                <article class="box box-event">
                    <div class="box-header">
                        <div class="info-date">Del 24 Febrero al 2 Marzo 2019</div>
                        <div class="info-type">Evento</div>
                        <button type="button" class="button-bookmark"></button>
                    </div>
                    <div class="box-body">
                        <h3><a href="#">"Quick fixes": análisis detallado de las novedades del régimen intracomunitario para 2020</a></h3>
                        <div class="info-time">De 10.30 a 18.30 h</div>
                    </div>
                    <div class="box-footer">
                        <div class="map-pin"><a href="#" class="map-pin-link">Barcelona</a></div>
                    </div>
                </article>
            </div>
            <div class="col button-wrapper">
                <a href="#" class="btn btn-main hover-white btn-arrow">Más conocimiento</a>
            </div>
        </div>
    </div>
</section>
