<section class="boxnews bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--insight">{{ 'career.related_content.title_join'| trans }}</h4>
                <div id="sliderArticles" class="swiper-container slider__general">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--news">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Noticia</div>
                                    <div class="boxnews__info">Educación</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">8 Marzo 2020</div>
                                        <div class="boxnews__meta__author">Antoni-Jesús Pérez de Gregorio</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--event">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Webinar</div>
                                    <div class="boxnews__button"><a href="#" class="plain__button">Inscribirme</a></div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__place"><a href="#">Barcelona</a></div>
                                        <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                        <div class="boxnews__meta__time">10.30 — 14.30</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--article">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Articulo</div>
                                    <div class="boxnews__info">Becas y ayudas</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">17 Marzo 2020</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--opinion">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Opinion</div>
                                    <div class="boxnews__info">17 Enero 2020</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">8 Marzo 2020</div>
                                        <div class="boxnews__meta__author">Antoni-Jesús Pérez de Gregorio</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--event">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Evento</div>
                                    <div class="boxnews__info">25 Febrero 2020</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__place"><a href="#">Valencia</a></div>
                                        <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                        <div class="boxnews__meta__time">10.30 — 14.30</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LABORAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LOGÍSTICA Y TRANSPORTE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                HOTELES, TURISMO Y OCIO
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--opinion">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Opinión</div>
                                    <div class="boxnews__info">6 Febrero 2020</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">8 Marzo 2020</div>
                                        <div class="boxnews__meta__author">Antoni-Jesús Pérez de Gregorio</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--news">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Noticia</div>
                                    <div class="boxnews__info">Educación</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">8 Marzo 2020</div>
                                        <div class="boxnews__meta__author">Antoni-Jesús Pérez de Gregorio</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--article">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Artículo</div>
                                    <div class="boxnews__info">Internacional</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">9 Marzo 2020</div>
                                        <div class="boxnews__meta__author">Guillermo García</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LABORAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                DEPORTE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LOGÍSTICA Y TRANSPORTE
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--event">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Evento</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Incluir foros de empleo, y en su defecto, noticias de actualidad
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__place"><a href="#">Bilbao</a></div>
                                        <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                        <div class="boxnews__meta__time">10.30 — 14.30</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                Fiscal
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                Dac 6
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                Nacional
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                Comercio
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                Infraestructuras
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="boxnews bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--insight">Contenido relacionado (3 or less)</h4>
                <div class="swiper-container slider__general">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--news">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Noticia</div>
                                    <div class="boxnews__info">Educación</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            La CNMC archiva de nuevo un expediente sobre el sistema de doble precio de los laboratorios farmacéuticos
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">8 Marzo 2020</div>
                                        <div class="boxnews__meta__author">Antoni-Jesús Pérez de Gregorio</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--event">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Webinar</div>
                                    <div class="boxnews__button"><a href="#" class="plain__button">Inscribirme</a></div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Seminario conjunto con la Autoritat Catalana de la Competènce sobre Compentencia en la Contratación Pública
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__place"><a href="#">Barcelona</a></div>
                                        <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                        <div class="boxnews__meta__time">10.30 — 14.30</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--article">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Articulo</div>
                                    <div class="boxnews__info">Becas y ayudas</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Cuatrecasas asesora a JD Sports y Sprinter en la integración con Sport Zone en España y Portugal
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">17 Marzo 2020</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="viewmore__button">
                    <button type="button" class="btn btn__viewmore">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
