<section class="boxnews bg__grey__03">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <h4 class="section__title section__title--insight">Fake Slider (3 elements)</h4>
                <div class="swiper-container slider__fake">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--news">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Noticia</div>
                                    <div class="boxnews__info">Educación</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            La CNMC archiva de nuevo un expediente sobre el sistema de doble precio de los laboratorios farmacéuticos
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">8 Marzo 2020</div>
                                        <div class="boxnews__meta__author">Antoni-Jesús Pérez de Gregorio</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--event">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Webinar</div>
                                    <div class="boxnews__button"><a href="#" class="plain__button">Inscribirme</a></div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Seminario conjunto con la Autoritat Catalana de la Competènce sobre Compentencia en la Contratación Pública
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__place"><a href="#">Barcelona</a></div>
                                        <div class="boxnews__meta__date">26 Febrero 2020 a 8 Marzo 2020</div>
                                        <div class="boxnews__meta__time">10.30 — 14.30</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="boxnews__item boxnews__item--article">
                                <div class="boxnews__header">
                                    <div class="boxnews__type">Articulo</div>
                                    <div class="boxnews__info">Becas y ayudas</div>
                                </div>
                                <div class="boxnews__content">
                                    <h5 class="boxnews__copy">
                                        <a href="#" class="boxnews__link">
                                            Cuatrecasas asesora a JD Sports y Sprinter en la integración con Sport Zone en España y Portugal
                                        </a>
                                    </h5>
                                    <div class="boxnews__meta">
                                        <div class="boxnews__meta__date">17 Marzo 2020</div>
                                    </div>
                                </div>
                                <div class="boxnews__footer">
                                    <ul class="related__services">
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                MERCANTIL Y SOCIETARIO
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                ARBITRAJE
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                PENAL
                                            </a>
                                        </li>
                                        <li class="related__services__item">
                                            <a href="#" class="related__services__link">
                                                LITIGACIÓN
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="viewmore__button">
                    <a href="#" class="btn btn__viewmore">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</section>
