<section class="related__services__info">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="tab__items__wrapper">
                    <h3>Servicios relacionados</h3>
                    <ul class="nav flex-column" id="servicesTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="services_01-tab" data-toggle="tab" href="#services_01" role="tab" aria-controls="services_01" aria-selected="true">Fiscalidad corporativa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="services_02-tab" data-toggle="tab" href="#services_02" role="tab" aria-controls="services_02" aria-selected="false">Private client &amp; wealth management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="services_03-tab" data-toggle="tab" href="#services_03" role="tab" aria-controls="services_03" aria-selected="false">Derecho mercantil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="services_04-tab" data-toggle="tab" href="#services_04" role="tab" aria-controls="services_04" aria-selected="false">Fiscalidad corporativa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="services_05-tab" data-toggle="tab" href="#services_05" role="tab" aria-controls="services_05" aria-selected="false">Private client &amp; wealth management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="services_06-tab" data-toggle="tab" href="#services_06" role="tab" aria-controls="services_06" aria-selected="false">Fiscalidad contenciosa</a>
                        </li>
                    </ul>
                </div>
                <div class="tab__content__wrapper">
                    <div class="tab-content" id="servicesTabContent">
                        <div class="tab-pane fade show active" id="services_01" role="tabpanel" aria-labelledby="services_01-tab">
                            <h4>Fiscalidad corporativa</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam.</p>
                            <p>Morbi tincidunt augue interdum velit euismod in. Consequat semper viverra nam libero justo. Nec sagittis aliquam malesuada bibendum. Odio aenean sed adipiscing diam. In massa tempor nec feugiat nisl pretium fusce id. Et netus et malesuada fames ac. Fringilla ut morbi tincidunt augue.</p>
                            <p>Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Tempus imperdiet nulla malesuada pellentesque elit. Tellus elementum sagittis vitae et leo duis ut. Etiam sit amet nisl purus in mollis nunc.</p>
                            <div class="viewmore">
                                <button type="button" class="doble__arrow__link">Saber más</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="services_02" role="tabpanel" aria-labelledby="services_02-tab">
                            <h4>Private client &amp; wealth management</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam.</p>
                            <p>Morbi tincidunt augue interdum velit euismod in. Consequat semper viverra nam libero justo. Nec sagittis aliquam malesuada bibendum. Odio aenean sed adipiscing diam. In massa tempor nec feugiat nisl pretium fusce id. Et netus et malesuada fames ac. Fringilla ut morbi tincidunt augue.</p>
                            <div class="viewmore">
                                <button type="button" class="doble__arrow__link">Saber más</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="services_03" role="tabpanel" aria-labelledby="services_03-tab">
                            <h4>Derecho mercantil</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam.</p>
                            <p>Morbi tincidunt augue interdum velit euismod in. Consequat semper viverra nam libero justo. Nec sagittis aliquam malesuada bibendum. Odio aenean sed adipiscing diam. In massa tempor nec feugiat nisl pretium fusce id. Et netus et malesuada fames ac. Fringilla ut morbi tincidunt augue.</p>
                            <p>Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Tempus imperdiet nulla malesuada pellentesque elit. Tellus elementum sagittis vitae et leo duis ut. Etiam sit amet nisl purus in mollis nunc.</p>
                            <div class="viewmore">
                                <button type="button" class="doble__arrow__link">Saber más</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="services_04" role="tabpanel" aria-labelledby="services_04-tab">
                            <h4>Fiscalidad corporativa</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam.</p>
                            <p>Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Tempus imperdiet nulla malesuada pellentesque elit. Tellus elementum sagittis vitae et leo duis ut. Etiam sit amet nisl purus in mollis nunc.</p>
                            <div class="viewmore">
                                <button type="button" class="doble__arrow__link">Saber más</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="services_05" role="tabpanel" aria-labelledby="services_05-tab">
                            <h4>Private client &amp; wealth management</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam.</p>
                            <p>Morbi tincidunt augue interdum velit euismod in. Consequat semper viverra nam libero justo. Nec sagittis aliquam malesuada bibendum. Odio aenean sed adipiscing diam. In massa tempor nec feugiat nisl pretium fusce id. Et netus et malesuada fames ac. Fringilla ut morbi tincidunt augue.</p>
                            <p>Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Tempus imperdiet nulla malesuada pellentesque elit. Tellus elementum sagittis vitae et leo duis ut. Etiam sit amet nisl purus in mollis nunc.</p>
                            <div class="viewmore">
                                <button type="button" class="doble__arrow__link">Saber más</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="services_06" role="tabpanel" aria-labelledby="services_06-tab">
                            <h4>Fiscalidad contenciosa</h4>
                            <p>Morbi tincidunt augue interdum velit euismod in. Consequat semper viverra nam libero justo. Nec sagittis aliquam malesuada bibendum. Odio aenean sed adipiscing diam. In massa tempor nec feugiat nisl pretium fusce id. Et netus et malesuada fames ac. Fringilla ut morbi tincidunt augue.</p>
                            <p>Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Tempus imperdiet nulla malesuada pellentesque elit. Tellus elementum sagittis vitae et leo duis ut. Etiam sit amet nisl purus in mollis nunc.</p>
                            <div class="viewmore">
                                <button type="button" class="doble__arrow__link">Saber más</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
