<section class="search__component--home">
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                    <div class="search_box__wrapper">
                        <div class="search_box__name search_box__name--full">
                            <form action="{{ relative_path('/es/lawyer/filter')}}" method="get">
                                <input type="text" class="form-control" placeholder="{{ 'global.forms.search'|trans }}" name="search">
                                <div class="input-group">
                                    <button class="search_box__button" type="submit">
                                        <span class="icon4-lupa"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="filtersButton">
                        <button type="button" class="doble__arrow__accordion">{{ 'global.messages.show_filters'|trans }}</button>
                    </div>
                    <div class="search_selects filtersToggle">
                        <select id="area" class="custom__select">
                            <option selected disabled>Por área</option>
                            <option value="">Competencia y Derecho de la UE</option>
                            <option value="">Corporate Governance y Compliance</option>
                            <option value="">Derecho contable</option>
                            <option value="">Derecho Laboral</option>
                            <option value="">Financiero</option>
                            <option value="">Fiscal</option>
                            <option value="">Fiscalidad Contenciosa</option>
                            <option value="">Fiscalidad Financiera</option>
                            <option value="">Fusiones y Adquisiciones</option>
                            <option value="">Litigación</option>
                            <option value="">Mediación</option>
                            <option value="">Mercado de valores</option>
                        </select>
                        <select id="desk" class="custom__select">
                            <option selected disabled>Por sector o desk</option>
                            <option value="">Alimentación</option>
                            <option value="">Arte</option>
                            <option value="">Brexit</option>
                            <option value="">Canadian Desk</option>
                            <option value="">Ciberseguridad</option>
                            <option value="">Consumo y Retail</option>
                            <option value="">Deporte</option>
                            <option value="">Empresa Familiar</option>
                            <option value="">Energía y Recursos Naturales</option>
                            <option value="">Farmacia y Sanitario</option>
                        </select>
                        <select id="office" class="custom__select">
                            <option selected disabled>Por oficina</option>
                            <option value="">Barcelona</option>
                            <option value="">Madrid</option>
                            <option value="">Lisboa</option>
                            <option value="">Beijing</option>
                            <option value="">Bogotá</option>
                            <option value="">Brussels</option>
                            <option value="">Casablanca</option>
                            <option value="">Lima</option>
                            <option value="">London</option>
                            <option value="">Luanda</option>
                            <option value="">Maputo</option>
                            <option value="">Mexico City</option>
                            <option value="">New York</option>
                            <option value="">Sao Paulo</option>
                            <option value="">Shanghai</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
