<section class="slider-events">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="sliderEvents" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/sean-pollock-PhYq704ffdA-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="event-info">
                                    <div class="section-title">Evento</div>
                                    <button type="button" class="button-bookmark"></button>
                                </div>
                                <div class="event-details">
                                    <div data-when>
                                        De 18.30 a 22 h <span data-duration>(3,5 horas)</span><br>
                                        Del 24 al 30 de FEBRERO 2020
                                    </div>
                                    <div data-where><i class="material-icons">place</i> Barcelona</div>
                                    <h2 data-info>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu minim veniam quis exercitation ullamco.</h2>
                                </div>
                                <div class="event-button">
                                    <a href="#" class="btn-arrow-new">inscribirme</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/reza-rostampisheh--hcCm0kIaSg-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="event-info">
                                    <div class="section-title">Evento</div>
                                    <button type="button" class="button-bookmark"></button>
                                </div>
                                <div class="event-details">
                                    <div data-when>De 18.30 a 22 h <span data-duration>(3,5 horas)</span></div>
                                    <div data-where><i class="material-icons">place</i> Barcelona</div>
                                    <h2 data-info>Felis imperdiet proin fermentum leo vel orci porta non pulvinar. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat. At urna condimentum mattis pellentesque id nibh. Nam at lectus urna duis convallis convallis tellus.</h2>
                                </div>
                                <div class="event-button">
                                    <a href="#" class="btn-arrow-new">inscribirme</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/robin-worrall-FPt10LXK0cg-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="event-info">
                                    <div class="section-title">Evento</div>
                                    <button type="button" class="button-bookmark"></button>
                                </div>
                                <div class="event-details">
                                    <div data-when>De 18.30 a 22 h <span data-duration>(3,5 horas)</span></div>
                                    <div data-where><i class="material-icons">place</i> Barcelona</div>
                                    <h2 data-info>Elementum curabitur vitae nunc sed velit dignissim sodales. Dapibus ultrices in iaculis nunc. In nibh mauris cursus mattis. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim.</h2>
                                </div>
                                <div class="event-button">
                                    <a href="#" class="btn-arrow-new">inscribirme</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                {# <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> #}
            </div>
        </div>
    </div>
</section>
