<section class="slider-cases">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Casos</h2>
                <div id="sliderCases" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/robin-worrall-FPt10LXK0cg-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Lorem ipsum dolor sit amet</div>
                                <div class="content">Blandit cursus risus at ultrices mi tempus imperdiet nulla. Suscipit tellus mauris a diam maecenas. Velit sed ullamcorper morbi tincidunt ornare massa eget..</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/robin-worrall-FPt10LXK0cg-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Lorem ipsum dolor sit amet</div>
                                <div class="content">Elit at imperdiet dui accumsan sit amet nulla facilisi. Tortor vitae purus faucibus ornare suspendisse sed.</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <figure class="slider-img">
                                <img src="{{ asset('web/assets/img/robin-worrall-FPt10LXK0cg-unsplash.jpg') }}" alt="">
                            </figure>
                            <div class="slider-info">
                                <div class="title">Lorem ipsum dolor sit amet</div>
                                <div class="content">Suscipit tellus mauris a diam maecenas. Velit sed ullamcorper morbi tincidunt ornare massa eget. Elit at imperdiet dui accumsan sit amet nulla facilisi.</div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</section>