<section class="call-to-action">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <figure class="stretch-to-left">
                    <img src="{{ asset('web/assets/img/hunters-race-MYbhN8KaaEc-unsplash.jpg') }}" alt="Juan García Hernández">
                </figure>
            </div>
            <div class="col-6 banner-info-wrapper">
                <p class="emphasis">
                    Talento<br>
                    en <strong>Cuatrecasas</strong>
                </p>
                <p class="banner-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim commodo.</p>
                <a href="#" class="btn btn-naked white btn-main btn-arrow">Ir a talento</a>
            </div>
        </div>
    </div>
</section>