<section class="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-header">Equipo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="team-wrapper box-articles-wrapper">
                    <article class="team-item">
                        <figure class="team-photo">
                            <img src="/cuatrecasas/web/assets/img/hannah-nicollet-JQ2D4I-2eyw-unsplash.jpg" alt="" style="top:-25%">
                        </figure>
                        <div class="team-body">
                            <div class="name">Oriol Ferrer Beltrán</div>
                            <a href="#" class="email">oriol.ferrer@cuatrecasas.com</a>
                            <div class="position">Asociado Senior</div>
                        </div>
                    </article>
                    <article class="team-item">
                        <figure class="team-photo">
                            <img src="/cuatrecasas/web/assets/img/christina-wocintechchat-com-0Zx1bDv5BNY-unsplash.jpg" alt="" style="top:-20%">
                        </figure>
                        <div class="team-body">
                            <div class="name">Ainhoa Urrutikoetxea Olaizola</div>
                            <a href="#" class="email">ainhoa.urrutikoetxea@cuatrecasas.com</a>
                            <div class="position">Asociada Junior</div>
                        </div>
                    </article>
                    <article class="team-item">
                        <figure class="team-photo">
                            <img src="/cuatrecasas/web/assets/img/dragos-gontariu-GH-mSApoKO0-unsplash.jpg" alt="" style="top:0">
                        </figure>
                        <div class="team-body">
                            <div class="name">James Gonzalez del Olmo</div>
                            <a href="#" class="email">james.gonzalez@cuatrecasas.com</a>
                            <div class="position">Marketing</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col button-wrapper">
                <a href="#" class="btn btn-main btn-arrow">Conoce a todo el equipo</a>
            </div>
        </div>
    </div>
</section>
