<section class="team">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="team__wrapper">
                    <div class="team__info">
                        <h3>Equipo<br>Cuatrecasas</h3>
                        <h4>Cuatrecasas cuenta con un equipo dedicado a lorem ipsum.</h4>
                        <a href="#" class="double__arrow__link">Conoce al equipo</a>
                    </div>
                    <div class="team__list">
                        <article class="team__member" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="#" class="team__member__link">Alicia de Carlos</a>
                            <div class="team__member__position">
                                <h3>Socia<br>Fiscal | Barcelona</h3>
                            </div>
                            <div class="team__member__name">
                                <h4>Irene Moreno</h4>
                            </div>
                        </article>
                        <article class="team__member" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="#" class="team__member__link">Ricardo Mínguez</a>
                            <div class="team__member__position">
                                <h3>Consejero<br>Laboral | Bilbao</h3>
                            </div>
                            <div class="team__member__name">
                                <h4>Ricardo Mínguez</h4>
                            </div>
                        </article>
                        <article class="team__member" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="#" class="team__member__link">Carlos Posadas</a>
                            <div class="team__member__position">
                                <h3>Asociado<br>Deporte | Madrid</h3>
                            </div>
                            <div class="team__member__name">
                                <h4>Rubén Agote</h4>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
