<section class="team">
    <div class="container">
        <div class="row page__section">
            <div class="col" style="padding-top:0;padding-bottom:0">
                <div class="team__wrapper">
                    <div class="team__info">
                        <div class="team__info__title">Equipo<br>Cuatrecasas</div>
                        <div class="team__info__intro">Cuatrecasas cuenta con un equipo dedicado a lorem ipsum</div>
                    </div>
                    <div class="team__list">
                        <article class="team__member" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="#" class="team__member__link">Ricardo Mínguez</a>
                            <div class="team__member__details">
                                <div class="team__member__position">Consejero</div>
                                <ul class="team__member__practice">
                                    <li class="team__member__practice__item">Laboral</li>
                                    <li class="team__member__practice__item">Bilbao</li>
                                </ul>
                            </div>
                            <div class="team__member__name">
                                Ricardo Mínguez
                            </div>
                            <div class="team__member__resume">
                                <p>Ricardo Mínguez es experto en occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
