<section class="team">
    <div class="container">
        <div class="row page__section">
            <div class="col" style="padding-top:0;padding-bottom:0">
                <div class="team__wrapper">
                    <div class="team__info">
                        <div class="team__info__title">Equipo<br>Cuatrecasas</div>
                        <div class="team__info__intro">Cuatrecasas cuenta con un equipo dedicado a lorem ipsum</div>
                        <a href="#" class="doble__arrow__link">Conoce al equipo</a>
                    </div>
                    <div class="team__list">
                        <article class="team__member" style="background-image: url('{{ asset('web/assets/img/photo-lawyer-prep2.jpg') }}');">
                            <a href="#" class="team__member__link">Esther de Félix</a>
                            <div class="team__member__details">
                                <div class="team__member__position">Socio</div>
                                <ul class="team__member__practice">
                                    <li class="team__member__practice__item">Litigación</li>
                                    <li class="team__member__practice__item">Barcelona</li>
                                </ul>
                            </div>
                            <!-- <div class="team__member__details">
                                <div class="team__member__position">Socio</div>
                                <div class="team__member__sector">Litigación</div>
                                <div class="team__member__place">Barcelona</div>
                            </div> -->
                            <div class="team__member__name">
                                Esther de Félix
                            </div>
                        </article>
                        <article class="team__member" style="background-image: url('{{ asset('web/assets/img/photo-lawyer-prep2.jpg') }}');">
                            <a href="#" class="team__member__link">Enrique Sánchez-Quiñones</a>
                            <div class="team__member__details">
                                <div class="team__member__position">Socio</div>
                                <ul class="team__member__practice">
                                    <li class="team__member__practice__item">Propiedad intelectual e industrial, Medios y Protección de datos</li>
                                    <li class="team__member__practice__item">Madrid</li>
                                </ul>
                            </div>
                            <!-- <div class="team__member__details">
                                <div class="team__member__position">Socio</div>
                                <div class="team__member__sector">Propiedad intelectual e industrial, Medios y Protección de datos</div>
                                <div class="team__member__place">Madrid</div>
                            </div> -->
                            <div class="team__member__name">
                                Enrique Sánchez-Quiñones
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
