<section class="team">
    <div class="container">
        <div class="row page__section">
            <div class="col" style="padding-top:0;padding-bottom:0">
                <div class="team__wrapper">
                    <div class="team__info">
                        <div class="team__info__title">Equipo<br>Cuatrecasas</div>
                        <div class="team__info__intro">Cuatrecasas cuenta con un equipo dedicado a lorem ipsum</div>
                    </div>
                    <div class="team__list">
                        <article class="team__member" style="background-image: url('{{ asset('web/assets/img/foto-lawyer-full.jpg') }}');">
                            <a href="#" class="team__member__link">Enrique Sánchez-Quiñones</a>
                            <div class="team__member__details">
                                <div class="team__member__position">Socio</div>
                                <div class="team__member__sector">Propiedad intelectual e industrial, Medios y Protección de datos</div>
                                <div class="team__member__place">Madrid</div>
                            </div>
                            <div class="team__member__name">
                                Enrique Sánchez-Quiñones
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
