<section class="tech-channel">
    <div class="container">
        <div class="d-flex align-items-stretch">
            <figure>
                <img src="https://via.placeholder.com/600x600" alt="">
            </figure>
            <div class="tech-info">
                <h5>Tech Channel</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</section>