<section class="testimonials">
    <div class="container">
        <div class="row testimonials__wrapper">
            <div class="col testimonials__item">
                <blockquote class="inline__quote">
                    <div class="inline__quote__text">La formación es diaria y constante, desde el inicio del proceso hasta su conclusion.</div>
                    <div class="inline__quote__author">Otger Suriol</div>
                    <div class="inline__quote__position">Asociado junior Laboral</div>
                </blockquote>
            </div>
            <div class="col testimonials__item">
                <blockquote class="inline__quote">
                    <div class="inline__quote__text">Al ser un despacho con tantas especialidades y gente muy buena, al trabajar con uno u con otro, aprendes.</div>
                    <div class="inline__quote__author">Maiden Garin</div>
                    <div class="inline__quote__position">Estudiante de Master</div>
                </blockquote>
            </div>
            <div class="col testimonials__item">
                <blockquote class="inline__quote">
                    <div class="inline__quote__text">Si tienes un proyecto, un proyecto en el que crees y por el que apostar, es despacho apuesta por ti.</div>
                    <div class="inline__quote__author">Ignacio Buil</div>
                    <div class="inline__quote__position">Socio director oficina Londres</div>
                </blockquote>
            </div>
        </div>
    </div>
</section>
