<section class="boxnews boxnews--regions">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <a href="#" class="box__link__trans">
                                <h5>Europa continental</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, impedit perspiciatis.</p>
                            </a>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <a href="#" class="box__link__trans">
                                <h5>Reino Unido</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, impedit perspiciatis.</p>
                            </a>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <a href="#" class="box__link__trans">
                                <h5>Estados Unidos</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, impedit perspiciatis.</p>
                            </a>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <a href="#" class="box__link__trans">
                                <h5>Asia</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, impedit perspiciatis.</p>
                            </a>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <a href="#" class="box__link__trans">
                                <h5>África</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, impedit perspiciatis.</p>
                            </a>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <a href="#" class="box__link__trans">
                                <h5>Oriente Medio</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, impedit perspiciatis.</p>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
