<section class="boxnews boxnews--info bg__grey__02">
    <div class="container">
        <div class="row page__section">
            <div class="col">
                <div class="boxnews__list">
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <a href="#" class="box__link">
                                <h5>Continental Europe</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius asperiores doloribus perferendis harum aliquam deserunt obcaecati minima, in sunt, impedit perspiciatis non ipsam ab expedita exercitationem maxime accusantium autem voluptas.</p>
                            </a>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <div class="boxnews__content__button boxnews__content__button--region">
                                <a href="#" class="">Portugal</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius asperiores doloribus perferendis harum aliquam deserunt obcaecati minima, in sunt, impedit perspiciatis non ipsam ab expedita exercitationem maxime accusantium autem voluptas.</p>
                            </div>
                        </div>
                    </article>
                    <article class="boxnews__item">
                        <div class="boxnews__content">
                            <div class="boxnews__content__button boxnews__content__button--region">
                                <a href="#" class="doble__arrow__link__region">Latinoamérica</a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius asperiores doloribus perferendis harum aliquam deserunt obcaecati minima, in sunt, impedit perspiciatis non ipsam ab expedita exercitationem maxime accusantium autem voluptas.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
