{% extends 'web/baseFinal.html.twig' %}
{% block main %}

    <main role="main" class="page services">

        <article class="container-fluid">

            <header class="row page__header page__header--opacity" style="background-image: url('{{ asset('web/assets/img/who-s-denilo-ItuL0w2zvTo-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            KIID production service
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Servicios</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Tema destacado
                                </li>
                            </ol>
                        </nav>
                    </div>

                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <p>Using a combination of legal technology and expertise, our boutique KIID production service enables clients to produce a large numbers of KIIDs in a comprehensive, automate and efficient manner.</p>
                    </div>
                    <div class="page__block__content">
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment. Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                        <p><a href="#">Saber más</a></p>
                    </div>
                </div>
            </section>
            <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <h2 class="subsection__title">Key benefits</h2>
                    </div>
                    <div class="page__block__content">
                        <ul class="bullet__list">
                            <li>
                                Time and cost effective solutions for the production of KIIDS.
                            </li>
                            <li>
                                Experienced KIID production teams.
                            </li>
                            <li>
                                Drafting of plain language objectives, policies and risk disclosure.
                            </li>
                            <li>
                                Built in compliance awareness
                            </li>
                            <li>
                                Time and cost effective solutions for the production of KIIDS.
                            </li>
                            <li>
                                Experienced KIID production teams.
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="row page__block">
                <div class="col">
                    <div class="page__block__title">
                        <a href="#" class="btn btn__main">
                        Descarga el dossier
                        <i class="icon ion-ios-download-outline"></i>
                    </a>
                    </div>
                    <div class="page__block__content">
                        <div class="h5">Servicios relacionados</div>
                        <ul class="related__services">
                            <li class="related__services__item">
                                <a href="#" class="related__services__link">
                                    Civil
                                </a>
                            </li>
                            <li class="related__services__item">
                                <a href="#" class="related__services__link">
                                    Internacional
                                </a>
                            </li>
                            <li class="related__services__item">
                                <a href="#" class="related__services__link">
                                    Macroeconomía
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </article>

    </main>

    {% include 'web/shared/contact.html.twig' %}
    {% include 'web/shared/team.html.twig' %}
    {% include 'web/shared/related-content.html.twig' %}
    {% include 'web/shared/insightsNew.html.twig' %}

{% endblock %}
