{% extends 'web/base.html.twig' %}

{% block main %}

    <main role="main" class="">

        <article class="blog-article">
            <header id="page-header">
                <figure class="full-width">
                    <img class="vt45" src="{{ asset('web/assets/img/christian-perner-fYO1T495QCM-unsplash.jpg') }}" alt="">
                </figure>
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <div class="header-info d-flex flex-column">
                                {# <big class="hash-text">SectoresCuatrecasas</big> #}
                                <h1 class="order-2">
                                    Insights
                                </h1>
                                <nav class="order-1" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Inicio</a></a></li>
                                        <li class="breadcrumb-item"><a href="#">Sectores</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Lorem ipsum dolor</li>
                                    </ol>
                                </nav>
                                <ul class="action-icons order-3">
                                    <li><a href="#"><i class="material-icons">share</i></a></li>
                                    <li><a href="#"><i class="material-icons">print</i></a></li>
                                    <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                                    <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                                </ul>
                                {# <a href="#" class="back-button">volver</a> #}
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="event-info-wrapper">
                <div class="container">
                    <div class="row event-search">
                        <div class="col">
                            <div class="search-name">
                                <input type="text" class="form-control" placeholder="Buscar">
                                <div class="input-group">
                                    <button class="" type="button">
                                        <span class="icon4-lupa"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row event-filters">
                        <div class="col">
                            <div class="event-filters-selects">
                                <select class="custom-select">
                                    <option value="hide">Ciudad</option>
                                    <option value="">Competencia y Derecho de la UE</option>
                                    <option value="">Corporate Governance y Compliance</option>
                                    <option value="">Derecho contable</option>
                                    <option value="">Derecho Laboral</option>
                                    <option value="">Financiero</option>
                                    <option value="">Fiscal</option>
                                    <option value="">Fiscalidad Contenciosa</option>
                                    <option value="">Fiscalidad Financiera</option>
                                    <option value="">Fusiones y Adquisiciones</option>
                                    <option value="">Litigación</option>
                                    <option value="">Mediación</option>
                                    <option value="">Mercado de valores</option>
                                </select>
                                <select class="custom-select">
                                    <option value="hide">Expertise</option>
                                    <option value="">Alimentación</option>
                                    <option value="">Arte</option>
                                    <option value="">Brexit</option>
                                    <option value="">Canadian Desk</option>
                                    <option value="">Ciberseguridad</option>
                                    <option value="">Consumo y Retail</option>
                                    <option value="">Deporte</option>
                                    <option value="">Empresa Familiar</option>
                                    <option value="">Energía y Recursos Naturales</option>
                                    <option value="">Farmacia y Sanitario</option>
                                </select>
                                <select class="custom-select">
                                    <option value="hide">Fecha</option>
                                    <option value="">Barcelona</option>
                                    <option value="">Madrid</option>
                                    <option value="">Lisboa</option>
                                    <option value="">Beijing</option>
                                    <option value="">Bogotá</option>
                                    <option value="">Brussels</option>
                                    <option value="">Casablanca</option>
                                    <option value="">Lima</option>
                                    <option value="">London</option>
                                    <option value="">Luanda</option>
                                    <option value="">Maputo</option>
                                    <option value="">Mexico City</option>
                                    <option value="">New York</option>
                                    <option value="">Sao Paulo</option>
                                    <option value="">Shanghai</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {#
            https://isotope.metafizzy.co/layout-modes/masonry.html

            https://isotope.metafizzy.co/v1/demos/layout-modes.html
            https://isotope.metafizzy.co/v1/demos/fluid-responsive.html
            #}
            <section class="event-results-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="grid-masonry">
                                <div class="grid-sizer"></div>
                                <div class="grid-item grid-item--width2 grid-item--height2">
                                    <article>
                                        {# <figure class="slider-img">
                                            <img src="{{ asset('web/assets/img/sean-pollock-PhYq704ffdA-unsplash.jpg') }}" alt="">
                                        </figure> #}
                                        <div class="slider-info">
                                            <div class="event-info">
                                                <div class="section-title">Evento</div>
                                                <button type="button" class="button-bookmark"></button>
                                            </div>
                                            <div class="event-details">
                                                <div data-when>
                                                    De 18.30 a 22 h <span data-duration>(3,5 horas)</span><br>
                                                    Del 24 al 30 de FEBRERO 2020
                                                </div>
                                                <div data-where><i class="material-icons">place</i> Barcelona</div>
                                                <h2 data-info>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqu minim veniam quis exercitation ullamco.</h2>
                                            </div>
                                            <div class="event-button">
                                                <a href="#" class="btn-arrow-new">inscribirme</a>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="grid-item grid-item--height2"></div>
                                <div class="grid-item grid-item--height2"></div>
                                <div class="grid-item"></div>
                                <div class="grid-item"></div>
                                <div class="grid-item"></div>
                                <div class="grid-item"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </article>

    </main>

    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- Isotope JS -->
<!-- <script type="text/javascript" src="{{ asset('web/vendor/isotope.pkgd.min.js') }}"></script> -->
<script>
    // $('.grid-masonry').isotope({
    //     itemSelector: '.grid-item',
    //     // percentPosition: true,
    //     masonry: {
    //         columnWidth: '.grid-sizer'
    //     }
    // });
</script>
{% endblock %}
