// ==========================================================================
// BASIC STUFF
//
// => Section styling
// => Selected text (to do...)
// => Scrollbar
// => Cover bg imgs
// =>
// =>
// =>
// ==========================================================================


html {
    // Force no horizontal scrollbar (for full screen CAROUSEL)
    overflow-x: hidden;
}

body {
    // Custom Scrollbars
    // @include scrollbars(15px, $main-color, $complementary-color);
}

a {
    color: $complementary-color;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    @include on-event {
        color: $complementary-color;
        text-decoration: underline;
    }
}

a:focus {
    outline: 0
}

a:link {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}


//
// OVERRIDING DEFAULT TEXT SELECTION
// Blue: #3390FF
// Yellow: #FFFF00;
// --------------------------------------------------------------------------

::selection {
    // color: $white;
    // background: $complementary-color;
    color: $black;
    background: #FFFF00;
    text-shadow: 0 0 transparent;
}

::-moz-selection {
    // color: $white;
    // background: $complementary-color;
    color: $black;
    background: #FFFF00;
    text-shadow: 0 0 transparent;
}


//
// BG COVER IMGS
// --------------------------------------------------------------------------

.cover-photo {
    position: relative;
    background-color: $white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-photo-full-height {
    position: relative;
    background-color: $white;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.cover-photo-contain {
    position: relative;
    background-color: $white;
    // background-attachment: fixed;
    // background-position: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
