// ==========================================================================
// BUTTONS
// ==========================================================================

//
// MAIN BUTTON
// --------------------------------------------------------------------------

.button__wrapper {
    @include when("right") {
        text-align: right;
    }
}

.btn__solid {
    @include reset-link-button;
    // padding: 0.8rem 6.2rem 0.8rem 1rem;
    padding: 0.8rem 1rem;
    @include fontSet(23px, 23px);
    letter-spacing: 0.7px;
    color: $white;
    background-color: $complementary-color;

    // &:after {
    //     @include icons-ionicons(calc(50% - 18px), auto, auto, calc(100% - 30px));
    //     font-size: 36px;
    //     content: '\f3d1';
    //     color: $white;
    //     transform: scale(1);
    // }

    @include on-event() {
        color: $white;
        text-decoration: none;
        // box-shadow: -6px 6px 0 $main-color,
        //             0 19px 38px rgba(0, 0, 0, 0.30),
        //             0 15px 12px rgba(0, 0, 0, 0.22);

        // box-shadow: 0 3px 18px rgba(0,0,0, 0.3);
        box-shadow: -6px 6px 0 $main-color, 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    @include when("icon") {
        padding-right: 60px;

        .icon {
            position: absolute;
            top: 5px;
            right: 15px;

            &:before {
                font-size: 34px;
                color: $white;
            }
        }

        [class^="icon4-"], [class*=" icon4-"] {
            position: absolute;
            top: 10px;
            right: 15px;

            &:before {
                font-size: 24px;
                color: $white;
            }
        }

        @include on-event() {
            box-shadow: -6px 6px 0 $main-color, 0 3px 6px rgba(0, 0, 0, 0.3);
        }
    }

    @include when("transparent") {
        text-transform: none;
        color: $complementary-color;
        background-color: transparent;
        border: 2px solid transparent;
        border-color: $complementary-color;

        @include on-event() {
            background-color: $complementary-color !important;
            border-color: $complementary-color !important;
            box-shadow: -6px 6px 0 $main-color,
                        0 19px 38px rgba(0, 0, 0, 0.30),
                        0 15px 12px rgba(0, 0, 0, 0.22);
        }
    }

    @include when("bgcolor") {
        @include on-event() {
            background-color: $complementary-color !important;
            border-color: $complementary-color !important;
            box-shadow: -6px 6px 0 $white,
                        0 19px 38px rgba(0, 0, 0, 0.30),
                        0 15px 12px rgba(0, 0, 0, 0.22);
        }
    }
}

.btn__solid__arrow {
    @include reset-link-button;
    padding: 1rem 4rem 1rem 1rem;
    @include fontSet(23px, 23px);
    letter-spacing: 0.7px;
    color: $white;
    background-color: $complementary-color;
    outline: 2px solid transparent;

    transition: all 0.3s ease-out;

    &:before,
    &:after {
        @include icons-4casas(12px, auto, auto, auto);
        content: '\e90a';
        font-size: 32px;
        width: 12px;
        height: 32px;
    }

    &:before {
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: left 0.3s ease-out, opacity 0.3s ease-out;
        // transition: opacity 0.2s ease-out, left 0.2s ease-out;
    }

    &:after {
        right: 30px;
        opacity: 1;
        visibility: visible;
        transition: right 0.3s ease-out, opacity 0.3s ease-out;
        // transition: opacity 0.2s ease-out, right 0.2s ease-out;
    }

    @include on-event {
        padding-right: 4rem;
        padding-left: 4rem;
        text-decoration: none;
        color: $white;
        background-color: $complementary-color;

        box-shadow: -6px 6px 0 $white, 0 10px 20px rgba(0, 0, 0, 0.30);

        &:before {
            left: 10px;
            opacity: 1;
            visibility: visible;
        }

        &:after {
            right: 20px;
            opacity: 0;
            visibility: hidden;
        }
    }

    @include when("nohover") {
        text-align: left;

        @include on-event() {
            background-color: $main-color;
            box-shadow: -6px 6px 0 transparent, 0 10px 20px transparent;
        }
    }
}

.btn__naked {
    @include reset-link-button;
    padding: 0.8rem 4rem;
    @include fontSet(23px, 23px);
    letter-spacing: 0.7px;
    color: $complementary-color;
    background-color: transparent;
    border: 1px solid $complementary-color;

    @include on-event() {
        color: $white;
        background-color: $complementary-color;
        text-decoration: none;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($complementary-color, 0.25);
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}


//
// VIEW MORE (ARROW SYMBOL)
// --------------------------------------------------------------------------

.doble__arrow__link {
    @include arrow-button($complementary-color);
    @include fontSet(23px, 27px);
    letter-spacing: 0.7px;
}


//
// VIEW MORE ACCORDION (ARROW SYMBOL)
// --------------------------------------------------------------------------

.doble__arrow__accordion {
    @include accordion-button($complementary-color);
    @include fontSet(23px, 23px);
    letter-spacing: 0.7px;
    margin-top: 1rem;

    &.doble__arrow__accordion--on {
        &:after {
            transform: rotate(-90deg);
        }
    }
}


//
// SUBCATEGORIES BUTTON (ARROW SYMBOL)
// --------------------------------------------------------------------------

.btn__subcat {
    flex: 1 0 auto;
    position: relative;
    display: block;
    padding: 1.2rem 1.6rem .6rem 0;
    @include fontSet(20px, 20px);
    color: $black;
    border-bottom: 1px solid rgba($black, 0.1);

    &:after,
    &:before {
        @include icons-ionicons(12px, auto, auto, auto);
        content: '\f3d3';
        font-size: 32px;
        font-weight: bold;
        color: $complementary-color;
    }

    &:before {
        left: -10px;
        opacity: 0;
        visibility: hidden;
        transition: left 0.3s ease-in-out, opacity 0.2s ease-out;
    }

    &:after {
        right: 0;
        opacity: 1;
        visibility: visible;
        transition: right 0.3s ease-in-out, opacity 0.2s ease-out;
    }

    @include on-event() {
        padding-right: 1rem;
        padding-left: 2rem;
        text-decoration: none;
        color: $white;
        background-color: $complementary-color;
        border-bottom: 1px solid $main-color;

        &:before,
        &:after {
            color: $white;
        }

        &:before {
            left: 10px;
            opacity: 1;
            visibility: visible;
        }

        &:after {
            right: 10px;
            opacity: 0;
            visibility: hidden;
        }
    }
}


//
// VIEW MORE BUTTON (PLUS SYMBOL)
// --------------------------------------------------------------------------

.viewmore__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.btn__viewmore {
    @include reset-button;
    position: relative;
    height: 50px;
    padding: 0 4.2rem 0 1rem;
    @include fontSet(23px, 23px);
    letter-spacing: 0.7px;
    color: $complementary-color;
    background-color: transparent;
    outline: 1px solid $complementary-color;

    &:before,
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
    }

    &:before {
        width: 50px;
        height: 50px;
        content: '';
        background-color: $complementary-color;
        transition: background-color 0.3s ease-in-out;
    }

    &:after {
        @include icons-4casas(9px, 7px, auto, auto);
        font-size: 30px;
        content: '\e90a';
        color: $white;
        // transform: scale(1);
        transition: all 0.2s ease-out;
    }

    @include when("plus") {
        &:after {
            @include icons-material(8px, 8px, auto, auto);
            @include fontSet(32px, 32px);
            content: '\e145';
            color: $white;
            // transform: scale(1);
            transition: all 0.2s ease-out;
        }
    }

    @include on-event() {
        color: $white;
        background-color: $complementary-color;
        outline: 1px solid $complementary-color;
        box-shadow: 0 0 0 0 rgba(0,0,0,0);

        &:before {
            background-color: $main-color;
        }

        &:after {
            color: $complementary-color;
            // transform: scale(1.2);
        }
    }
}


//
// ARROW BUTTON (GENERAL & TOOLS)
// --------------------------------------------------------------------------

.btn__arrow {
    @include reset-button;
    flex: 1 0 auto;
    position: relative;
    min-height: 50px;
    padding: 0.8rem 4.2rem 0.8rem 1rem;
    @include fontSet(23px, 27px);
    letter-spacing: 0.7px;
    color: $complementary-color;
    outline: 1px solid $complementary-color;

    @include when("solid") {
        color: $white;
        background-color: $complementary-color;
    }

    &:before,
    &:after {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:before {
        width: 3rem;
        height: 100%;
        content: '';
        background-color: $complementary-color;
        transition: background-color 0.3s ease-in-out;
    }

    &:after {
        @include icons-4casas(calc(50% - 16px), auto, auto, calc(100% - 38px));
        font-size: 30px;
        content: '\e90a';
        color: $white;
        // transform: scale(1);
        transition: color 0.2s ease-out, transform 0.2s ease-out;
    }

    @include on-event() {
        text-decoration: none;
        color: $white;
        background-color: $complementary-color;
        outline: 1px solid $complementary-color;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($complementary-color, 0.25)
        }

        &:before {
            background-color: $main-color;
        }

        &:after {
            color: $complementary-color;
            // transform: scale(1.2);
        }
    }

    @include when-inside(".tools") {
        padding: 1rem 6.2rem 1rem 1rem;
        letter-spacing: 0;

        &:before {
            width: 5.2rem;
        }

        &:after {
            @include icons-ionicons(calc(50% - 16px), auto, auto, calc(100% - 46px));
            font-size: 34px;
            transition: color 0.3s ease-in-out, transform 0.3s ease-out;
        }

        @include on-event() {
            &:after {
                transform: scale(1.8);
            }
        }
    }
}


//
// BACK BUTTON (ARROW SYMBOL)
// --------------------------------------------------------------------------

.back__button {
    @include arrow-button-reverse($complementary-color);
    position: absolute;
    top: 2rem;
    @include fontSet(16px, 20px);
    font-weight: bold;
    text-transform: uppercase;
}


//
// FAVORITES
// --------------------------------------------------------------------------

.button__bookmark {
    position: absolute;
    top: -4px;
    right: -6px;
    width: 40px;
    height: 40px;
    margin: 0 0;
    padding: 0 0;
    color: transparent;
    background: none;
    background-color: transparent;
    border: none;
    border-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease-out;

    // &:after {
    //     @include icons-4casas(4px, 0, auto, auto);
    //     position: relative;
    //     @include fontSet(26px, 26px);
    //     content: '\e900';
    //     color: $complementary-color;
    //     transform: scale(1.3);
    //     transition: all 0.2s ease-out;
    // }

    &:after {
        @include icons-material(4px, 0, auto, auto);
        position: relative;
        top: 4px;
        font-size: 28px;
        content: '\e867';
        color: $complementary-color;
        transform: scale(1.3);
        transition: all 0.2s ease-out;
    }

    @include on-event() {
        color: $white;
        background-color: $complementary-color;
        border-color: $complementary-color;
        outline: none;

        &:after {
            color: $white;
            transform: scale(1);
        }
    }

    @include when("on") {
        &:after {
            content: '\e866';
            color: $complementary-color;
        }
    }
}


//
// ICON BUTTON
// --------------------------------------------------------------------------

.icon__button {
    @include reset-button;
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0.2rem;
    text-align: center;
    // outline: 4px solid transparent;

    [class^="icon4-"], [class*=" icon4-"] {
        &:before {
            font-size: 30px;
            color: $main-color;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    @include on-event() {
        // outline: 4px solid $complementary-color;

        [class^="icon4-"], [class*=" icon4-"] {
            &:before {
                color: $complementary-color;
            }
        }
    }

    &.active {
        // outline: 4px solid $complementary-color;
        [class^="icon4-"], [class*=" icon4-"] {
            &:before {
                color: $complementary-color;
            }
        }
    }
}


//
// BOX NEWS BUTTON
// --------------------------------------------------------------------------

.plain__button {
    @include background-link($complementary-color, $white, $complementary-color);
}


//
// FULL BOX INVISIBLE LINK
// --------------------------------------------------------------------------

.box__link {
    @include background-link($complementary-color, $white, $complementary-color);
}
