// ==========================================================================
// BUTTONS
// ==========================================================================

.btn__main {
    @include reset-button;
    color: $white;
    background-color: $complementary-color;
    border: 1px solid transparent;
    border-color: $complementary-color;

    @include on-event() {
        color: $white;
        text-decoration: none;
        box-shadow: -8px 8px 0 $main-color,
                    0 19px 38px rgba(0, 0, 0, 0.30),
                    0 15px 12px rgba(0, 0, 0, 0.22);
    }

    @include when("transparent") {
        text-transform: none;
        color: $complementary-color;
        background-color: transparent;
        border: 2px solid transparent;
        border-color: $complementary-color;

        @include on-event() {
            background-color: $complementary-color !important;
            border-color: $complementary-color !important;
            box-shadow: -8px 8px 0 $main-color,
                        0 19px 38px rgba(0, 0, 0, 0.30),
                        0 15px 12px rgba(0, 0, 0, 0.22);
        }
    }

    @include when("bgcolor"){
        @include on-event() {
            background-color: $complementary-color !important;
            border-color: $complementary-color !important;
            box-shadow: -8px 8px 0 $white,
                        0 19px 38px rgba(0, 0, 0, 0.30),
                        0 15px 12px rgba(0, 0, 0, 0.22);
        }
    }
}


//
// Favorites
// --------------------------------------------------------------------------

.button__bookmark {
    position: relative;
    width: 44px;
    height: 44px;
    margin: 0 0;
    padding: 0.2em;
    color: red;
    background-color: transparent;
    border: none;
    border-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease-out;

    &:after {
        position: relative;
        top: -2px;
        left: -2px;
        content: '\e867';
        font-family: 'Material Icons';
        @include fontFull(40px, 40px);
        font-weight: normal;
    }

    @include on-event() {
        color: $white;
        background-color: $complementary-color;
        border-color: $complementary-color;
        outline: none;
    }

    &.on {
        &:after {
            content: '\e866';
        }
    }
}


//
// View more
// --------------------------------------------------------------------------

.viewmore__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}

.btn__viewmore {
    position: relative;
    padding: 0.5rem 3rem;
    @include fontFull(17px, 17px);
    font-weight: 600;
    text-align: right;
    color: $black;
    background: none;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease-out;

    &:after {
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 2px;
        content: '\e148';
        font-family: 'Material Icons';
        font-size: 36px;
        font-weight: normal;
        line-height: 1;
        color: $complementary-color;
        transform: scale(1);
        transition: all 0.3s ease-out;
        will-change: transform;
    }

    @include on-event() {
        padding-right: 4rem;
        // color: $complementary-color;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($complementary-color, 0.25);
        }

        &:after {
            right: 6px;
            transform: scale(1.5) rotate(180deg);
        }
    }
}

