// ==========================================================================
// FONTS
// ==========================================================================

//
// Cuatrecasas
// --------------------------------------------------------------------------

@font-face {
    font-family: 'Cuatrecasas';
    src: url('../fonts/cuatrecasas/cuatrecasastext-regular-webfont.woff2') format('woff2'),
         url('../fonts/cuatrecasas/cuatrecasastext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Cuatrecasas';
    src: url('../fonts/cuatrecasas/cuatrecasastext-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/cuatrecasas/cuatrecasastext-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Cuatrecasas';
    src: url('../fonts/cuatrecasas/cuatrecasastext-bold-webfont.woff2') format('woff2'),
         url('../fonts/cuatrecasas/cuatrecasastext-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Cuatrecasas';
    src: url('../fonts/cuatrecasas/cuatrecasastext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/cuatrecasas/cuatrecasastext-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}


//
// FONT SIZES & TYPES
// --------------------------------------------------------------------------

$corporative-font: ('Cuatrecasas',
               system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji');

@mixin cuatrecasas-font() {
    font-family: $corporative-font;
    font-weight: normal;
    font-style: normal;
}
