// ==========================================================================
// FORMS
// ==========================================================================

.form-control,
.custom-select {
    @include fontSet(22px, 22px);
    height: auto;
    padding: 0.8rem 1rem;
    color: $main-color;
    border: 1px solid rgba($black, 0.2);
    border-radius: 0;

    &:focus {
        color: $main-color;
        background-color: $white;
        border-color: $complementary-color;
        outline: 0;
        box-shadow: 0 0 0 4px rgba($complementary-color, 0.2);
    }

    &.is-valid,
    &.is-invalid {
        // background-image: none;
    }

    &.is-valid {
        // background-image: none;
    }
}

.form-group {
    .valid-feedback,
    .invalid-feedback {
        padding: 0 1rem;
        // color: $main-color;
    }
}

.flex-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


//
// EVENT FORM
// --------------------------------------------------------------------------
#eventBoxForm {
    .form-control,
    .custom-select {
        background-color: transparent;
        border: 1px solid rgba($complementary-color, 1);

        &:focus {
            background-color: $white;
            // box-shadow: 0 0 0 0 transparent;
            // box-shadow: 0 0 0 1px $complementary-color,
            //             0 0 0 4px rgba($complementary-color, 0.2);
        }
    }

    .txt__fill__form {
        @include fontSet(23px, 27px);
        margin-bottom: 0.8rem;
        color: $main-color;
    }

    .txt__required__fields {
        @include fontSet(16px, 18px);
        margin-bottom: 1em;
        // color: $main-color;
    }

    //
    // PLACEHOLDERS TUNNING
    //

    select:required:invalid {
        color: $complementary-color;
    }

    option[value=""][disabled] {
        display: none;
    }

    option {
        color: $main-color;
    }

    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $complementary-color;
        opacity: 1;
    }
    ::placeholder {
        /* Firefox */
        color: $complementary-color;
        opacity: 1;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $complementary-color;
        opacity: 1;
    }
    :-ms-input-placeholder {
        /* $complementary-color Explorer 10-11 */
        color: $complementary-color;
        opacity: 1;
    }
    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $complementary-color;
        opacity: 1;
    }

}


//
// CUSTOM SELECT
// --------------------------------------------------------------------------

// https://custom-select.github.io/custom-select/
// https://github.com/custom-select/custom-select

// http://jsfiddle.net/BB3JK/47/

// https://codepen.io/afalchi82/pen/aNXjgb
// https://codepen.io/vulchivijay/pen/rxyBpg

// https://speckyboy.com/open-source-css-javascript-select-box-snippets/

// https://codepen.io/wallaceerick/pen/ctsCz

@include new("search_selects") {

    $select-height: 42px;

    display: flex;
    justify-content: space-between;
    margin: 0 -0.5rem;

    .select-hidden {
        // position: relative;
        // display: none;
        height: 40px;
        visibility: hidden;
    }

    .select {
        // flex: 1;
        flex: 1 1 auto;
        position: relative;
        height: $select-height;
        margin: 0 0.5rem;
        padding: 0 0;
        color: $black;
        cursor: pointer;
    }

    .select-styled {
        position: relative;
        top: -$select-height;
        right: 0;
        bottom: 0;
        left: 0;
        height: $select-height;
        margin: 0 0;
        padding: 1rem 4rem 0 0.5rem;

        white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;

        @include fontSet(22px, 22px);
        text-align: left;

        color: $black;
        background-color: transparent;
        box-shadow: 0 2px 0 $complementary-color;
        transition: all 0.2s ease-in;

        &:after {
            @include icons-ionicons(10px,6px,auto,auto);
            content: '\f3d1';
            font-size: 36px;
            transform: rotate(90deg);
            color: $complementary-color;
            transition: all 0.2s;
        }

        @include on-event {
            color: $complementary-color;
            box-shadow: 0 2px 0 $complementary-color;
        }

        &:active, &.active {
            color: $complementary-color;
            // box-shadow: 0 2px 0 rgba($black, 0.3);
            box-shadow: 0 2px 0 $complementary-color;

            &:after {
                transform: rotate(-90deg);
            }
        }
    }

    .select-options {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        left: 0;
        width: 100%;
        max-height: 252px;
        margin: 2px 0 0 0;
        padding: 0;
        overflow-y: auto;
        @include scrollbars(24px, 8px, $white, $complementary-color, $white);
        z-index: 999;
        list-style: none;
        color: $black;
        background-color: $white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        li {
            margin: 0;
            padding: 0.5rem 1rem 0.5rem 0.5rem;
            @include fontSet(20px, 20px);
            text-align: left;
            // white-space: nowrap;
            // box-shadow: 0 1px 0 rgba($black, 0.1);
            transition: all 0.15s ease-in;

            &:last-child {
                // box-shadow: 0 0 0 rgba($black, 0);
            }

            @include on-event {
                background-color: rgba($black, 0.1);
            }

            &[rel="hide"] {
                display: none;
            }
        }
    }
}


//
// CUSTOM RADIO / CHECKBOX
// --------------------------------------------------------------------------

// https://codepen.io/triss90/pen/XNEdRe

$color-on: $complementary-color;
$color-off: $white;

.radiobox {

    input[type="radio"] {
        position: absolute;
        opacity: 0;

        + .radio-label {

            @include fontSet(16px, 30px);

            &:before {
                content: '';
                background: $color-off;
                border-radius: 100%;
                border: 1px solid rgba($black, 0.2);
                display: inline-block;
                width: 25px;
                height: 25px;
                position: relative;
                top: 0;
                margin-right: 10px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }

            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }

        &:checked {
            + .radio-label {
                &:before {
                    border-color: $color-on;
                    background-color: $color-on;
                    border-color: rgba($black, 0.2);
                    box-shadow: inset 0 0 0 4px $color-off;
                }
            }
        }

        &:focus {
            + .radio-label {
                &:before {
                    outline: none;
                    border-color: $color-on;
                    box-shadow: 0 0 0 0 rgba($white, 0);
                    // box-shadow: 0 0 0 .2rem rgba($color-on, 0.25);
                }
            }
        }

        &:disabled {
            + .radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px $color-off;
                    border-color: rgba($black, 0.2);
                    background: darken($color-off, 25%);
                }
            }
        }
    }
}

.checkbox {
    padding: 0.2rem;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;

        + .checkbox-label {
            display: flex;
            margin-bottom: 1rem;
            text-align: left;

            span {
                display: inline-block;
                padding: 0.2rem 0 0 0;
                @include fontSet(18px, 22px);
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:before {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                position: relative;
                top: 0;
                vertical-align: top;
                text-align: center;
                margin-right: 10px;
                border: 1px solid rgba($black, 0.2);
                border-radius: 0.25rem;
                background-color: $white;
                background-position: 0 0;
                cursor: pointer;
                transition: all 250ms ease;
            }

            &:empty {
                &:before {
                    margin-right: 0;
                }
            }

            @include on-event {
                cursor: pointer;

                 &:before {
                    border: 1px solid $color-on;
                }
            }
        }

        &:checked {
            + .checkbox-label {
                &:before {
                    border-color: $color-on;
                    background-color: $color-on;
                    box-shadow: inset 0 0 0 0 $color-off;
                    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
                }
            }
        }

        &:focus {
            + .checkbox-label {
                &:before {
                    outline: none;
                    border-color: $color-on;
                    // box-shadow: 0 0 0 0 rgba($white, 0);
                    box-shadow: 0 0 0 .2rem rgba($color-on, 0.25);
                }
            }
        }

        &:disabled {
            + .checkbox-label {
                &:before {
                    box-shadow: inset 0 0 0 4px $color-off;
                    border-color: darken($color-off, 25%);
                    background: darken($color-off, 25%);
                }
            }
        }
    }
}
