// ==========================================================================
// LISTS
// ==========================================================================

@include new("related__services") {
    @include reset-list;
    padding: 2px 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    @include when-inside(".boxnews") {
        position: relative;
        left: -4px;
        padding: 0 0;
    }

    @include when-inside(".insight") {
        position: relative;
        left: -4px;
    }

    @include when-inside(".page__aside--practices") {
        position: relative;
        left: -4px;
    }

    @include when-inside(".page__event") {
        position: relative;
        left: -4px;
    }


    //
    // Lawyer detail
    //
    @include has("item") {
        position: relative;
        margin: 0 24px 0 0;
        padding: 0 0;

        @include when-inside(".boxnews") {
            margin: 0 10px 2px 0;
        }

        @include when-inside(".insight") {
            margin: 0 10px 2px 0;
        }

        @include when-inside(".page__aside--practices") {
            margin: 0 10px 2px 0;
        }

        @include when-inside(".page__event") {
            margin: 0 8px 2px 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: -12px;
            width: 1px;
            height: 18px;
            background-color: $complementary-color;
            opacity: 0.8;

            @media(max-width: $max-width-4casas) {
                // top: 6px;
                top: 2px;
                height: 12px;
            }

            @include when-inside(".boxnews") {
                left: -6px;
            }

            @include when-inside(".insight") {
                left: -6px;
            }

            @include when-inside(".page__aside--practices") {
                left: -6px;
            }

            @include when-inside(".page__event") {
                left: -4px;
            }
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    @include has("link") {
        display: inline-block;
        margin: 0 0;
        padding: 2px 0 0;
        @include fontSet(16px, 18px);
        letter-spacing: 0.7px;
        text-transform: uppercase;
        @include classic-link($complementary-color, $white, $border: false);

        @media(max-width: $max-width-4casas) {
            @include fontSet(12px, 12px);
            letter-spacing: 0;
        }

        @include when-inside(".boxnews") {
            @include background-link($complementary-color, $white, $complementary-color);
            padding: 2px 4px 0;
        }

        @include when-inside(".insight") {
            @include background-link($complementary-color, $white, $complementary-color);
            padding: 2px 4px 0;
        }

        @include when-inside(".page__aside--practices") {
            @include background-link($complementary-color, $white, $complementary-color);
            padding: 2px 4px 0;
        }

        @include when-inside(".page__event") {
            @include background-link($complementary-color, $white, $complementary-color);
            padding: 2px 4px 0;
        }
    }
}

@include new("related__content") {
    @include reset-list;
    position: relative;
    left: -4px;
    padding: 2px 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    li {
        position: relative;
        margin: 0 8px 2px 0;
        padding: 0 0;

        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: -4px;
            width: 1px;
            height: 18px;
            background-color: $complementary-color;
            opacity: 0.8;

            @media(max-width: $max-width-4casas) {
                // top: 6px;
                top: 2px;
                height: 12px;
            }
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    a {
        display: inline-block;
        margin: 0 0;
        padding: 2px 4px 0;
        @include fontSet(16px, 18px);
        letter-spacing: 0.7px;
        text-transform: uppercase;
        @include background-link($complementary-color, $white, $complementary-color);

        @media(max-width: $max-width-4casas) {
            @include fontSet(12px, 12px);
            letter-spacing: 0;
        }
    }

    span {
        padding: 2px 4px 0;
        @include fontSet(16px, 18px);
        text-transform: uppercase;
        color: $main-color;

        @media(max-width: $max-width-4casas) {
            @include fontSet(12px, 12px);
            letter-spacing: 0;
            top: 6px;
            height: 12px;
        }
    }

    //
    // ARTICLE PAGE
    // --------------------------------------------------------------------------

    // Lawyer list
    @include when("lawyers") {
        li {
            &:before {
                background-color: $black;
            }
        }

        a {
            @include background-link($black, $white, $complementary-color);
            // font-weight: bold;
        }
    }

    // Services list
    @include when("services") {
        a {
            @include background-link($complementary-color, $white, $complementary-color);
        }
    }
}

@include new("speakers__list") {
    @include reset-list;

    @media(max-width: $max-width-4casas) {
        position: relative;
        left: -4px;
        margin: 0 0;
        padding: 0 0;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    li {
        margin: 0 8px 0 0;
        padding: 0 0;
        white-space: nowrap;

        @media(max-width: $max-width-4casas) {
            position: relative;
            white-space: normal;

            &:before {
                content: "";
                position: absolute;
                top: 2px;
                left: -4px;
                width: 1px;
                height: 12px;
                background-color: $complementary-color;
                opacity: 0.8;
            }

            &:first-child {
                &:before {
                    display: none;
                }
            }
        }
    }

    a, span {
        display: inline-block;
        margin: 0 0;
        padding: 2px 4px 0;
        @include fontSet(16px, 18px);
        letter-spacing: 0.7px;
        text-transform: uppercase;

        @media(max-width: $max-width-4casas) {
            @include fontSet(12px, 12px);
            letter-spacing: 0;
        }
    }

    a {
        @include background-link($complementary-color, $white, $complementary-color);
    }

    span {
        color: $main-color;
    }
}

@include new("bullet__list") {
    @include reset-list;
    // padding-bottom: 4rem;

    > li {
        position: relative;
        margin-bottom: 1rem;
        padding-left: 1.2rem;
        @include fontSet(26px, 30px);
        color: $main-color;

        &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $main-color;
        }
    }

    [data-degree] {
        position: relative;
        margin-right: 1rem;
        font-weight: bold;

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            right: -12px;
            display: inline-block;
            width: 2px;
            height: 26px;
            background-color: rgba($black, 0.5);
        }
    }

    [data-university] {}
}

@include new("arrow__list") {
    @include reset-list;
    display: block;
    list-style-type: none !important;

    li {
        position: relative;
        margin-bottom: 0.6rem;
        padding-left: 1rem;
        @include fontSet(20px, 26px);

        &:before {
            @include icons-ionicons(7px,auto,auto,0);
            content: '\f10a';
            font-size: 12px;
        }
    }
}

@include new("buttons__list") {
    @include reset-list;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;

    @include when("tools") {
        margin-top: 4rem;
        padding: 0 4rem;

        &.intro {
            margin-top: 0;
        }

        @media(max-width: $max-width-4casas) {
            display: block;
            margin-top: 0;
            padding: 0 0;
        }
    }

    @include has("item") {
        display: flex;
        flex-direction: column;
        flex: 0 0 calc(33.3333% - 2rem);
        width: calc(33.3333% - 2rem);
        margin: 0 1rem;

        @include when-inside(".list-2cols") {
            flex: 0 0 calc(50% - 2rem);
            width: calc(50% - 2rem);

            @media(max-width: $max-width-4casas) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
            }
        }

        @include when-inside(".tools") {
            flex: 0 0 calc(50% - 6rem);
            width: calc(50% - 6rem);
            margin: 0 3rem 2.5rem;

            @media(max-width: $max-width-4casas) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                margin: 0 0 1rem;
            }
        }
    }
}

@include new("buttons__list__column") {
    @include reset-list;
    column-count: 2;
    column-gap: 5rem;
    margin: 0 1rem;
    column-fill: auto;

    @include when("3cols") {
        column-count: 3;
    }

    @include has("item") {
        display: inline-block;
        width: 100%;
    }

    @media(max-width: $max-width-4casas) {
        column-gap: 2rem;

        @include when("3cols") {
            column-count: 2;
        }
    }

    @media(max-width: $max-width-md) {
        column-count: initial;

        @include when("3cols") {
            column-count: initial;
        }
    }
}

@include new("social__media") {
    @include reset-list;
    display: flex;
    justify-content: space-around;

    @include when-inside(".boxnews__content") {
        margin-top: auto;
        margin-bottom: 1rem;

        @media(max-width: $max-width-4casas) {
            margin-top: 2rem;
        }
    }

    .social__item {
        margin: 0 0;
    }

    .social__link {
        display: block;
        width: 44px;
        height: 44px;
        text-align: center;
        color: $complementary-color;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;

        @media(max-width: $max-width-4casas) {
            width: 34px;
            height: 34px;
        }

        @include on-event {
            text-decoration: none;
            color: $white;
            background-color: $complementary-color;
            border-color: $complementary-color;
        }

        .fab {
            font-size: 28px;
            line-height: 44px;

            @media(max-width: $max-width-4casas) {
                font-size: 22px;
                line-height: 34px;
            }
        }
    }
}
