// ==========================================================================
// LISTS
// ==========================================================================

@include new("related__services") {
    @include reset-list;
    padding: 2px 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    @include when-inside(".boxnews") {
        position: relative;
        left: -4px;
        padding: 0 0;
    }

    @include when-inside(".insight") {
        position: relative;
        left: -4px;
    }

    @include when-inside(".page__aside--practices") {
        position: relative;
        left: -4px;
    }

    //
    // Lawyer detail
    //
    @include has("item") {
        position: relative;
        margin: 0 24px 0 0;
        padding: 0 0;

        @include when-inside(".boxnews") {
            margin: 0 10px 2px 0;
        }

        @include when-inside(".insight") {
            margin: 0 10px 2px 0;
        }

        @include when-inside(".page__aside--practices") {
            margin: 0 8px 2px 0;
        }

        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: -12px;
            width: 1px;
            height: 90%;
            background-color: $complementary-color;
            opacity: 0.8;

            @include when-inside(".boxnews") {
                left: -6px;
            }

            @include when-inside(".insight") {
                left: -6px;
            }

            @include when-inside(".page__aside--practices") {
                left: -4px;
            }
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    @include has("link") {
        margin: 0 0;
        padding: 2px 0 0;
        @include fontSet(16px, 16px);
        @include classic-link($complementary-color, $white, $border: false);
        text-transform: uppercase;

        @include when-inside(".boxnews") {
            @include background-link($complementary-color, $white, $complementary-color);
            padding: 2px 4px 0;
        }

        @include when-inside(".insight") {
            @include background-link($complementary-color, $white, $complementary-color);
            padding: 2px 4px 0;
        }

        @include when-inside(".page__aside--practices") {
            @include background-link($complementary-color, $white, $complementary-color);
            padding: 2px 4px 0;
        }
    }
}

@include new("bullet__list") {
    @include reset-list;
    padding-bottom: 4rem;

    > li {
        position: relative;
        margin-bottom: 1rem;
        padding-left: 1.4rem;
        @include fontSet(26px, 30px);
        color: $main-color;

        &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $main-color;
        }
    }

    [data-degree] {
        position: relative;
        margin-right: 1rem;
        font-weight: bold;

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            right: -12px;
            display: inline-block;
            width: 2px;
            height: 26px;
            background-color: rgba($black, 0.5);
        }
    }

    [data-university] {}
}

@include new("arrow__list") {
    @include reset-list;
    display: block;
    list-style-type: none !important;

    li {
        position: relative;
        margin-bottom: 0.6rem;
        padding-left: 1rem;
        @include fontSet(20px, 26px);

        &:before {
            @include icons-ionicons(7px,auto,auto,0);
            content: '\f10a';
            font-size: 12px;
        }
    }
}

@include new("buttons__list") {
    @include reset-list;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;

    @include has("item") {
        display: flex;
        flex-direction: column;
        width: calc(33.3333% - 2em);
        flex: 0 0 calc(33.3333% - 2em);
        margin: 0 1em;

        @include when-inside(".two-cols") {
            width: calc(50% - 2em);
            flex: 0 0 calc(50% - 2em);
        }
    }

    @include has("link") {
        flex: 1 0 auto;
        position: relative;
        display: block;
        padding: 1.2rem 1.6rem .6rem 0;
        @include fontSet(20px, 20px);
        color: $black;
        border-bottom: 1px solid rgba($black, 0.1);

        &:after,
        &:before {
            @include icons-ionicons(12px, auto, auto, auto);
            content: '\f3d3';
            font-size: 32px;
            font-weight: bold;
            color: $complementary-color;
        }

        &:before {
            left: -10px;
            opacity: 0;
            visibility: hidden;
            transition: left 0.3s ease-in-out, opacity 0.2s ease-out;
        }

        &:after {
            right: 0;
            opacity: 1;
            visibility: visible;
            transition: right 0.3s ease-in-out, opacity 0.2s ease-out;
        }

        @include on-event() {
            padding-right: 1rem;
            padding-left: 2rem;
            text-decoration: none;
            color: $white;
            background-color: $complementary-color;
            border-bottom: 1px solid $main-color;

            &:before,
            &:after {
                color: $white;
            }

            &:before {
                left: 10px;
                opacity: 1;
                visibility: visible;
            }

            &:after {
                right: 10px;
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
