// ==========================================================================
// QUOTES
// ==========================================================================

q {
    quotes: "“" "”" "‘" "’";

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }
}

@include new("cite__quote") {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 1rem 1.2rem 3.8rem 1.2rem;
    text-align: center;
    background-color: $complementary-color;

    //
    // quote sign
    //
    &:before {
        @include fontSet(140px, 140px);
        display: inline-block;
        content: '\201C';
        position: relative;
        top: 8rem;
        color: $white;
        transform: scale(3);
    }

    p {
        position: relative;
        @include fontSet(33px, 37px);
        margin-bottom: 1rem;
        padding-bottom: 2.6rem;
        color: $main-color;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - 8%);
            display: block;
            width: 16%;
            height: 3px;
            background-color: $main-color;
        }
    }

    cite {
        @include fontSet(22px, 26px);
        display: block;
        margin-top: 1rem;
        font-style: normal;
        color: $main-color;
    }
}

@include new("inline__quote") {
    position: relative;
    margin: 0 0;
    padding: 0 3.6rem 4.2rem;
    @include cuatrecasas-font();
    text-align: center;
    color: $black;
    background-color: $complementary-color;

    //
    // quote sign
    //
    &:before {
        content: '\201C';
        position: relative;
        top: 8rem;
        display: inline-block;
        font-size: 9rem;
        line-height: 1;
        color: $white;
        transform: scale(3);
    }

    > * {
        @include fontSet(32px, 36px);
    }

    @include has("text") {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 2rem;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - 10%);
            display: block;
            width: 20%;
            height: 3px;
            background-color: $black;
        }
    }

    @include has("author") {
        margin-top: 1rem;
    }

    @include has("position") {}
}

@include new("mentions") {
    @include reset-list;
    display: flex;

    @include mediaQuery($desktop-width, $mobile-width) {
        display: block;
    }

    @include has("quote") {
        flex: 1;
        padding: 3rem 3rem 6rem;
        @include fontSet(32px, 40px);
        color: $white;

        &:nth-child(1) {
            background-color: rgba($main-color, 1);
        }

        &:nth-child(2) {
            background-color: rgba($main-color, 0.8);
        }

        &:nth-child(3) {
            background-color: rgba($main-color, 0.6);
        }
    }
}
