// ==========================================================================
// TABS (Search & Practice Areas)
// ==========================================================================

@include new("tabs__component") {

    @include has("full") {
        position: relative;
        width: 100vw;
        margin-left: -50vw;
        left: 50%;
    }


    //
    // TABS
    // --------------------------------------------------------------------------

    @include has("tabs") {
        padding: 0 0.5rem;

        &.tabs--products {
            &:after {
                background-color: $tabActive;
            }
        }

        .nav {
            width: 100%;
        }

        .nav-tabs {
            flex-flow: row;
            border-bottom: 0 solid transparent;
        }

        .nav-item {
            flex: 1;
            margin-bottom: 0;

            &:nth-of-type(1) {
                background-color: $tab1;
            }

            &:nth-of-type(2) {
                background-color: $tab2;
            }

            &:nth-of-type(3) {
                background-color: $tab3;
            }

            &:nth-of-type(4) {
                background-color: $tab4;
            }
        }

        .nav-link {
            height: 100%;
            @include fontSet(24px, 26px);
            text-transform: uppercase;
            color: $black;
            padding: 1.6rem 6rem 1.4rem 4rem;

            border: 0 solid transparent;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-left: 10px solid transparent;

            transition: all 0.3s ease-in-out;

            @include on-event {
                // color: $complementary-color;
                // background-color: $tabActive;
                border-left: 10px solid $complementary-color;
            }

            &:active, &.active {
                color: $main-color;
                background-color: $tabActive;
                border-left: 10px solid $complementary-color;
            }
        }
    }

    //
    // CONTENT
    // --------------------------------------------------------------------------

    @include has("content") {
        position: relative;

        &:before {
            @include reset-pseudo($tabActive);
            @include reset-full-scren;
        }

        @include when-inside(".sectors") {
             &:before {
                background-color: $white;
            }
        }

        .page__section > .col {
            padding: 4rem 0;

            @media(max-width: $max-width-4casas) {
                padding: 2rem 0;
            }
        }


        .search_box__wrapper {
             margin-bottom: 2rem;
        }

        .search_selects {}
    }
}

@include new("faketabs__component") {

    @media(max-width: $max-width-4casas) {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 100vw;
            height: 100%;
            margin-left: -50vw;
            background-color: rgba($black, 0.03);
        }
    }

    //
    // TABS
    // --------------------------------------------------------------------------

    @include has("tabs") {
        position: relative;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        transition: all 0.3s ease-in-out;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 100vw;
            height: 1px;
            margin-left: -50vw;
            background-color: rgba($black, 0.1);
        }

        .nav {
            justify-content: space-between;
            margin-top: 2rem;

            @media(max-width: $max-width-4casas) {
                margin-top: 0;
            }
        }

        .nav-tabs {
            border-bottom: 0 solid transparent;
        }

        .nav-item {
            margin-bottom: 0;
        }

        .nav-link {
            position: relative;
            @include fontSet(23px, 23px);
            text-transform: uppercase;
            color: $main-color;
            margin: 0 0;
            padding: 0.5rem 0;
            border: 0 solid transparent;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            transition: color 0.2s ease-in-out;

            &:after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                display: block;
                width: 100%;
                height: 4px;
                background-color: $complementary-color;
                z-index: 3;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease-out;
            }

            @include on-event {
                color: $complementary-color;

                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &:active, &.active {
                font-weight: bold;
                color: $complementary-color;

                @media(max-width: $max-width-4casas) {
                    color: $black;
                }

                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }

            @media(max-width: $max-width-4casas) {
                @include fontSet(18px, 18px);
                padding: 1.2rem 0 1rem 0;

                &:after {
                    display: none;
                }
            }
        }
    }

    //
    // CONTENT
    // --------------------------------------------------------------------------

    @include has("content") {
        position: relative;

        &:before {
            @include reset-pseudo($tabActive);
            @include reset-full-scren;
        }

        @include when-inside(".sectors") {
             &:before {
                background-color: $white;
            }
        }

        .page__section > .col {
            padding: 4rem 0;
        }

        .search_box__wrapper {
             margin-bottom: 2rem;
        }
    }
}


//
// RESPONSIVE TABS
// --------------------------------------------------------------------------

@media(min-width: $min-width-4casas) {
    .responsive-tabs .icon4-fletxa_cuatrecasas {
        display: none;
    }
}

@media(max-width: $max-width-4casas) {
    .responsive-tabs {
        position: relative;
    }

    .responsive-tabs li {
        width: 100%;
        margin: 0 !important;
    }

    .responsive-tabs li > a {
        display: none;
        border: 0 !important;
        border-radius: 0 !important;
    }

    .responsive-tabs.open li > a, .responsive-tabs li > a.active {
        display: block;
    }

    .responsive-tabs .icon4-fletxa_cuatrecasas {
        position: absolute;
        top: 16px;
        right: 10px;
        transform: rotate(90deg);
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

    .responsive-tabs.open .icon4-fletxa_cuatrecasas {
        transform: rotate(-90deg);
        transition: all .3s ease-in-out;
    }
}


//
// TABS TO ACCORDION
// --------------------------------------------------------------------------

#tabsToAccordion {

    .nav-tabs {
        display:none;
    }


    //
    // ACCORDION BUTTON
    // --------------------------------------------------------------------------

    .accordion__button {
        @include reset-button;
        position: relative;
        display: block;
        margin: 0 0;
        padding: 0 3rem 0 1rem;
        @include fontSet(18px, 60px);
        text-transform: uppercase;
        color: $main-color;
        transition: all 0.2s ease-in-out;

        &:after {
            @include icons-4casas(20px, 18px, auto, auto);
            @include fontSet(20px, 20px);
            content: '\e90a';
            color: $complementary-color;
            transform: rotate(90deg);
            transition: transform 0.2s ease-in-out;
        }

        @include on-event {
            text-decoration: none;
            overflow: hidden;
        }

        &:not(.collapsed) {
            &:after {
                transform: rotate(-90deg);
            }
        }
    }


    //
    // ACCORDION CONTENT
    // --------------------------------------------------------------------------

    @media(min-width: $min-width-4casas) {
        .nav-tabs {
            display: flex;
        }

        .panel {
            background-color: $tabActive;
        }

        .panel .panel-header {
            display:none;
        }

        .panel .collapse {
            display:block;
        }
    }

    @media(max-width: $max-width-4casas) {
        .tab-content > .tab-pane {
            display: block;
            opacity: 1;
        }

        .tab-content {

            .panel {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 100vw;
                    height: 100%;
                    margin-left: -50vw;
                }

                [role="tabpanel"] {
                    margin: 0 1rem;
                }

                &:nth-of-type(1) {
                    &:before {
                        background-color: $tab1;
                    }
                }

                &:nth-of-type(2) {
                    &:before {
                        background-color: $tab2;
                    }
                }

                &:nth-of-type(3) {
                    &:before {
                        background-color: $tab3;
                    }
                }

                &:nth-of-type(4) {
                    &:before {
                        background-color: $tab4;
                    }
                }
            }
        }

        .collapse,
        .collapsing {
            .buttons__list__column {
                padding-bottom: 3rem;
            }
        }
    }
}
