// ==========================================================================
// TABS (Search & Practice Areas)
// ==========================================================================

@include new("tabs__component") {

    //
    // TABS
    // --------------------------------------------------------------------------

    @include has("tabs") {
        position: relative;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        transition: all 0.3s ease-in-out;

        &:before,
        &:after {
            @include reset-pseudo(transparent);
            display: inline-block;
            z-index: -1;
            transition: all 0.3s ease-in-out;
        }

        &:before {
            left: -50%;
            background-color: $tab1;
        }

        &:after {
            left: auto;
            right: -50%;
            background-color: $tab3;
        }

        .nav {
            margin-left: -72px;
        }

        .nav-tabs {
            border-bottom: 0 solid transparent;
        }

        .nav-item {
            flex: 1;
            margin-bottom: 0;

            &:nth-of-type(1) {
                background-color: $tab1;
            }

            &:nth-of-type(2) {
                background-color: $tab2;
            }

            &:nth-of-type(3) {
                background-color: $tab3;
            }
        }

        .nav-link {
            height: 100%;
            @include fontSet(24px, 26px);
            text-transform: uppercase;
            color: $black;
            padding: 1.6rem 6rem 1.4rem 4rem;

            border: 0 solid transparent;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-left: 10px solid transparent;

            transition: all 0.3s ease-in-out;

            @include on-event {
                color: $complementary-color;
                background-color: $tabActive;
                border-left: 10px solid $complementary-color;
            }

            &:active, &.active {
                color: $main-color;
                background-color: $tabActive;
                border-left: 10px solid $complementary-color;
            }
        }
    }

    //
    // CONTENT
    // --------------------------------------------------------------------------

    @include has("content") {
        position: relative;

        &:before {
            @include reset-pseudo($tabActive);
            @include reset-full-scren;
        }

        @include when-inside(".sectors") {
             &:before {
                background-color: $white;
            }
        }

        .page__section > .col {
            padding: 4rem 0;
        }

        .search_box__wrapper {
             margin-bottom: 2rem;
        }

        .search_selects {}
    }
}
