// ==========================================================================
// TYPOGRAPHY
// ==========================================================================

//
// * Redefine the rem value while keeping it proportional.
// * Useful values, with default font-size of 16px:
// * • 62.5% -> 1rem = 10px, 0.1rem  = 1px
// * • 125%  -> 1rem = 20px, 0.05rem = 1px
//

body {
    @include cuatrecasas-font();
    font-size: 125%;
    line-height: 1.4;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}


//
// FONT SIZES MIXING
// --------------------------------------------------------------------------

$rem-base-font: 16px !default;

@mixin fontSet($font-size, $line-height: 0) {
    font-size: $font-size;
    font-size: ($font-size / $rem-base-font) * 1rem;

    @if ($line-height > 0) {
        line-height: $line-height;
        line-height: ($line-height / $rem-base-font) * 1rem;
    }
}

//
// ^sample
// @include fontSet(30px, 26px);
//



//
// BASIC SETTINGS
// --------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    @include cuatrecasas-font();
    margin: 0 0;
}

p {
    margin: 0 0 1.4rem;
    color: $main-color;

    &.emphasis {
        @include fontSet(32px, 36px);
        color: $black;
    }

    @media(max-width: $max-width-4casas) {
        margin: 0 0 1rem;
    }
}



//
// FULL WIDHT & BACKGROUND COLOR
// --------------------------------------------------------------------------

.section__title {
    margin: 0 0 1rem 0;
    padding: 0.7rem 0.8rem 0.5rem;
    @include cuatrecasas-font();
    @include fontSet(23px, 23px);
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: $white;
    background-color: $black;

    @media(max-width: $max-width-4casas) {
        @include fontSet(18px, 26px);
        letter-spacing: 0;
    }

    //
    // BG COLORS (horizontal modules)
    //

    @include when("main") {
        background-color: $main-color;
    }

    @include when("complementary") {
        background-color: $complementary-color;
    }

    @include when("black") {
        background-color: $black;
    }

    @include when("news") {
        background-color: $news-color;
    }

    @include when("article") {
        background-color: $article-color;
    }

    @include when("academy") {
        background-color: $academy-color;
    }

    @include when("opinion") {
        background-color: $opinion-color;
    }

    @include when("event") {
        background-color: $event-color;
    }

    @include when("insight") {
        background-color: $insight-color;
    }

    @include when("cases") {
        background-color: $cases-color;
    }

    @include when("recomended") {
        background-color: $recomended-color;
    }

    @include when("related") {
        background-color: $related-color;
    }

    @include when("awards") {
        background-color: $awards-color;
    }

    @include when("tools") {
        background-color: $tools-color;
    }

    @include when("career") {
        background-color: $career-color;
    }

    @include when("programme") {
        background-color: $programme-color;
    }

    @include when("events") {
        background-color: $programme-color;
    }

    @include when("others1") {
        background-color: $others1-color;
    }

    @include when("others2") {
        background-color: $others2-color;
    }
}


//
// HALF SECIONS (2 col layout: lawyers, pages, etc...)
// --------------------------------------------------------------------------

.subsection__title {
    @include cuatrecasas-font();
    @include fontSet(32px, 32px);
    text-transform: uppercase;
    color: $main-color;

    @media(max-width: $max-width-4casas) {
        @include fontSet(20px, 20px);
        padding: 1rem 0;
    }

    @include when("event") {
        @include fontSet(20px, 20px);
        margin-bottom: 1rem;
    }
}


//
// BIG HIGHLIGHT TEXT
// --------------------------------------------------------------------------

.emphasis {
    @include cuatrecasas-font();
    @include fontSet(42px, 46px);
    color: $white;
}


