body{
    background: #333 ;
}

/* Select2 Dropdown selectors */
.select2-container {
    width: 100%!important;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-results__option {
    min-height: 2.5em;
}

/* VICH Attachments */
.vich-attachment-list .vich-filename .form-check,
.vich-attachment-list .undo-delete-attachment-button,
.vich-attachment-list .for-deletion .delete-attachment-button,
.vich-attachment-list .for-deletion input,
.vich-attachment-list .for-deletion label,
.vich-attachment-list .for-deletion legend,
.vich-attachment-list .for-deletion .custom-file {
    display: none;
}
.vich-attachment-list > div {
    padding: 1em;
    border: 1px solid #ececec;
    box-shadow: 3px 3px 10px #eee;
    margin-bottom: 1em;
}
.vich-attachment-list .vich-filename {
    display: inline-block;
    width: 100%;
    padding: 0.5em 0 1em 0;
}
.vich-attachment-list .vich-filename .form-group {
    display: inline-block;
}
.vich-attachment-list .vich-filename a {
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    max-width: 80%;
    vertical-align: middle;
}
.vich-attachment-list .for-deletion .undo-delete-attachment-button {
    display: inline-block;
}
.vich-attachment-list .for-deletion a {
    text-decoration: line-through;
}
.vich-attachment-list .custom-file-label {
    white-space: nowrap;
    overflow: hidden;
}

/* Blocks Collection Fields */
.blocks-collection-field fieldset.form-group:first-child {
    margin-top: 1em;
}
.blocks-collection-field fieldset.form-group {
    padding: 1em;
    border: 1px solid #ececec;
    box-shadow: 3px 3px 10px #bbb;
    background-color: #efefef;
    margin-bottom: 2em;
    position: relative;
}
.blocks-collection-field fieldset.form-group legend {
    display: none;
}
.blocks-collection-field fieldset.form-group i.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.blocks-collection-field #lawyer_form_mentions fieldset.form-group fieldset,
.blocks-collection-field #lawyer_form_trainings fieldset.form-group fieldset,
.blocks-collection-field #event_form_programs fieldset.form-group fieldset {
    padding: 0;
    border: 0;
    box-shadow: none;
    background-color:none;
    margin-bottom: 0;
}
.blocks-collection-field #lawyer_form_mentions fieldset.form-group fieldset label,
.blocks-collection-field #lawyer_form_trainings fieldset.form-group fieldset label,
.blocks-collection-field #event_form_programs fieldset.form-group fieldset label
{
    display: none;
}

/* #event_form_programs fieldset.form-group:nth-child(1) legend{
    display: block;
}

#event_form_programs fieldset:nth-child(1) legend:nth-child(1) { 0label__ } */
#event_form_programs fieldset:nth-child(1) fieldset legend:nth-child(1) { display: block;}
.blocks-collection-field #event_form_programs fieldset.form-group fieldset label{
    display: block;
}