// ==========================================================================
// AWARDS
// ==========================================================================

@include new("awards") {
    background-color: rgba($black, 0.1);

    .swiper-container {
        // full screen slider (overflow)
        overflow: visible;
        margin: 4rem 0;
    }

    .swiper-wrapper {
        pointer-events: none;
    }

    .swiper-slide {
        position: relative;
        // reset width
        width: 25%;
        // forze same height items
        height: auto;
        // outside elements opacity TRICK
        opacity: 0.3;
        transition: all 0.3s ease-out;

        > * {
            position: relative;
            z-index: 1;
        }

        // &:before {
        //     opacity: 0;
        //     @include reset-pseudo($white);
        //     transform: scale(1.05, 1.05);
        //     transition: all 0.2s ease-out;
        // }

        // focus element opacity TRICK
        &-active,
        &-prev,
        &-next {
            opacity: 1;

            // @include on-event() {
            //     &:before {
            //         opacity: 1;
            //         transform: scale(1.15, 1.3);
            //         box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1);
            //     }
            // }
        }
    }

    @include has("logo") {
        @include reset-figure;
        width: 100%;
        height: 60px;
        margin-bottom: 1rem;

        img {
            width: auto;
            height: 60px;
            object-fit: cover;
        }
    }

    @include has("title") {
        width: 80%;
        @include fontSet(16px, 20px);
        font-weight: bold;
        color: $black;
    }

    @include has("date") {
        margin-top: 0.5rem;
        @include fontSet(16px, 20px);
        color: rgba($black, 0.6);
    }
}
