// ==========================================================================
// AWARDS
// ==========================================================================

@include new("awards") {
    position: relative;

    &:before {
        @include reset-pseudo(rgba($black, 0.1));
        @include reset-full-scren;
    }

    .swiper-container {
        // full screen slider (overflow)
        overflow: visible;
        margin: 4rem 0;
    }

    .swiper-wrapper {
        pointer-events: none;
    }

    .swiper-slide {
        position: relative;
        // reset width
        // width: 25%;
        // forze same height items
        height: auto;
        // outside elements opacity TRICK
        opacity: 0.3;

        padding: 0 2rem;
        transition: all 0.3s ease-out;

        @media(max-width: $max-width-4casas) {
            padding-left: 0;
            transition: all 0s ease-out;
        }

        &.destroyed {
            opacity: 1;
            width: 33.3333%;
            padding: 0 2rem;
        }

        // focus element opacity

        &-prev {
            opacity: 0.3;
            pointer-events: none;
        }

        &-active,
        &-next,
        &-next + .swiper-slide {
            opacity: 1;
            pointer-events: auto;
        }

        @media(max-width: $max-width-4casas) {
            &-prev,
            &-next,
            &-next + .swiper-slide {
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }

    @include has("wrapper") {
        @include reset-figure;
        width: 100%;
    }

    @include has("logo") {
        width: auto;
        height: 60px;
        object-fit: cover;
        margin-bottom: 1rem;

        @media(max-width: $max-width-4casas) {
            height: 50px;
        }
    }

    @include has("title") {
        @include fontSet(16px, 20px);
        font-weight: bold;
        color: $black;

        @media(max-width: $max-width-4casas) {
            @include fontSet(12px, 14px);
        }
    }

    @include has("date") {
        margin-top: 0.5rem;
        @include fontSet(16px, 20px);
        color: rgba($black, 0.6);

        @media(max-width: $max-width-4casas) {
            @include fontSet(12px, 14px);
        }
    }
}
