// ==========================================================================
// BOX NEWS (articles, publications, news, etc...)
// ==========================================================================

@include new("boxnews") {

    //
    // INFO BOXES / REGION BOXES
    //
    @include when("info") {
        .boxnews__item {
            margin-bottom: 1.6rem;
            color: $main-color;
            border-top-color: $main-color;
            background-color: #FCFCFC;

            //
            // ESPECIFIC
            // --------------------------------------------------------------------------

            @include when("acelera") {
                color: $acelera-color;
                border-top-color: $acelera-color;

                .boxnews__content__title {
                    color: $acelera-color;
                }

                .doble__arrow__link {
                    color: $acelera-color;
                }
            }

            @include when("fundation") {
                color: $fundation-color;
                border-top-color: $fundation-color;

                .boxnews__content__title {
                    color: $fundation-color;
                }

                .doble__arrow__link {
                    color: $fundation-color;
                }
            }

            @include when("colored") {
                padding: 1rem;
                border-top: none;
                background-color: $complementary-color;

                @media(max-width: $max-width-4casas) {
                    padding: 0;
                }

                .boxnews__content__title,
                .boxnews__content__info p,
                .doble__arrow__link,
                .doble__arrow__link:before,
                .doble__arrow__link:after {
                    color: $white;
                }
            }
        }
    }

    @include when("doble") {
        .boxnews__list {
            .boxnews__item:last-child {
                @media(max-width: $max-width-4casas) {
                    margin-bottom: 0;
                }
            }
        }

        .page__section > .col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    @include when("doble") {
        .boxnews__list {
            .boxnews__item:last-child {
                @media(max-width: $max-width-4casas) {
                    margin-bottom: 0;
                }
            }
        }

        .page__section > .col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    @include when("links") {
        .boxnews__item {
            color: $main-color;
            border-top-color: $main-color;
        }

        .button__wrapper {
            align-items: flex-start;
            margin: 0 1rem;

            @media(max-width: $max-width-4casas) {
                margin: 1rem 1rem;
            }
        }
    }

    //
    // SECTION BACKGROUND COLORS (maybe delete ¿?)
    // --------------------------------------------------------------------------
    @include when("article") {
        background-color: rgba($black, 0.05);
    }

    @include when("academy") {
        background-color: rgba($black, 0.05);
    }

    @include when("event") {
        background-color: rgba($black, 0.2);
    }

    @include when("related") {
        background-color: rgba($black, 0.05);
    }

    @include when("insight") {
        background-color: rgba($black, 0.02);
    }

    @include when("collections") {
        background-color: rgba($black, 0.05);
    }

    @include when("products") {
        .viewmore__button {
            margin-top: 0;

            @media(max-width: $max-width-4casas) {
                margin: 2rem 1rem;
            }
        }

        @include when-inside(".collapse") {
            // margin-top: 2rem;
        }
    }

    @include when("career") {
        background-color: rgba($black, 0.1);
    }

    @include when("publications") {
        background-color: rgba($black, 0.1);
    }

    @include when("slider") {
        background-color: rgba($black, 0.08);
    }


    //
    // BOXES
    // --------------------------------------------------------------------------

    @include has("list") {
        display: flex;
        flex-flow: row wrap;
        // height: 495px;
        height: auto;
        margin: 0 -0.8rem;

        @media(max-width: $max-width-4casas) {
            display: block;
        }

        @include when("grid") {
            flex-wrap: wrap;
            height: auto;

            .flex__col {
                display: flex;
                flex-direction: column;
                flex-flow: column wrap;

                @include when("oneblock") {
                    flex: 0 1 60%;
                }

                @include when("twoblocks") {
                    flex: 0 1 40%;
                }
            }
        }

        //
        // PRODUCTS GRID
        //
        @include when-inside(".boxnews--products") {
            // flex-flow: row wrap;
        }

        //
        // BGCOLORED GRID
        //
        @include when-inside(".boxnews--bgcolor") {
            margin-top: 3rem;
        }
    }

    @include has("item") {
        // flex: 1;
        display: flex;
        flex: 0 1 calc(33.3333% - 1.6rem);
        max-width: calc(33.3333% - 1.6rem);
        flex-direction: column;
        // min-width: 0;
        min-height: 31rem;
        margin: 0 0.8rem;
        padding: 0 0;
        background-color: $white;
        border-top: 8px solid transparent;
        // box-shadow: 0 0 0 transparent;
        // box-shadow: 0 3px 12px rgba(255, 255, 255, 0.16), 0 3px 12px rgba(255, 255, 255, 0.23);
        // box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);

        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: box-shadow 0.2s ease-out;

        @media(max-width: $max-width-4casas) {
            flex: 0 1 100%;
            max-width: 100%;
            min-height: auto;
            margin-bottom: 1rem;
            border-top: 6px solid transparent;
        }

        @include when("blockquote") {
            border-top: none;
            background-color: $complementary-color;

            .cite__quote {
                padding: 1rem;
            }
        }

        @include when("doble") {
            flex: 0 1 calc(66.6666% - 1.6rem);
            max-width: calc(66.6666% - 1.6rem);

            @media(max-width: $max-width-4casas) {
                flex: 0 1 100%;
                max-width: 100%;
            }

            @include when-inside(".boxnews__list--grid") {
                flex: 0 1 100%;
                max-width: 100%;
            }

            .boxnews__wrapper {
                display: flex;
                height: 100%;
                padding: 1rem 1rem;

                @media(max-width: $max-width-4casas) {
                    display: block;
                    padding: 1rem 1rem;
                }

                .boxnews__content {
                    flex: 0 1 40%;
                    max-width: 40%;
                    padding: 0 0;

                    @media(max-width: $max-width-4casas) {
                        flex: 0 1 100%;
                        max-width: 100%;
                    }
                }

                .boxnews__foto {
                    flex: 0 1 60%;
                    max-width: 60%;
                    margin-left: 1rem;

                    @media(max-width: $max-width-4casas) {
                        flex: 0 1 100%;
                        max-width: 100%;
                        height: 120px;
                        margin-top: 1rem;
                        margin-left: 0;
                    }

                    .video__popup {
                        height: 100%;
                    }

                    img {
                        @include cover-img();
                        height: 100%;
                    }
                }
            }
        }

        @include when("triple") {
            flex: 0 1 100%;
            max-width: 100%;

            .boxnews__wrapper {
                display: flex;
                height: 100%;
                padding: 1rem 1rem;

                @media(max-width: $max-width-4casas) {
                    display: block;
                    padding: 1rem 1rem;
                }

                .boxnews__content {
                    flex: 0 1 40%;
                    max-width: 40%;
                    padding: 0 0;

                    @media(max-width: $max-width-4casas) {
                        flex: 0 1 100%;
                        max-width: 100%;
                    }
                }

                .boxnews__foto {
                    flex: 0 1 60%;
                    max-width: 60%;
                    margin-left: 1rem;

                    @media(max-width: $max-width-4casas) {
                        flex: 0 1 100%;
                        max-width: 100%;
                        height: 120px;
                        margin-top: 1rem;
                        margin-left: 0;
                    }

                    .video__popup {
                        height: 100%;
                    }

                    img {
                        @include cover-img();
                    }
                }
            }
        }

        @include when("bgcolor") {
            border-top: none;

            &.bgcolor--even {
                background-color: #D5D2D2;
            }

            &.bgcolor--odd {
                background-color: #EFEFEF;
            }
        }

        @include when("half") {
            max-width: 100%;
            min-height: auto !important;
        }

        @include when-inside(".boxnews--collections") {
            flex: 0 1 calc(50% - 1.6rem);
            max-width: calc(50% - 1.6rem);
            margin: 0 .8rem 2rem;

            @media(max-width: $max-width-4casas) {
                flex: 0 1 100%;
                max-width: 100%;
                min-height: auto;
                margin-bottom: 1rem;
            }
        }

        @include when-inside(".boxnews--doble") {
            flex: 0 1 calc(50% - 1.6rem);
            max-width: calc(50% - 1.6rem);

            @media(max-width: $max-width-4casas) {
                flex: 0 1 100%;
                max-width: 100%;
                min-height: auto;
                margin-bottom: 1rem;
            }
        }

        @include when-inside(".boxnews--products") {
            flex: 0 1 calc(50% - 1.6rem);
            max-width: calc(50% - 1.6rem);
            min-height: 26rem;
            margin-bottom: 2rem;
            color: $insight-color;
            border-top-color: transparent;

            @media(max-width: $max-width-4casas) {
                flex: 0 1 100%;
                max-width: 100%;
                margin-bottom: 1rem;
            }
        }

        @include when-inside(".boxnews--products--three") {
            flex: 0 1 calc(33.3333% - 1.6rem);
            max-width: calc(33.3333% - 1.6rem);

            @media(max-width: $max-width-4casas) {
                flex: 0 1 100%;
                max-width: 100%;
                min-height: auto;
                margin-bottom: 1rem;
            }
        }

        //
        // INSIGHTS GRID
        //
        @include when-inside(".grid__box") {
            min-height: auto;
        }

        //
        // INSIGHTS MASONRY GRID (only CSS, still not working for IE)
        //
        // @include when-inside(".ms__grid__layout") {
        //     min-height: auto;
        //     margin: 0 0;
        // }


        //
        // INFO BOXES / REGION BOXES
        //
        @include when-inside(".boxnews--info") {
            min-height: 25rem;

            @media(max-width: $max-width-4casas) {
                min-height: auto;
            }
        }

        @include when-inside(".boxnews--bgcolor") {
            min-height: auto;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);

            @include on-event() {
                box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
            }

            @media(max-width: $max-width-4casas) {
                min-height: auto;
                border-top-color: transparent;

                .boxnews__content {
                    border-bottom: none;
                }
            }
        }


        @include when-inside(".boxnews--links") {
            flex: 0 1 calc(33.3333% - 1.6rem);
            // min-height: 14.38rem;
            min-height: auto;
            margin-bottom: 1.6rem;
            // background-color: rgba($black, 0.01);

            @media(max-width: $max-width-4casas) {
                min-height: 160px;
            }
        }


        //
        // BOXES COLORS (border & title)
        // --------------------------------------------------------------------------

        @include when("news") {
            color: $news-color;
            border-top-color: $news-color;
        }

        @include when("article") {
            color: $article-color;
            border-top-color: $article-color;
        }

        @include when("academy") {
            color: $academy-color;
            border-top-color: $academy-color;
        }

        @include when("opinion") {
            color: $opinion-color;
            border-top-color: $opinion-color;
        }

        @include when("legalNovelty") {
            color: $legalNovelty-color;
            border-top-color: $legalNovelty-color;
        }

        @include when("event") {
            color: $event-color;
            border-top-color: $event-color;
            background-color: $event-box-color;
        }

        @include when("recomended") {
            color: $recomended-color;
            border-top-color: $recomended-color;
        }

        @include when("career") {
            color: $career-color;
            border-top-color: $career-color;
        }

        @include when("others1") {
            color: $others1-color;
            border-top-color: $others1-color;
        }

        @include when("others2") {
            color: $others2-color;
            border-top-color: $others2-color;
        }

        .boxnews__item {
            margin-bottom: 1.6rem;
            color: $main-color;
            border-top-color: $main-color;
            background-color: #FCFCFC;
        }

        //
        // NO BORDER TOP BOX
        //

        @include when("insight") {
            color: $insight-color;
            border-top-color: transparent;
        }

        @include when("cases") {
            color: $cases-color;
            border-top-color: transparent;
        }


        //
        // CAROUSEL
        // --------------------------------------------------------------------------
        @include when-inside(".swiper-slide") {
            width: 100%;
            margin: 0 0;
        }


        //
        // HOVER FX
        // --------------------------------------------------------------------------

        @include on-event() {
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1);

            // .boxnews__link {
            //     color: $complementary-color;
            // }

             &:hover {
                .card__image {
                    // filter: contrast(100%);
                }
            }
        }
    }


    //
    // CAROUSEL ADJUSTMENTS
    // --------------------------------------------------------------------------
    .swiper-container {
        // full screen slider (overflow)
        overflow: visible;
        // shadow trick
        padding: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
        // extra space
        margin-bottom: 2rem;

        @media(max-width: $max-width-4casas) {
            padding: 0 1rem;
        }

        .swiper-slide {
            // reset width
            // width: 100%;
            // forze same height items
            height: auto;
            // outside elements opacity
            opacity: 0.3;
            pointer-events: none;
            transition: opacity 0.2s ease-in-out;

            .boxnews__item {
                flex: 0 1 100%;
                max-width: 100%;
                height: 100%;
            }

            &.destroyed {
                opacity: 1;
                pointer-events: auto;
                width: calc(33.3333% - 1.04rem);
                margin-right: 1.54rem;
            }

            // focus element opacity
            &-active,
            &-next,
            &-next + .swiper-slide {
                opacity: 1;
                pointer-events: auto;
            }

            @media(max-width: $max-width-4casas) {
                &-prev,
                &-next,
                &-next + .swiper-slide {
                    opacity: 0.3;
                    pointer-events: none;
                }
            }
        }
    }

    .swiper-wrapper {
        margin-bottom: 1rem;
        pointer-events: none;

        @media(max-width: $max-width-4casas) {
            margin-bottom: 2rem;
        }
    }

    .swiper-container-horizontal {
        > .swiper-scrollbar {
            position: relative;
            left: 0;
            bottom: -20px;
            width: 100%;
            height: 1px;
            border-radius: 0;
            background: rgba(0,0,0,0.2);

            @media(max-width: $max-width-4casas) {
                bottom: 0;
            }
        }

        .swiper-scrollbar-drag {
            top: -3px;
            height: 7px;
            border-radius: 0;
            background: $complementary-color;

            @media(max-width: $max-width-4casas) {
                top: -2px;
                height: 5px;
            }
        }
    }


    //
    // BOX HEADER
    // --------------------------------------------------------------------------

    @include has("header") {
        position: relative;
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid $black;

        @media(max-width: $max-width-4casas) {
            height: 40px;
        }

        @include when-inside(".boxnews--collections") {
            padding: 1rem 2rem 0.2rem;
            color: $complementary-color;
            border-bottom: none;

            @media(max-width: $max-width-4casas) {
                height: auto;
                padding: 1rem 2rem 0.2rem 1rem;
            }
        }

        @include when-inside(".boxnews--products") {
            padding: 1rem 2rem 0.2rem;
            border-bottom: none;

            @media(max-width: $max-width-4casas) {
                height: auto;
                padding: 1rem 2rem 0.2rem 1rem;
            }
        }
    }

        @include has("type") {
            @include fontSet(16px, 16px);
            font-weight: bold;
            text-transform: uppercase;

            a {
                @include classic-link($complementary-color, $main-color, $border: false);
            }

            @media(max-width: $max-width-4casas) {
                @include fontSet(12px, 8px);
            }

            @include when-inside(".boxnews--collections") {
                @include fontSet(43px, 43px);
                font-weight: normal;
                text-transform: none;
                margin-bottom: 2rem;

                @media(max-width: $max-width-4casas) {
                    @include fontSet(20px, 20px);
                    margin-bottom: 0.5rem;
                }
            }

            @include when-inside(".boxnews--products") {
                padding-bottom: 0.5rem;
                @include fontSet(32px, 32px);
                font-weight: normal;
                text-transform: none;

                @media(max-width: $max-width-4casas) {
                    @include fontSet(22px, 22px);
                }
            }
        }

        @include has("info") {
            position: relative;
            margin-left: 1.5rem;
            @include cuatrecasas-font();
            @include fontSet(16px, 16px);
            text-transform: uppercase;
            color: $black;

            @media(max-width: $max-width-4casas) {
                display: none;
                visibility: hidden;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -12px;
                display: inline-block;
                width: 2px;
                height: 80%;
                background-color: $black;
                opacity: 0.5;
            }
        }

        @include has("button") {
            position: absolute;
            top: 8px;
            right: 1rem;

            @media(max-width: $max-width-4casas) {
                top: 3px;
            }

            @include when("bookmark") {

            }

            .plain__button {
                @include fontSet(16px, 16px);
                text-transform: uppercase;
                padding: 2px 4px 0;

                @media(max-width: $max-width-4casas) {
                    @include fontSet(12px, 12px);
                }
            }
        }

    //
    // BOX CONTENT
    // --------------------------------------------------------------------------

    @include has("content") {
        // display: flex;
        // flex-flow: column nowrap;
        // justify-content: flex-start;
        // align-content: stretch;
        // align-items: stretch;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
        // min-height: 20rem;
        padding: 1rem;
        transition: all 0.2s ease-out;

        /*
        @media(max-width: $max-width-4casas) {
            border-bottom: 1px solid $black;

            @include when-inside(".boxnews--links") {
                border-bottom: none;
            }

            @include when-inside(".boxnews--info") {
                border-bottom: none;
            }

            @include when-inside(".boxnews--products") {
                border-bottom: none;
            }

            @include when-inside(".boxnews__item--event") {
                border-bottom: none;
            }
        }
        */


        //
        // EVENT DETAIL BOX
        // --------------------------------------------------------------------------
        @include when("event") {
            display: block;
            height: auto;
            padding: 0 0 4rem 0;
        }

        .place,
        .date,
        .author {
            @include fontSet(22px, 26px);

            @media(max-width: $max-width-4casas) {
                @include fontSet(14px, 18px);
            }

            span {
                display: block;
            }
        }

        .place {
            margin-top: 1rem;

            span {
                text-transform: uppercase;
                color: $complementary-color;
            }

            a {
                // @include left-to-right-link($complementary-color, $complementary-color);
                @include classic-link($complementary-color, $main-color, $border: false);
                text-transform: uppercase;
            }
        }

        .date {
            margin: 1.6rem 0;
            text-transform: uppercase;

            @media(max-width: $max-width-4casas) {
                margin: 0.5rem 0;
            }
        }

        .author {
            a {
                // @include left-to-right-link($complementary-color, $complementary-color);
                @include classic-link($complementary-color, $main-color, $border: false);
            }
        }

        .btn {
            margin-top: 3rem;

            @media(max-width: $max-width-4casas) {
                margin-top: 2rem;
                // @include fontSet(14px, 28px);
            }
        }


        //
        // SPECIFIC
        // --------------------------------------------------------------------------
        @include when-inside(".boxnews--collections") {
            min-height: auto;
            height: calc(100% - 3rem);
            padding: 0;
        }

        @include when-inside(".boxnews--products") {
            min-height: auto;
            height: calc(100% - 3rem);
            padding: 0;
        }

        @include when-inside(".boxnews--links") {
            padding: 0;
        }

        @include when-inside(".boxnews--career") {
            // min-height: auto;
        }


        //
        // BOX INFO
        // --------------------------------------------------------------------------
        @include has("title") {
            margin-bottom: 1rem;
            @include fontSet(43px, 45px);
            color: $complementary-color;

            @media(max-width: $max-width-4casas) {
                @include fontSet(24px, 25px);
            }

            @include when("social") {
                color: $main-color;
            }

            @include when-inside(".boxnews__item--colored") {
                @include fontSet(43px, 47px);
                letter-spacing: -0.65px;

                @media(max-width: $max-width-4casas) {
                    @include fontSet(24px, 25px);
                    letter-spacing: 0;
                }
            }
        }

        @include has("info") {
            margin-bottom: auto;
            padding-bottom: 1rem;

            @media(max-width: $max-width-4casas) {
                padding-bottom: 0;
            }

            p {
                @include fontSet(23px, 27px);
                letter-spacing: 0.4px;
                color: $main-color;

                @media(max-width: $max-width-4casas) {
                    @include fontSet(14px, 20px);
                    letter-spacing: 0;

                    @include when-inside(".boxnews--doble") {
                        @include fontSet(20px, 25px);
                        letter-spacing: 0;
                    }
                }

                &.contact-info {
                    @include fontSet(18px, 27px);
                    letter-spacing: 0.55px;

                    @media(max-width: $max-width-4casas) {
                        @include fontSet(14px, 20px);
                    }
                }

                a {
                    @include left-to-right-link($complementary-color, $complementary-color);
                    padding-bottom: 1px;
                }
            }
        }

        @include has("button") {
            margin-top: 1.5rem;

            @include when("region") {
                margin-top: 0;
            }

            @include when("arrow") {
                border: 1px solid cyan;
            }

            @media(max-width: $max-width-4casas) {
                margin-top: 0.4rem;
                margin-bottom: 0.4rem;
            }
        }

        @include has("img") {
            // width: 100%;
            // height: auto;
            // object-fit: cover;

            @include cover-img-ratio();

            margin-top: 1rem;

            @media(max-width: $max-width-4casas) {
                width: auto;
                height: 170px;
                margin-top: 1.4rem;

                @include when-inside(".boxnews--collections") {
                    width: 100%;
                    height: 120px;
                }
            }
        }
    }

        @include has("copy") {
            // align-self: flex-start;
            margin-bottom: auto;
            padding-right: 1rem;
            padding-bottom: 2rem;

            @media(max-width: $max-width-4casas) {
                padding-right: 0;
                padding-bottom: 1rem;
            }
        }

        @include has("excerpt") {
            margin-bottom: auto;
            padding: 0 2rem 1rem 2rem;
            color: $main-color;

            > * {
                @include fontSet(40px, 44px);

                @media(max-width: $max-width-4casas) {
                    @include fontSet(20px, 25px);
                }
            }

            @include when-inside(".boxnews--products") {
                height: 100%;
                max-height: 106px;
                margin-bottom: 2rem;
                overflow: hidden;
                padding: 0 2rem 1rem 2rem;

                @media(max-width: $max-width-4casas) {
                    padding: 0 1rem 1rem 1rem;
                }

                > * {
                    @include fontSet(22px, 26px);

                    @media(max-width: $max-width-4casas) {
                        @include fontSet(20px, 25px);
                    }
                }
            }

            @include when-inside(".boxnews--collections") {
                padding: 0 2rem 1rem 2rem;

                @media(max-width: $max-width-4casas) {
                    padding: 0 1rem 1rem 1rem;
                }

                > * {
                    @include fontSet(33px, 37px);

                    @media(max-width: $max-width-4casas) {
                        @include fontSet(20px, 24px);
                    }
                }
            }
        }

        @include has("link") {
            // padding-bottom: 0.1rem;
            @include fontSet(33px, 37px);
            // @include fancy-underline-link($black, $complementary-color, $white);
            @include classic-link($black, $complementary-color, $border: false);

            @media(max-width: $max-width-4casas) {
                @include fontSet(20px, 25px);
            }

            @include when-inside(".boxnews__item--event") {
                // @include fancy-underline-link($black, $complementary-color, $event-box-color);
            }

            @include when-inside(".boxnews--event") {
                // @include fancy-underline-link($black, $complementary-color, $event-box-color);
            }

            @include when-inside(".boxnews--products") {
                font-size: inherit;
                line-height: inherit;
                // @include fancy-underline-link($black, $main-color, $white);
            }
        }

        @include has("meta") {
            // align-self: flex-start;
            // margin-top: auto;
            color: $black;

            > * {
                @include fontSet(16px, 18px);
                text-transform: uppercase;

                @media(max-width: $max-width-4casas) {
                    @include fontSet(12px, 16px);
                }
            }

            @include has("place") {
                color: $complementary-color;

                a {
                    @include classic-link($complementary-color, $black, $border: false);
                }
            }
            @include has("date") {}
            @include has("time") {}

            @include has("author") {
                span {
                    &:after {
                        content: ',';
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }

        @include has("action") {
            margin-top: 1rem;
            margin-bottom: 2.5rem;

            @include when-inside(".boxnews--collections") {
                margin: 0 0 1rem;
                padding: 0 1rem;
            }
        }

        @include has("more") {
            @include left-to-right-link($complementary-color, $complementary-color);
            @include fontSet(24px, 24px);
            padding-bottom: 4px;
            transition: all 0.2s ease-in-out;
        }

        @include has("img") {
            @include cover-img();
            height: 100%;

            @media(max-width: $max-width-4casas) {
                width: auto;
                height: 170px;
            }

            @include when-inside(".boxnews--collections") {
                align-self: flex-start;
                height: 270px;

                @media(max-width: $max-width-4casas) {
                    width: 100%;
                    height: 120px;
                }
            }

            @include when-inside(".boxnews--products") {
                height: 230px;

                @media(max-width: $max-width-4casas) {
                    height: 120px;
                }
            }
        }

    //
    // BOX FOOTER
    // --------------------------------------------------------------------------

    @include has("footer") {
        padding: 0.5rem 1rem;
        border-top: 1px solid $black;

        @media(max-width: $max-width-4casas) {
            display: none;
        }
    }

    //
    // BOX IMG
    // --------------------------------------------------------------------------

    @include has("photo") {
        height: auto;
        overflow: hidden;

        @media(max-width: $max-width-4casas) {
            height: 170px;
        }

        @include when("logo") {
            margin-top: 4rem;
        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;

            @include when-inside(".boxnews--info") {
                margin-top: 1rem;
                padding: 0 0;
            }
        }
    }
}


