// ==========================================================================
// EXPERTISE
// ==========================================================================

@include new("brands") {
    position: relative;
    display: block;
    margin: 0 0;
    padding: 3em 0;

    @media(max-width: $max-width-4casas) {
        padding: 1em 0;
    }

    &:before {
        @include reset-pseudo(rgba($black, 0.03));
        @include reset-full-scren;
    }


    @include has("wrapper") {
        align-items: stretch;
        padding: 4rem 0;

        @media(max-width: $max-width-4casas) {
            display: block;
            padding: 0 0;
        }
    }

    @include has("item") {
        padding-right: 0;
        padding-left: 0;

        @media(max-width: $max-width-4casas) {
            padding: 2rem 0;
        }
    }

    @include has("link") {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        color: $main-color;
        border-bottom: 4px solid transparent;

        > img {
            position: relative;
            z-index: 1;

            @media(max-width: $max-width-4casas) {
                width: 160px;
                height: auto;
            }

            &:first-child {
                margin-top: 2px;
                margin-bottom: 8px;

                @media(max-width: $max-width-4casas) {
                    width: auto;
                    height: 40px;
                    margin-bottom: 10px;
                }
            }
        }

        &:before {
            @include reset-pseudo(transparent);
            width: 100%;
            height: 50px;
            transition: all 0.3s ease-in-out;

            @media(max-width: $max-width-4casas) {
                height: 45px;
            }
        }

        // @include on-event() {
        //     border-bottom: 4px solid $main-color;

        //     &:before {
        //         background-color: $main-color;
        //     }
        // }

        @include when("acelera") {
            &:before {
                background-color: #61d1ff;
            }
        }

        @include when("rrhh") {
            &:before {
                background-color: #80b0cd;
            }
        }

        @include when("fundation") {
            &:before {
                background-color: #cea77b;
            }
        }
    }
}
