// ==========================================================================
// CONTACT BOX
// ==========================================================================

.contact__box {
    background-color: rgba($black, 0.1);

    .col {
        padding: 2rem 10vw;
    }

    p {
        margin-bottom: 1rem;
    }
}
