// ==========================================================================
// DISCOVER COMPONENT (text + button + full width img)
// ==========================================================================

@include new("discover") {
    background-color: $main-color;

    @include has("content") {
        padding: 5rem 2rem 6rem 0;
    }

    @include has("img") {
        @include stretch-to-right;
    }

    @include has("title") {
        @include fontSet(58px, 58px);
        color: $complementary-color;
    }

    @include has("excerpt") {
        margin-bottom: 2rem;
        @include fontSet(58px, 58px);
        color: $white;
    }
}

