// ==========================================================================
// EXPERTISE
// ==========================================================================

.expertise {
    margin: 2em 0 4em;
    padding: 8em 0 0;
    background-color: $white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    [class^="col"] {
        color: $white;
        background-color: $black;
    }

    .section-header {
        margin-bottom: 1em;
        padding: 1em 0 0 0.8em;
        color: $black;
    }

    .expertise-wrapper {
        padding: 0 2em 4em;

        > .expertise-item {
            width: 30%;
            color: $white;

            a {
                position: relative;
                display: block;
                color: $white;
            }

            .title {
                margin-bottom: .6em;
                font-size: 2rem;
            }

            .content {
                // margin-bottom: auto;
            }

            .icon {
                display: block;
                margin-top: 1em;
                // position: absolute;
                // bottom: 0;
            }

        }
    }
}
