// ==========================================================================
// GRID INSIGHTS
// ==========================================================================

//
// MASNORY GRID JS
// --------------------------------------------------------------------------

@include new("grid") {

    // https://github.com/desandro/masonry/issues/393
    // https://github.com/desandro/masonry/issues/986
    // https://github.com/desandro/masonry/issues/1006
    // https://codepen.io/desandro/pen/3d1fac81ee3f6c4315f6b177c20b04c6/

    // Masonry & Isotope horizontalOrder
    // https://codepen.io/desandro/pen/dWVqmx

    // $gutter_size: 10px;
    // $number_of_columns: 3;
    // $total_gutter_space: ( $number_of_columns - 1 ) * $gutter_size;

    // width: calc( ( 100% - #{$total_gutter_space} ) /  #{$number_of_columns} );

    $gutter-size:       21px;
    $gutter-size-sm:    18px;
    $item-width:        32%;
    $item-height:       260px;

    @include has("masonry") {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    @include has("gutter") {
        width: $gutter-size;

        @media(max-width: $max-menu-4casas) {
            width: $gutter-size-sm;
        }
    }

    @include has("sizer") {
        width: $item-width;
    }

    @include has("item") {
        float: left;
        margin: 0 0;
        padding: 0 0;
        width: $item-width;
        height: $item-height;
        margin-bottom: $gutter-size;

        @media(max-width: $max-menu-4casas) {
            margin-bottom: $gutter-size-sm;
        }

        //
        // INSIDE BOXES
        //
        .boxnews__item {
            flex: 0 1 100%;
            max-width: 100%;
            height: 100%;
            min-height: auto;
            margin: 0 0;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

             @include on-event() {
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2),
                            0 15px 12px rgba(0, 0, 0, 0.1);
            }
        }

        .boxnews__content {
            min-height: calc(100% - 4rem);
        }


        //
        // SIZES
        //
        @include when("normal") {

            @media(max-width: $max-width-4casas) {
                width: 100%;
                height: 200px;
            }

            .boxnews__copy {
                margin-bottom: auto;
                padding-right: 0;
                padding-bottom: 0;
            }

            .boxnews__link {
                @include fontSet(23px, 27px);
                letter-spacing: 0.4px;

                @media(max-width: $max-width-4casas) {
                    @include fontSet(20px, 25px);
                    letter-spacing: 0;
                }
            }
        }


        @include when("dobleW") {
            width: calc((#{$item-width} * 2) + #{$gutter-size});
            height: calc((#{$item-height} * 2) + #{$gutter-size});

            @media(max-width: $max-menu-4casas) {
                width: calc((#{$item-width} * 2) + #{$gutter-size-sm});
                height: calc((#{$item-height} * 2) + #{$gutter-size-sm});
            }

            @media(max-width: $max-width-4casas) {
                width: 100%;
                height: auto;
            }

            //
            // INSIDE BOXES
            //
            .boxnews__content {
                display: flex;
                flex-flow: row nowrap;

                @media(max-width: $max-width-4casas) {
                    display: block;
                }
            }

            .boxnews__copy {
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: 2rem;

                @media(max-width: $max-width-4casas) {
                    display: block;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }

            .boxnews__media {
                flex: 0 0 50%;
                max-width: 50%;

                @media(max-width: $max-width-4casas) {
                    display: block;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }

            .boxnews__link {
                @include fontSet(43px, 45px);

                @media(max-width: $max-width-4casas) {
                    @include fontSet(20px, 25px);
                }
            }
        }


        @include when("dobleH") {
            height: calc((#{$item-height} * 2) + (#{$gutter-size});

            @media(max-width: $max-menu-4casas) {
                height: calc((#{$item-height} * 2) + (#{$gutter-size-sm});
            }

            @media(max-width: $max-width-4casas) {
                width: 100%;
                height: auto;
            }

            //
            // INSIDE BOXES
            //
            .boxnews__content {
                display: flex;
                flex-flow: column nowrap;
                flex: 1 1 auto;
            }

            .boxnews__copy {
                flex: 0 0 50%;
                // padding-bottom: 1rem;
            }

            .boxnews__link {
                @include fontSet(33px, 37px);

                @media(max-width: $max-width-4casas) {
                    @include fontSet(20px, 25px);
                }
            }
        }
    }
}


