// ==========================================================================
// INSIGHTS COMPONENT
// ==========================================================================

.insights__block {
    margin-top: 0;
    padding: 4rem 0;
    color: $white;
    background-color: $main-color;

    .insights__wrapper {
        padding: 1.2rem 10vw;
        align-items: center;
    }

    .choose__interests {
        margin-right: 8vw;
        margin-bottom: 1.3rem;
        @include copy-font(300, normal);
        @include fontSet(22px, 30px);
        color: $white;
    }
}
