// ==========================================================================
// NEWS BOXES (articles, publications, news, etc...)
// ==========================================================================

@include new("boxnews") {

    //
    // SECTION BG COLORS
    // --------------------------------------------------------------------------

    @include when("insight") {
        background-color: rgba($black, 0.02);
    }

    @include when("article") {
        background-color: rgba($black, 0.05);
    }

    @include when("event") {
        background-color: rgba($black, 0.2);
    }

    //
    // BOXES
    // --------------------------------------------------------------------------

    @include has("list") {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }

    @include has("item") {
        flex: 0 1 calc(33.333333% - 0.8rem);
        height: auto;
        background-color: $white;
        border-top: 8px solid transparent;
        // box-shadow: 0 0 0 transparent;
        // box-shadow: 0 3px 12px rgba(255, 255, 255, 0.16), 0 3px 12px rgba(255, 255, 255, 0.23);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0),
                    0 0 0 rgba(0, 0, 0, 0);
        transition: all 0.2s ease-out;

        @include on-event() {
            // box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2),
                        0 15px 12px rgba(0, 0, 0, 0.1);

            // .boxnews__link {
            //     color: $complementary-color;
            // }

             &:hover {
                .card__image {
                    // filter: contrast(100%);
                }
            }
        }

        //
        // BOXES COLORS
        // --------------------------------------------------------------------------

        @include when-inside(".boxnews--article") {
            color: $article-bg-color;
            border-top-color: $article-bg-color;
        }

        @include when-inside(".boxnews--event") {
            color: $main-color;
            background-color: $event-bg-color;
            border-top-color: $main-color;
        }

        @include when-inside(".boxnews--insight") {
            color: $complementary-color;
            border-top-color: transparent;
            flex: 0 1 calc(50% - 0.8rem);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }
    }

    //
    // BOX HEADER
    // --------------------------------------------------------------------------

    @include has("header") {
        position: relative;
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid $black;

        @include when-inside(".boxnews--insight") {
            padding-top: 0.5rem;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

        @include has("type") {
            @include cuatrecasas-font();
            @include fontSet(18px, 18px);
            font-weight: bold;
            text-transform: uppercase;

            @include when-inside(".boxnews--insight") {
                @include fontSet(40px, 40px);
                font-weight: normal;
                text-transform: none;
            }
        }

        @include has("info") {
            position: relative;
            margin-left: 1.5rem;
            @include cuatrecasas-font();
            @include fontSet(18px, 18px);
            text-transform: uppercase;
            color: $black;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -12px;
                display: inline-block;
                width: 2px;
                height: 80%;
                background-color: $black;
                opacity: 0.5;
            }
        }

        @include has("button") {
            position: absolute;
            top: 3px;
            right: 6px;
        }

    //
    // BOX CONTENT
    // --------------------------------------------------------------------------

    @include has("content") {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;
        min-height: 20rem;
        padding: 1rem;
        transition: all 0.2s ease-out;

        @include when-inside(".boxnews--insight") {
            min-height: auto;
            height: calc(100% - 3rem);
            padding-top: 0.5rem;
        }
    }

        @include has("copy") {
            // align-self: flex-start;
            margin-bottom: auto;
            padding-right: 1rem;
            padding-bottom: 2rem;

            @include when-inside(".boxnews--insight") {
                height: auto;
                padding-bottom: 1rem;
            }
        }

            @include has("link") {
                // padding-bottom: 0.1rem;
                @include fontSet(28px, 32px);
                @include box-link($black, $complementary-color, $white);

                @include when-inside(".boxnews--event") {
                    @include box-link($black, $complementary-color, $event-bg-color);
                }

                @include when-inside(".boxnews--insight") {
                    @include fontSet(40px, 44px);
                    @include box-link($black, $black, $white);
                    letter-spacing: -1px;
                    text-transform: none;
                }
            }

        @include has("meta") {
            // align-self: flex-start;
            margin-top: auto;
            color: $black;

            > * {
                @include fontSet(16px, 18px);
                text-transform: uppercase;
            }

            @include has("place") {
                color: $complementary-color;
            }
            @include has("date") {}
            @include has("time") {}
            @include has("author") {}
        }

        @include has("action") {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }

            @include has("more") {
                @include fancy-link($complementary-color, $complementary-color);
                @include fontSet(24px, 24px);
                padding-bottom: 4px;
                transition: all 0.2s ease-in-out;
            }

            @include has("img") {
                @include cover-img();

                @include when-inside(".boxnews--insight") {
                    align-self: flex-start;
                    // margin-top: auto;
                }
            }

    //
    // BOX FOOTER
    // --------------------------------------------------------------------------

    @include has("footer") {
        padding: 0.5rem 1rem;
        border-top: 1px solid $black;
    }
}


