// ==========================================================================
// SEARCH
// ==========================================================================

@include new("search__component") {

    @include has("loader") {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;

        &:before {
            @include reset-pseudo($white);
            opacity: 0.8;
            z-index: -1;
        }

        svg {
            width: 200px;
            height: 200px;
            margin: auto;
            display: block;
        }

        path {
            transform: scale(0.8);
            transform-origin: 50px 50px;
        }
    }

    @include when("home") {
        padding-top: 1rem;
        padding-bottom: 3rem;
        // border: 1px solid magenta;

        .search_box__wrapper {
            margin: 2rem 0;
            // border: 1px solid blue;
        }
    }
}

@include new("search_box") {

    > .col {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    @include has("wrapper") {
        display: flex;
    }

    @include has("name") {
        flex: 0 0 75%;

        @include when("full") {
            flex: 0 0 100%;
        }

        .form-control {
            border: 2px solid $complementary-color;
        }
    }

        @include has("button") {
            @include reset-button;
            position: absolute;
            top: -55px;
            right: 0;
            padding: 0.3em 0.6em;
            @include fontSet(32px, 32px);
            background: transparent;
            border: none;

            .icon {
                color: $complementary-color;
                transition: all 0.3s ease-in-out;
            }

            @include on-event() {
                background-color: $complementary-color;

                .icon {
                    color: $white;
                }
            }
        }

    @include has("link") {
        flex: 0 0 25%;
    }

        .toggle__filters {
            @include fancy-link($complementary-color, $complementary-color);
            @include fontSet(18px, 24px);
            top: 12px;
            left: 22px;
            padding-bottom: 0.2rem
        }
}

@include new("search_filters") {

    > .col {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    @include when("hidden") {
        display: none;
    }

    @include when("lawyers") {
        > .col {
            padding-top: 0;
            padding-bottom: 2rem;
        }
    }
}

@include new("search_selects") {
    // display: flex;
    // justify-content: space-between;

    // > * {
    //     flex: 1;
    // }
}

@include new("search_tags") {
    @include has("wrapper") {
        border: 1px solid red;
    }
}

@include new("search_alphabet") {
    margin-top: 3rem;
}

@include new("search_pagination") {
    margin: 2rem 0 4rem;
}


//
// PAGINATION
// --------------------------------------------------------------------------

.pagination {
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    border-radius: 0;
}

.page-item {

    &:first-child .page-link {
        margin-left: 0;
        line-height: 1.4;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    &:last-child .page-link {
        margin-right: 0;
        line-height: 1.4;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

.page-link {
    position: relative;
    display: block;
    width: 34px;
    height: 34px;
    padding: 0 0;
    margin: 0 1px;
    @include fontSet(24px, 32px);
    text-align: center;
    color: $black;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    @include when-inside(".search_pagination") {
        @include fontSet(24px, 36px);
    }

    @include on-event() {
        text-decoration: none;
        color: $white;
        background-color: $complementary-color;
    }

    &:focus {
        color: $white;
        box-shadow: 0 0 0 0.2rem rgba($complementary-color, 0.25);
    }

    &.active {
        color: $complementary-color;
        pointer-events: none;

        &:focus {
            color: $white;
        }
    }
}


