// ==========================================================================
// SEARCH
// ==========================================================================

@include new("search__component") {

    @include when("home") {
        padding-bottom: 2rem;
        background: rgba($black, 0.03);

        .search_tab {
            width: 100%;
            margin-bottom: 3rem;
            padding: 0 $screen-width;
            background: rgba($black, 0.06);
        }

        .nav-tabs {
            border-bottom: 0 solid transparent;

            .nav-item {
                margin-bottom: 0;
            }

            .nav-link {
                @include fontSet(24px, 24px);
                text-transform: uppercase;
                color: $black;
                padding: 1rem 10rem 1rem 4rem;

                border: 0 solid transparent;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-left: 10px solid transparent;

                @include on-event {
                    background-color: #f7f7f7;
                    border-left: 10px solid rgba($complementary-color, 0.6);
                }

                &:active, &.active {
                    background-color: #f7f7f7;
                    border-left: 10px solid $complementary-color;
                }
            }
        }

        .search__tab-content {
            margin-bottom: 2rem;
            padding: 0 $screen-width;

            .search_box__wrapper {
                 margin-bottom: 2rem;
            }

            .search_selects {}
        }
    }
}

@include new("search_box") {

    > .col {
        padding: 2rem $screen-width;
    }

    @include has("wrapper") {
        display: flex;
    }

    @include has("name") {
        flex: 0 0 75%;

        @include when("full") {
            flex: 0 0 100%;
        }
    }

        @include has("button") {
            @include reset-button;
            position: absolute;
            top: -51px;
            right: 0;
            height: 51px;
            padding: 0.3em 0.6em;
            @include fontSet(32px, 32px);
            background: transparent;
            border: none;

            .icon {
                color: $complementary-color;
                transition: all 0.3s ease-in-out;
            }

            @include on-event() {
                background-color: $complementary-color;

                .icon {
                    color: $white;
                }
            }
        }

    @include has("link") {
        flex: 0 0 25%;
    }

        .toggle__filters {
            @include fancy-link($complementary-color, $complementary-color);
            @include fontSet(18px, 24px);
            top: 12px;
            left: 22px;
            padding-bottom: 0.2rem
        }
}

@include new("search_filters") {

    > .col {
        padding: 2rem $screen-width;
        text-align: center;
    }

    @include when("hidden") {
        display: none;
    }

    @include when("lawyers") {
        > .col {
            padding: 0 $screen-width 2rem;
        }
    }
}

@include new("search_selects") {
    display: flex;
    justify-content: center;
    margin: 0 -0.5rem 3rem;

    > * {
        flex: 0 1 auto;
        margin: 0 0.5rem;
    }
}

@include new("search_tags") {

    @include has("wrapper") {
        border: 1px solid red;
    }
}

@include new("search_alphabet") {
    margin-top: 1rem;
}

@include new("search_pagination") {
    margin: 2rem 0 4rem;
}


//
// PAGINATION
// --------------------------------------------------------------------------

.pagination {
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0;
    border-radius: 0;
}

.page-item {

    &:first-child .page-link {
        margin-left: 0;
        line-height: 1.4;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    &:last-child .page-link {
        margin-right: 0;
        line-height: 1.4;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

.page-link {
    position: relative;
    display: block;
    width: 34px;
    height: 34px;
    padding: 0 0;
    margin: 0 1px;
    @include fontSet(24px, 32px);
    text-align: center;
    color: $black;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    @include when-inside(".search_pagination") {
        @include fontSet(24px, 36px);
    }

    @include on-event() {
        text-decoration: none;
        color: $white;
        background-color: $complementary-color;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($complementary-color, 0.25);
    }

    &.active {
        color: $complementary-color;
        pointer-events: none;
    }
}


