// ==========================================================================
// MULTIPLE SEARCH
// ==========================================================================

// FILTERS (accordion & checkboxes)

#filterOrderby,
.filters__order {
    position: relative;
    display: none;
    display: flex;
    padding: 1.5rem 0 1rem;
    border-bottom: 2px solid #B7B7B7;

    @media(max-width: $max-width-4casas) {
        justify-content: center;
        padding: 1rem 0 1rem;
        border-bottom: 1px solid #d8d5d5;
    }

    span {
        @include fontSet(16px, 18px);
        padding: 2px 16px 0 0;
        color: $black;

        @media(max-width: $max-width-4casas) {
            display: none;
        }
    }

    ul {
        @include reset-list;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    li {
        position: relative;
        margin: 0 8px 0 0;
        padding: 0 0;

        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: -4px;
            width: 1px;
            height: 90%;
            background-color: $complementary-color;
            opacity: 0.8;
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    a {
        display: inline-block;
        margin: 0 0;
        padding: 2px 4px 0;
        @include fontSet(16px, 18px);
        @include background-link($complementary-color, $white, $complementary-color);
        text-transform: uppercase;

        @media(max-width: $max-width-4casas) {
            @include fontSet(12px, 12px);
        }

        &.active {
            font-weight: bold;
        }
    }
}

#applyFilters,
.filters__apply {
    position: relative;
    display: none;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100vw;
        margin-left: -50vw;
        left: 50%;
        height: 1px;
        background-color: #d5d2d2;
    }

    .btn {
        @media(max-width: $max-width-4casas) {
            width: calc(100% - 2rem);
        }
    }
}

#checksOutput {
    position: relative;
    display: none;
    display: block;
    padding-top: 1rem;

    &:before {
        @include reset-pseudo(rgba($black,0.07));
        @include reset-full-scren;
        z-index: -1;

        @media(max-width: $max-width-4casas) {
            background-color: $white;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100vw;
        margin-left: -50vw;
        left: 50%;
        height: 2px;
        background-color: #d5d2d2;
    }

    .checkbox-tag {
        display: flex;
        float: left;
        margin: 0 1rem 1rem 0;
        padding: 0 0 0 1rem;
        color: rgba($black, 0.6);
        background-color: $white;
        border: 1px solid $complementary-color;
        cursor: default;

        @media(max-width: $max-width-4casas) {
            margin: 0 0.5rem 0.5rem 0;
            padding: 0 0 0 0.5rem;
        }

        span {
            @include fontSet(16px, 28px);
            letter-spacing: 0.49px;

            @media(max-width: $max-width-4casas) {
                @include fontSet(12px, 20px);
                letter-spacing: 0;
            }
        }
    }

    .close-tag {
        @include reset-button;
        display: flex;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin-left: 1rem;
        background-color: $complementary-color;

        @media(max-width: $max-width-4casas) {
            width: 20px;
            height: 20px;
        }

        .icon {
            @include fontSet(20px, 30px);
            color: $white;
            letter-spacing: 0;

            @media(max-width: $max-width-4casas) {
                @include fontSet(14px, 22px);
            }
        }

        @include on-event {
            background-color: $main-color;
        }
    }
}

#deleteFilters {
    display: none;
    display: block;
    float: left;
    margin: 8px 0 1rem 8px;
    @include classic-link($complementary-color, $complementary-color);
    @include fontSet(16px, 16px);
    white-space: nowrap;

    @media(max-width: $max-width-4casas) {
        @include fontSet(12px, 12px);
    }

}


#filterWrapper {
    // margin-bottom: 3rem;
}

#filterTabs {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    @media(max-width: $max-width-4casas) {
        display: none;
    }

    .nav-item {
        flex: 0 1 auto;
        text-align: left;

        &:last-child {
            margin-right: 0;
        }
    }

    .nav-link {
        position: relative;
        margin: 0 0;
        padding: 0 2rem 0 0;
        @include fontSet(25px, 25px);
        text-align: left;
        border-radius: 0;
        color: $black;
        background-color: transparent;
        transition: all 0.2s ease-in;

        &:after {
            @include icons-ionicons(-6px,6px,auto,auto);
            content: '\f3d1';
            font-size: 36px;
            transform: rotate(90deg);
            color: $complementary-color;
            transition: all 0.2s;
        }

        @include on-event {
            cursor: pointer;
            color: $complementary-color;
        }

        &:not(.collapsed) {
            color: $complementary-color;
            background-color: transparent;

            &:after {
                transform: rotate(-90deg);
            }
        }
    }

    &.responsive {
        border: 1px solid red;

        .collapse,
        .collapsing {
            // position: absolute;
        }
    }
}

#filterTabsContent {
    position: relative;

    &:before {
        @include reset-pseudo(rgba($black,0.07));
        @include reset-full-scren;
        z-index: -1;

        @media(max-width: $max-width-4casas) {
            background-color: #f7f7f7;
        }
    }

    .nav-link {
        display: none;
        position: relative;
        margin: 0 0;
        padding: 1rem;
        @include fontSet(16px, 16px);
        text-align: left;
        border-radius: 0;
        color: $black;
        background-color: transparent;
        border-bottom: 1px solid #d5d2d2;
        transition: all 0.2s ease-in;

        @media(max-width: $max-width-4casas) {
            display: block;
        }

        &:first-child {
            border-top: 1px solid #d5d2d2;
        }

        &:after {
            @include icons-ionicons(10px,1rem,auto,auto);
            content: '\f3d1';
            font-size: 26px;
            transform: rotate(90deg);
            color: $complementary-color;
            transition: color 0.2s;
        }

        @include on-event {
            cursor: pointer;
            color: $complementary-color;
        }

        &:not(.collapsed) {
            font-weight: bold;
            color: $black;
            background-color: transparent;

            &:before {
                @include reset-pseudo($white);
                @include reset-full-scren;
                z-index: -1;
            }

            &:after {
                @include icons-ionicons(16px,1rem,auto,auto);
                content: '\f129';
                font-size: 16px;
                color: $black;
            }
        }
    }
}
