// ==========================================================================
// TESTIMONIALS
// ==========================================================================

.testimonials {
    display: block;
    margin: 0 0;
    padding: 4em 0;
    // height: 300px;
    background-color: #CED6D8;

    @include has("item") {
        opacity: 0.4;
        transform: scale(0.7);
        cursor: default;
        transition: all 0.5s ease-in-out;

        .inline__quote {
            margin: 0 0;
            padding: 0 0;
            background-color: transparent;
        }

        .inline__quote__author,
        .inline__quote__position {
            color: $white;
        }

        &.selected,
        &.started {
            opacity: 1;
            transform: scale(1);
        }

        @include on-event() {
            opacity: 1;
            transform: scale(1);
        }
    }
}
