{% block footer %}
    <footer>
        <div class="container">
            <div class="chat__wrapper">
                <div class="chat__button">
                    <a href="#" class="chat__link"></a>
                </div>
            </div>
            <div class="row footer__info">
                <div class="col-sm-4">
                    <img src="{{ asset('web/assets/img/logos/Cuatrecasas-logo.png') }}" alt="Cuatrecasas" class="footer__logo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="row footer__links">
                <div class="col-sm-6">
                    <p>&copy; 2020 Cuatrecasas. All right reserved.</p>
                    <ul class="legal__info">
                        <li class="legal__item">
                            <a href="#" class="legal__link" rel="nofollow">
                                Privacy &amp; Cookies
                            </a>
                        </li>
                        <li class="legal__item">
                            <a href="#" class="legal__link" rel="nofollow">
                                Terms of Use
                            </a>
                        </li>
                        <li class="legal__item">
                            <a href="#" class="legal__link" rel="nofollow">
                                Contac Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="social__media">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
