{% block footer %}
	<footer>
        <div class="container">
            <div class="chat-button-wrapper">
                <div class="chat-button">
                    <a href="#"></a>
                </div>
            </div>
            <div class="row footer-info">
                <div class="col-sm-4">
                    <img src="{{ asset('web/assets/img/Cuatrecasas-logo_white.png') }}" alt="Cuatrecasas">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="row footer-links">
                <div class="col-sm-6">
                    <p>&copy; 2019 Cuatrecasas. All right reserved.</p>
                    <ul class="d-flex legal-info">
                        <li><a href="#">Privacy &amp; Cookies</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Contac Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="d-flex justify-content-end social-media">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}