// ==========================================================================
// EVENTS
// ==========================================================================

//
// EVENTS
// --------------------------------------------------------------------------

.event-info-wrapper {
    // border: 1px solid red;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.event-results-wrapper {
    // border: 1px solid red;
    margin: 0 auto 10rem;

    .event-toolbar {
        border-bottom: 2px solid $gray-medium;
        // margin: 2rem auto 10rem;
    }

    .button-wrapper {
        padding-top: 8rem;
    }
}

.event-search {
    display: flex;
    align-items: center;
    padding: 0 0 3rem;
    // border: 1px solid blue;

    .toggle-filters {
        font-weight: 600;
        color: $complementary-color;

        // &:hover, &:focus, &:active {
        &:hover {
            text-decoration: none;
            color: $black;
            box-shadow: 0 1px 0 $black;
        }

        &.on {
            // box-shadow: 0 1px 0 $complementary-color;
        }
    }
}

.event-filters {
    display: none;
    // height: 60px;
    margin: 0 0;
    padding: 0 0 2rem;
    // border: 1px solid cyan;

    &.on {}
}

.event-filters-selects {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    height: 30px;

    .select {
        width: 100%;
        height: 54px;
    }
}

.event-chooser,
.event-view {
    @include reset-list;
    // @include reset-flex-horizontal;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    height: 6rem;
}

.event-chooser {
    li {
        position: relative;
        margin-right: 1.4rem;
        padding-right: 2.4rem;
        // color: $gray-600;

        a {
            // @include link;
            font-weight: 600;
        }

        &:after {
            content: "";
            position: absolute;
            top: 12px;
            right: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            // background: $gray-600;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.event-view {
    justify-content: flex-end;

    li {
        margin-left: 1rem;

        a {
            outline: 3px solid transparent;

            &:hover {
                outline-color: $complementary-color;
            }

        }
    }
}


//
// LISTADO EVENTOS
// --------------------------------------------------------------------------
.event-box {
    // border: 1px solid red;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 3rem 0 4rem;
    // border-bottom: 1px solid $gray-light;

    > * {
        position: relative;
        z-index: 1;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX( -50%);
        width: 100vw;
        height: 100%;
        content: '';
        background-color: $white-medium;
        opacity: 0;
        transition: opacity .2s ease-out;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}

.event-info {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 20%;

    > * {
        flex: 1 100%;
    }

    > div > * {
        display: block;
    }

    .event-dates {
        min-height: 82px;
        padding-left: 1rem;
        border-left: 2px solid $main-color;

        [data-day] {
            font-size: 2.8rem;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            color: $main-color;
        }

        [data-year] {
            margin-top: 0.5rem;
            font-size: 2rem;
            line-height: 1;
            // color: $gray-medium;
        }
    }

    .event-actions {
        @include reset-list;
        margin-top: 1rem;

        > * {
            line-height: 1.5;
        }
    }
}

.event-details {
    flex: 0 0 64%;
    padding-right: 12%;

    [data-when] {
        font-size: 2rem;
        font-weight: 600;
        // color: $gray-medium;
    }

    [data-duration] {
        font-weight: 400;
        // color: $gray-medium;
    }

    [data-where] {
        position: relative;
        margin: 1rem 0 1.2rem;
        padding-left: 30px;
        font-weight: 600;
        text-transform: uppercase;
        color: $complementary-color;

        i {
            position: absolute;
            top: -2px;
            left: -5px;
            font-size: 3rem;
            // color: $gray-light;
        }
    }

    [data-info] {
        font-size: 2rem;
    }

    .speakers-wrapper {
        @include reset-list;
        // @include reset-flex-horizontal;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 2rem;
    }

    [data-speakers] {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 calc(50% - 1rem);
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 1.2;

        [data-speaker-photo] {}

        figure {
            @include reset-figure;
            width: 70px;
            height: 70px;
            margin-right: 1.8rem;
            border-radius: 50%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        [data-speaker-details] {
            display: flex;
            flex-flow: column nowrap;
            padding: 0.2rem 0;
        }

        [data-speaker-name] {
            font-weight: 600;
            text-transform: uppercase;
            // color: $gray-medium;
        }

        [data-speaker-position] {
            margin-top: auto;
            // color: $gray-medium;
        }
    }
}

.event-box {
    .event-button {
        position: relative;
        flex: 0 0 16%;
        align-self: stretch;

        .btn-arrow-new {
            position: absolute;
            bottom: -40px;
            display: block;
            width: 100%;
        }
    }
}
