// ==========================================================================
// INSIGHTS PAGE
// ==========================================================================

@include new("insights") {

    @include has("header") {
        position: relative;
        min-height: 370px;

        &:before {
            @include reset-pseudo($main-color);
            @include reset-full-scren;
            background-attachment: scroll;
            background-position: 50% 0;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }

        &:after {
            @include reset-pseudo($white);
            @include reset-full-scren;
            top: auto;
            bottom: 0;
            height: 70px;
            z-index: -1;
        }

        @include has("info") {
            display: flex;
            flex-flow: row nowrap;
            flex-flow: column wrap;
            justify-content: flex-end;
            align-items: flex-start;

            padding-top: 4rem;
            padding-bottom: 2rem;

            > * {
                flex: 0 1 auto;
                z-index: 1;
            }

            &:before,
            &:after {
                @include reset-pseudo($main-color);
                opacity: 0.9;
                z-index: 0;
            }

            &:before {
                width: 100vw;
                margin-left: -100vw;
            }
        }

        @include has("share") {
            display: flex;
            flex-flow: row nowrap;
            flex-flow: column wrap;
            justify-content: flex-end;
            align-items: flex-end;

            padding-top: 4rem;
            padding-bottom: 2rem;

            > * {
                flex: 0 1 auto;
            }

            .action__links {
                position: relative;
                top: 6px;

                li a {
                    color: $complementary-color;

                    @include on-event() {
                        text-decoration: none;
                        color: $white;
                        background-color: $complementary-color;
                        border-color: $complementary-color;

                        i {
                            color: $white;
                        }
                    }
                }
            }

        }
    }
}
