// ==========================================================================
// SEARCH
// ==========================================================================


@include new("search_component") {
    // ¿?
}

@include new("search_box") {

    > .col {
        padding: 2rem 10vw;
    }

    @include has("wrapper") {
        display: flex;
    }

    @include has("name") {
        flex: 0 0 75%;

        @include when("full") {
            flex: 0 0 100%;
        }
    }

        @include has("button") {
            @include reset-button;
            position: absolute;
            top: -51px;
            right: 0;
            height: 51px;
            padding: 0.3em 0.6em;
            @include fontSet(32px, 32px);
            background: transparent;
            border: none;

            .icon {
                color: $complementary-color;
                transition: all 0.3s ease-in-out;
            }

            @include on-event() {
                background-color: $complementary-color;

                .icon {
                    color: $white;
                }
            }
        }

    @include has("link") {
        flex: 0 0 25%;
    }

        .toggle__filters {
            @include fancy-link($complementary-color, $complementary-color);
            @include fontSet(18px, 24px);
            top: 12px;
            left: 22px;
            padding-bottom: 0.2rem
        }
}

@include new("search_filters") {

    > .col {
        padding: 2rem 10vw;
    }

    @include when("hidden") {
        display: none;
    }

    @include when("selects") {
        > .col {
            padding: 0 10vw 2rem;
        }
    }
}

@include new("search_selects") {
    display: flex;
    margin: 0 -0.5rem;

    > select {
        flex: 1;
        margin: 0 0.5rem;
    }

    // .custom-select {
    //     display: inline-block;
    //     width: auto;
    //     height: calc(1.5em + .75rem + 2px);
    //     padding: .375rem 3.75rem .375rem .75rem;
    //     font-size: 1rem;
    //     font-weight: 400;
    //     line-height: 1.5;
    //     color: #495057;
    //     vertical-align: middle;
    //     border: 1px solid #ced4da;
    //     border-radius: .25rem;
    //     -webkit-appearance: none;
    //     -moz-appearance: none;
    //     appearance: none;
    // }
}

@include new("search_alphabet") {
    margin-top: 2rem;
    padding: 2rem 0 0;
}

@include new("search_results") {

    > .col {
        padding: 2rem 10vw;
    }

    .card-deck {

        .card {
            flex: 0 1 calc(25% - 30px);
            margin-bottom: 30px;
            border: 0px solid rgba(0, 0, 0, 0);
            border-radius: 0;
            background-color: $white;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                        0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.2s ease-out;

            &:nth-child(n+9) {
                display:none;
            }

            @include on-event() {
                background-color: $complementary-color;
                box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2),
                            0 15px 12px rgba(0, 0, 0, 0.1);

                .card-body,
                .card-footer {
                    color: $white;
                }

                .card-footer {
                    color: rgba($white, 0.8);
                }

                .card-img-top {
                    transform: scale(1.2) translate(0);
                }
            }
        }

        figure {
            @include reset-figure;

            @include mediaQuery($large-width, $desktop-width) {
                max-height: 190px;
            }

            @include mediaQuery($massive-width, $large-width) {
                max-height: 280px;
            }

            .card-img-top {
                position: relative;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                transform-origin: center center 0;
                transition: transform .6s;
            }
        }

        .card-title,
        .card-text,
        .card-footer {
            @include cuatrecasas-font();
            transition: color 0.2s linear;
        }

        .card-title {
            @include fontSet(28px, 28px);
            margin-bottom: 0.5rem;
        }

        .card-text {
            @include fontSet(24px, 24px);
            margin-top: auto;
        }

        .card-footer {
            padding: .75rem 1.25rem;
            font-size: 80%;
            color: rgba($black, 0.6);
            background-color: transparent;
            border-top: none;

            &:last-child {
                border-radius: 0 0 0 0;
            }

        }
    }

    @include has("link") {
        @include box-hidden-link;
    }

    @include has("info") {
        // border: 1px solid magenta;
        margin-bottom: 2rem;
    }

    @include has("pagination") {
        // border: 1px solid cyan;
    }
}


//
// PAGINATION
// --------------------------------------------------------------------------

.pagination {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    border-radius: 0;
}

.page-link {
    position: relative;
    display: block;
    width: 34px;
    height: 34px;
    padding: 0 0;
    margin: 0 0;
    @include fontSet(24px, 36px);
    font-weight: bold;
    text-align: center;
    color: $black;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    @include on-event() {
        text-decoration: none;
        color: $white;
        background-color: $complementary-color;
    }
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.page-item:last-child .page-link {
    margin-right: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
