// ==========================================================================
// HEADER
// ==========================================================================

.page {
    // border: 1px solid blue;

    @include has("header") {
        height: 50vh;
        position: relative;
        background-color: $main-color;
        background-attachment: fixed;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        &:before {
            @include reset-pseudo($black);
            opacity: 0.3;
        }

        > .col {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            padding: 4rem 10vw;
        }

        .info__block {
            flex: 0 0 75%;
        }

        .action__links {
            flex: 0 0 25%;
            justify-content: flex-end;
            position: relative;
            top: 12px;
        }
    }

    @include has("title") {
        @include fontFull(60px, 60px);
        margin-bottom: 1.4rem;
        color: $white;
    }

    // @include has("media") {
    //     display: none;
    //     @include reset-figure;
    //     width: 100%;
    //     height: auto;


    //     @include has("img") {
    //         width: 100%;
    //         height: auto;
    //         object-fit: cover;
    //     }
    // }
}
