// ==========================================================================
// NAVIGATION
//
// => Main Navs Header
// => Action links (icons)
// => Breadcrumb
// ==========================================================================

//
// Primary Nav
// --------------------------------------------------------------------------

.main-nav-wrapper {

    .navbar {
        padding: 0.2rem 0.8rem;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        // padding-right: 0.5rem;
        // padding-left: 0.5rem;
    }

    .nav-link {
        position: relative;
        margin-right: 0.3rem;
        margin-left: 0.3rem;
        @include cuatrecasas-font();
        @include fontSet(18px, 18px);
        @include fancy-link($white, $white);
        text-transform: uppercase;
        transition: all 0.3s ease-out;
    }

    //
    // Main options
    //
    #main-nav {
        background-color: $main-color;

        .navbar-collapse {
            justify-content: flex-end;
        }
    }


    //
    // Secondary options
    //
    #about-nav {
        background-color: $complementary-color;

        .navbar-collapse {
            justify-content: flex-start;
        }
    }


    //
    // Contact, webs, city, langs
    //
    #contact-nav {
        background-color: $white;

        .navbar {
            padding: 0 0.2rem;
        }

        .nav-link {
            color: $black;
            @include fontSet(14px, 10px);
            @include fancy-link($black, $complementary-color);
            font-weight: bold;
            padding-right: .3rem;
            padding-left: .3rem;
        }
    }
}


//
// Action links (icons)
// --------------------------------------------------------------------------

.action__links {
    @include reset-list;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    li {

        a {
            display: block;
            width: 34px;
            height: 34px;
            text-align: center;
            color: $white;
            // border: 1px solid #c6c6c6;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            i {
                font-size: 20px;
                line-height: 34px;
            }

            @include on-event() {
                // @include button-hover;
                color: $complementary-color;
                background-color: $white;
                border-color: $white;

                i {
                    color: $complementary-color;
                }
            }
        }
    }
}


//
// Breadcrumb
// --------------------------------------------------------------------------

.breadcrumb {
    @include reset-list;
    background-color: transparent;
    border-radius: 0;

    .breadcrumb-item {
        @include cuatrecasas-font();
        @include fontSet(16px, 16px);
        color: $white;

        &+.breadcrumb-item {
            &:before {
                display: inline-block;
                padding-right: 0.6rem;
                padding-left: 0.6rem;
                color: $white;
                content: "|";
            }
        }

        a {
            @include fancy-link($white, $white);
            padding: 0 0.1rem 0.4rem 0.3rem;
        }
    }
}
