// ==========================================================================
// NAVIGATION
//
// => Main Navs Header
// => Action links (icons)
// => Breadcrumb
// ==========================================================================


//
// STICKY MENU
// --------------------------------------------------------------------------

$menu-height: 55px !default;

#navDesktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    z-index: 9;

    #primaryNav {
        position: relative;
        z-index: 99;
        height: $menu-height;
    }

    #secondaryNav {
        position: fixed;
        top: $menu-height;
        height: $menu-height;
        visibility: visible;
        opacity: 1;
        // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

        transition: all 0.3s ease-in-out;

        &.stickyNav {
            top: 0;
            visibility: hidden;
            opacity: 0;
            // height: 0;

            // #contactNav {
            //     background-color: transparent;
            //     transition: background-color 0.2s ease-out;
            // }
        }

        // .navbar-brand {
        //     visibility: visible;
        //     opacity: 1;
        //     transition: opacity 0.2s ease-out;

        //     &.stickyNav {
        //         visibility: hidden;
        //         opacity: 0;
        //     }
        // }
    }

    #userNav {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-out;

        &.stickyNav {
            visibility: visible;
            opacity: 1;
        }
    }
}

header {
    position: relative;
    margin-top: $menu-height * 2;
    transition: margin 0.2s ease-out;

    &.stickyNav {
        // margin-top: 162px;
        margin-top: 155px;
    }
}


@media(min-width: $min-width-4casas) {
    #navDesktop {
        // border: 10px solid blue;
    }
}

@media(max-width: $max-width-4casas) {
    #navDesktop {
        display: none;
        // border: 10px solid yellow;
    }
}


//
// MOBILE NAVIGATION
// --------------------------------------------------------------------------


#navMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    z-index: 9;

    #primaryNav {
        position: relative;
        z-index: 99;
        height: $menu-height;

        border: 2px solid blue;
    }

    #secondaryNav {
        position: fixed;
        top: $menu-height;
        height: $menu-height;
        visibility: visible;
        opacity: 1;
        // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

        transition: all 0.3s ease-in-out;

        border: 2px solid blue;

        &.stickyNav {
            top: 0;
            visibility: hidden;
            opacity: 0;
        }
    }

    #userNav {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-out;

        &.stickyNav {
            visibility: visible;
            opacity: 1;
        }
    }
}


//
// DESKTOP NAVIGATION
// --------------------------------------------------------------------------

#navDesktop {

    .navbar {
        padding: 0 0;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding: 0 0;
    }

    .nav-link {
        position: relative;
        @include cuatrecasas-font();
        @include fontSet(23px, 55px);
        letter-spacing: 0.89px;
        text-transform: uppercase;
        transition: all 0.3s ease-out;
    }

    //
    // Main options
    //
    #mainNav {
        background-color: $main-color;

        .navbar-collapse {
            justify-content: flex-end;
        }

        .nav-link {
            padding: 0 0.8rem !important;
            @include classic-link($white, $complementary-color, $border: false);
        }

        .navbar-brand {
            position: fixed;
            top: 0;
            left: 0;
            padding: 0.3rem 0.6rem;

            &:focus {
                box-shadow: inset 0 0 12px $complementary-color;
            }
        }

        &:before {
            @include reset-pseudo($main-color);
            width: 100vw;
            margin-left: -50vw;
            z-index: -1;
        }
    }


    //
    // Sticky menu
    //
    #userNav {
        position: fixed;
        top: 5px;
        right: 0;
        z-index: 999;

        .navbar-nav {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            margin-right: 1rem;

            .nav-item {
                position: relative;
                margin-left: 0.8rem;

                &:first-child {
                    margin-left: 0;
                }
            }

            .nav-link {
                width: 30px;
                height: 45px;
                @include fontSet(28px, 28px);
                @include classic-link($white, $main-color, $border: false);
                text-align: center;

                [class^="icon4-"], [class*=" icon4-"] {
                    &:before {
                        color: $white;
                    }
                }

                @include on-event() {
                    [class^="icon4-"], [class*=" icon4-"] {
                        &:before {
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }


    //
    // Secondary options
    //
    #aboutNav {
        background-color: $complementary-color;

        .navbar-collapse {
            justify-content: flex-start;
        }

        .nav-link {
            padding: 0 0.8rem !important;
            @include classic-link($white, $main-color, $border: false);
            cursor: default;

            &.dropdown-toggle:after {
                display: none;
            }
        }

        &:before {
            @include reset-pseudo($complementary-color);
            @include reset-full-scren;
            width: 100vw;
            margin-left: 0;
            z-index: -1;
        }

        //
        // Mega menu inline (about)
        //
        .dropdown-menu--inline {
            position: fixed;
            top: 55px;
            left: 0;
            min-width: 100%;
            width: 100%;
            height: 55px;
            padding: 0 0;
            margin: 0 0;
            text-align: center;
            color: inherit;
            background-color: #F9F9F9;
            border: none;
            border-radius: 0;
            box-shadow: inset 0 6px 4px -3px rgba(0,0,0,0.3);
            z-index: 2;

            li {
                display: inline-block;
                position: relative;
                margin: 6px 40px 0 0;
                padding: 0 0;

                &:before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: -20px;
                    width: 1px;
                    height: 64%;
                    background-color: rgba($main-color, 0.5);
                }

                &:first-child {
                    &:before {
                        display: none;
                    }
                }
            }

            a {
                display: inline-block;
                margin: 0 0;
                padding: 14px 4px 10px;

                @include fontSet(16px, 16px);
                @include classic-link($complementary-color, $main-color, $border: false);
                font-weight: bold;
                text-transform: uppercase;

                @include on-event() {
                    text-decoration: none;
                }
            }

        }

        //
        // ON HOVER ¿?
        //
        .dropdown:hover > .dropdown-menu {
            // display: block;
        }

        .dropdown > .dropdown-toggle:active {
            // Without this, clicking will make it sticky
            // pointer-events: none;
        }

        .dropdown-toggle {
            cursor: pointer;

            &.active {
                color: $main-color;
            }
        }
    }


    //
    // Contact, webs, city, langs
    //
    #contactNav {
        background-color: $white;

        .navbar-brand {
            padding-right: 0.6rem;
            padding-left: 0.6rem;
            padding-top: 0.3125rem;
            padding-bottom: 0.375rem;

            &:focus {
                box-shadow: inset 0 0 12px $complementary-color;
            }
        }

        .contact-nav {
            margin-right: 1rem;

            .nav-item {
                position: relative;
                margin-right: 0.3rem;
                margin-left: 0.3rem;

                &:before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    right: -6px;
                    width: 1px;
                    height: 13px;
                    background-color: $main-color;
                    opacity: 0.8;
                }

                &:last-child {
                    &:before {
                        display: none;
                    }
                }

                &:nth-child(2) {
                    .dropdown-toggle:after {
                        display: none;
                    }
                }

                &:nth-child(3),
                &:nth-child(4) {

                    .nav-link {
                        margin-right: 1rem;

                        &.dropdown-toggle:after {
                            // reset
                            display: inline-block;
                            margin-left: 0;
                            vertical-align: 0;
                            content: "";
                            border-top: 0;
                            border-right: 0;
                            border-bottom: 0;
                            border-left: 0;

                            @include icons-ionicons(-2px, -16px, auto, auto);
                            content: '\f3d1';
                            font-size: 22px;
                            font-weight: normal;
                            color: #808080;
                            transform: rotate(90deg);
                            transition: all 0.2s ease-in-out;
                        }

                        @include on-event() {
                            &.dropdown-toggle:after {
                                color: $complementary-color;
                            }
                        }
                    }
                }

                .nav-link {
                    @include fontSet(16px, 16px);
                    @include classic-link($main-color, $complementary-color, $border: false);
                    letter-spacing: 0.93px;
                }

                &.dropdown--inline {

                    &:before {
                        display: none;
                    }

                    .nav-link {
                        @include classic-link(#808080, $complementary-color, $border: false);
                        font-weight: normal;

                        &:before {
                            color: $main-color;
                        }
                    }
                }
            }

            //
            // Mega menu inline (webs)
            //
            .dropdown-menu--inline {
                position: fixed;
                top: 55px;
                left: 0;
                min-width: 100%;
                width: 100%;
                height: 55px;
                padding: 0 0;
                margin: 0 0;
                text-align: right;
                color: inherit;
                background-color: transparent;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 100%);
                border: none;
                border-radius: 0;
                box-shadow: 0 2px 4px rgba(0,0,0,.2), inset 0 6px 4px -3px rgba(0,0,0,.3);
                z-index: 1;

                li {
                    display: inline-block;
                    position: relative;
                    margin: 6px 40px 0 0;
                    padding: 0 0;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 8px;
                        right: -20px;
                        width: 1px;
                        height: 64%;
                        background-color: rgba($main-color, 0.5);
                    }

                    &:nth-last-child(1),
                    &:nth-last-child(2) {
                        &:after {
                            display: none;
                        }
                    }

                    a {
                        display: inline-block;
                        margin: 0 0;
                        padding: 14px 4px 10px;

                        @include fontSet(16px, 16px);
                        @include classic-link($complementary-color, $main-color, $border: false);
                        font-weight: bold;
                        text-transform: uppercase;

                        @include on-event() {
                            text-decoration: none;
                        }
                    }


                    //
                    // Dropdown Region / Langs
                    //
                    &.dropdown--inline {
                        width: 9rem;
                        margin: 0 1rem 0 0;
                        text-align: left;
                        border-bottom: 1px solid $complementary-color;

                        a {
                            display: block;
                            @include fontSet(16px, 16px);
                            padding: 0 0;
                            text-transform: none;
                            color: #808080;
                        }

                        .dropdown-menu {
                            // min-width: auto;
                            left: -0.5rem;
                            border-radius: 0;
                            border: none;
                            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

                            li {
                                display: block;
                                position: relative;
                                margin: 0 0;
                                padding: 0 0;

                                &:after {
                                    display: none;
                                }

                                a {
                                    display: block;
                                    margin: 0 0;
                                    padding: 0.3rem 0.5rem 0.2rem;

                                    @include fontSet(16px, 16px);
                                    @include classic-link(#808080, $complementary-color, $border: false);
                                    font-weight: normal;
                                    text-transform: none;

                                    @include on-event() {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .menu-close {
                    @include reset-button;
                    position: absolute;
                    top: -23px;
                    right: -25px;
                    width: 35px;
                    height: 35px;
                    margin: 0 0;
                    padding: 0.2em;
                    color: $complementary-color;
                    background-color: transparent;
                    border: none;
                    border-color: transparent;
                    border-radius: 50%;
                    transition: all 0.3s ease-out;

                    &.langs {
                        position: relative;
                        top: 0;
                        left: 6px;
                        margin-left: 1rem;
                    }

                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: '\e5cd';
                        font-family: 'Material Icons';
                        @include fontSet(35px, 35px);
                        font-weight: normal;
                    }

                    @include on-event() {
                        color: $white;
                        background-color: $complementary-color;
                        border-color: $complementary-color;
                        outline: none;

                        &:after {
                            @include fontSet(28px, 28px);
                            top: 3px;
                            left: 3px;
                        }
                    }
                }
            }

            //
            // Langs, region submenu
            //
            .lang-region-toggle {

                .region {
                    position: relative;
                    padding-right: 1rem;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 3px;
                        right: 6px;
                        width: 1px;
                        height: 64%;
                        background-color: rgba($main-color, 0.5);
                    }
                }

                .lang {
                    position: relative;

                    &:after {
                        // reset
                            display: inline-block;
                            margin-left: 0;
                            vertical-align: 0;
                            content: "";
                            border-top: 0;
                            border-right: 0;
                            border-bottom: 0;
                            border-left: 0;

                            @include icons-ionicons(-2px, -16px, auto, auto);
                            content: '\f3d1';
                            font-size: 22px;
                            font-weight: normal;
                            color: #808080;
                            transform: rotate(90deg);
                            transition: all 0.2s ease-in-out;
                    }
                }

                @include on-event {
                    .lang {
                        &:after {
                            color: $complementary-color;
                        }
                    }
                }
            }

            .lang-region-menu {
                display: none;
            }

            .langs-nav {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: $menu-height;
                padding-right: 20px;

                .adapt-txt {
                    @include fontSet(16px, 16px);
                    margin-right: 0;
                    letter-spacing: 0.93px;
                    color: $main-color;
                }

                .langs-wrapper {
                    margin-top: -3px;
                    padding: 0 0 0 2rem;

                    li:last-child {

                        .nav-link {
                            text-transform: uppercase;
                        }

                        .dropdown-menu a {
                            text-transform: uppercase;
                        }

                    }
                }
            }
        }


        //
        // User, search (normal & stycky)
        //
        .user-nav {
            position: relative;
            top: 0;
            right: 0;

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            margin-right: 1rem;

            .nav-item {
                position: relative;
                margin-left: 1rem;

                &:first-child {
                    margin-left: 0;
                }
            }

            .nav-link {
                width: 30px;
                @include fontSet(28px, 28px);
                @include classic-link($complementary-color, $main-color, $border: false);
                text-align: center;
            }
        }
    }
}



//
// Action links (icons)
// --------------------------------------------------------------------------

.action__links {
    @include reset-list;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    li {

        a {
            display: block;
            width: 34px;
            height: 34px;
            text-align: center;
            color: $white;
            // border: 1px solid #c6c6c6;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            i {
                font-size: 20px;
                line-height: 34px;
            }

            @include on-event() {
                text-decoration: none;
                color: $complementary-color;
                background-color: $white;
                border-color: $white;

                i {
                    color: $complementary-color;
                }
            }
        }
    }
}


//
// Breadcrumb
// --------------------------------------------------------------------------

.breadcrumb {
    @include reset-list;
    background-color: transparent;
    border-radius: 0;

    .breadcrumb-item {
        @include cuatrecasas-font();
        @include fontSet(16px, 16px);
        letter-spacing: 0.5px;
        color: $white;

        &+.breadcrumb-item {
            &:before {
                display: inline-block;
                padding-right: 0.3rem;
                padding-left: 0.3rem;
                color: $white;
                content: "|";
            }
        }

        a {
            @include left-to-right-link($white, $white);
            padding: 0 0 0.4rem 0;
        }
    }

    @media(max-width: $max-width-4casas) {
        display: none;
        visibility: hidden;
    }
}

