// ==========================================================================
// PAGE
// ==========================================================================

@include new("page") {

    //
    // HEADER
    // --------------------------------------------------------------------------

    @include has("header") {
        height: 50vh;
        position: relative;
        background-color: $main-color;
        background-attachment: fixed;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        @include when("opacity") {
            &:before {
                @include reset-pseudo($black);
                opacity: 0.3;
            }
        }

        > .col {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            padding: 4rem $screen-width;
        }

        .info__block {
            flex: 0 0 75%;
        }

        .action__links {
            flex: 0 0 25%;
            justify-content: flex-end;
            position: relative;
            top: 12px;
        }
    }

    @include has("title") {
        @include fontSet(60px, 60px);
        margin-bottom: 1.4rem;
        color: $white;
    }


    //
    // FULL WIDTH SECTION (main highlighted content)
    // --------------------------------------------------------------------------

    @include has("section") {
        > .col {
            padding: 4rem $screen-width;
        }

        @include when("full") {
            > .col {
                padding: 2rem $screen-width;
            }
        }
    }


    //
    // DOBLE BLOCK SECTION (content page section)
    // --------------------------------------------------------------------------

    @include has("block") {
        > .col {
            position: relative;
            display: flex;
            padding: 2rem $screen-width 4rem;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                width: calc(100% - #{$screen-width}*2);
                height: 1px;
                background-color: rgba($black, 0.3);
            }
        }

        @include when("aside") {
            > .col {
                display: flex;
                padding: 0 $screen-width 2rem;

                .page__block__content {
                    position: relative;
                    padding-top: 1rem;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        width: calc(100%);
                        height: 1px;
                        background-color: rgba($black, 0.3);
                    }
                }
            }
        }

        @include when("full") {
            > .col {
                display: block;
                padding: 3rem $screen-width;
            }

            h3,
            .h3 {
                @include fontSet(32px, 38px);
                margin-bottom: 1.4rem;
            }

            p {
                @include fontSet(20px, 28px);

                a {
                    // @include fancy-link($complementary-color, $complementary-color);
                    // @include classic-link($complementary-color, $complementary-color);
                    // @include border-link($complementary-color, $complementary-color);
                    @include background-link($complementary-color, $main-color, rgba($complementary-color, 0.3));
                }
            }

            p ~ ul {
                @include reset-list;
                margin-top: -2rem;
                padding-bottom: 4rem;
                list-style-type: none !important;

                > li {
                    position: relative;
                    margin-bottom: 1rem;
                    padding-left: 1.2rem;
                    @include fontSet(20px, 26px);
                    color: $main-color;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 8px;
                        left: 0;
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $main-color;
                    }
                }
                // @include reset-list;
                // margin-top: -2rem;
                // display: block;
                // list-style-type: none !important;

                // li {
                //     position: relative;
                //     margin-bottom: 0.6rem;
                //     padding-left: 1rem;
                //     @include fontSet(20px, 26px);

                //     &:before {
                //         @include icons-ionicons(7px,auto,auto,0);
                //         content: '\f10a';
                //         font-size: 12px;
                //     }
                // }
            }

            .page__block__title {
                margin-bottom: 1rem;
            }
        }

        @include when("full-line") {
            > .col {
                position: relative;
                display: block;
                padding: 2rem $screen-width 6rem;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: calc(100% - #{$screen-width}*2);
                    height: 1px;
                    background-color: rgba($black, 0.3);
                }
            }
        }

        @include when("flex") {
            > .col {
                padding: 4rem $screen-width;

                &:before {
                    display: none;
                }
            }
        }

        @include has("content") {
            flex: 0 0 60%;
            order: 2;

            h2,
            .h2 {
                @include fontSet(34px, 34px);
                margin-top: 3.2rem;
                margin-bottom: 2rem;
                padding-top: 0.4rem;
                text-transform: uppercase;
                border-top: 1px solid rgba($black, 0.3);
            }

            p {
                @include fontSet(22px, 30px);

                a {
                    @include classic-link($complementary-color, $complementary-color, $border: true);
                }
            }

            //
            // CONTENT LIST DETAILS
            // --------------------------------------------------------------------------
            @include has("details") {
                @include reset-list;

                > li {
                    margin-bottom: 1.5rem;
                    @include fontSet(22px, 26px);
                    color: $main-color;
                }

                a {
                    // @include classic-link($complementary-color, $complementary-color, $border: true);
                    @include background-link($complementary-color, $black, rgba($complementary-color, 0.2));
                }
            }

            @include when("full") {
                // p:first-child {
                //     margin-bottom: 2.4rem;
                //     @include fontSet(32px, 38px);
                // }

                p {
                    // @include fontSet(22px, 24px);
                    // overflow: hidden;
                    @include fontSet(32px, 38px);
                    margin-bottom: 0;

                    a {
                        @include fancy-link($complementary-color, $complementary-color);
                    }
                }

                .inline__quote {
                    float: left;
                    width: 30%;
                    margin: 0 2rem 2rem 0;
                }
            }
        }

        @include has("aside") {
            flex: 0 0 calc(40% - 3rem);
            order: 1;
            margin-right: 3rem;
        }

        @include has("title") {
            flex: 0 0 calc(40% - 3rem);
            margin-right: 3rem;

            p {
                @include fontSet(38px, 46px);
            }
        }
    }


    //
    // DOBLE BLOCK ASIDE (list, blockquotes, etc...)
    // --------------------------------------------------------------------------

    @include has("aside") {
        margin: 0 0 2rem;
        padding: 1.5rem;
        background-color: rgba($black, 0.05);

        //
        // delete maybe ¿?
        //
        @include when("nobg") {
            padding: 0;
        }

        //
        // delete maybe ¿?
        //
        @include when("practices") {
            margin-top: 2rem;
            padding: 1rem 0 0;
            border-top: 1px solid rgba($black, 0.3);
        }

        .cite__quote {
            margin-bottom: 2em;
        }

        @include has("title") {
            @include fontSet(22px, 22px);
            margin-bottom: 1.5rem;
            text-transform: uppercase;
            color: $main-color;

            &:not(:first-child) {
                margin-top: 1.5rem;
            }
        }

        @include has("subtitle") {
            @include fontSet(18px, 18px);
            margin-bottom: 0.2rem;
            text-transform: uppercase;
            color: $main-color;
        }

        @include has("list") {

            @include when("specialties") {
                @include reset-list;

                a {
                    display: block;
                    @include fontSet(22px, 22px);
                    padding: 0.5rem 1.5rem 1.5rem 0;
                    color: $complementary-color;
                    box-shadow: 0 -1px 0 rgba($black, 0.2);
                    transition: box-shadow 0.3s ease-in-out;

                    @include on-event {
                        text-decoration: none;
                        box-shadow: 0 -3px 0 $complementary-color;
                    }
                }
            }

            @include when("career") {
                @include reset-list;

                > li {
                    display: block;
                    @include fontSet(22px, 24px);
                    padding: 0.5rem 1.5rem 1.5rem 0;
                    color: $main-color;
                    box-shadow: 0 -1px 0 rgba($black, 0.2);
                    // transition: all 0.3s ease-in-out;

                    div:first-child {
                        font-weight: bold;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }

        }
    }
}
