{% extends 'web/baseNew.html.twig' %}
{% block main %}

    <main role="main" class="sectors-home">

        <article>

            <header id="page-header-new">
                <div class="container header-info-wrapper">
                    <div class="row">
                        <div class="col-md-8 header-info-new">
                            <div class="d-flex flex-column">
                                <h1 class="order-2">
                                    Sectores
                                </h1>
                                <big class="hash-text-new order-3">SectoresCuatrecasas</big>
                                <nav class="order-1" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Inicio</a></a></li>
                                        <li class="breadcrumb-item"><a href="#">Sectores</a></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                        Sectores
                                        </a></li>
                                    </ol>
                                </nav>
                                <ul class="action-icons order-4">
                                    <li><a href="#"><i class="material-icons">share</i></a></li>
                                    <li><a href="#"><i class="material-icons">print</i></a></li>
                                    <li><a href="#"><i class="material-icons">picture_as_pdf</i></a></li>
                                    <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <section class="sector-links">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="list-button-link">
                            {% for sector in sectors %}
                                <li><a href="#">{{ sector.translate(app.request.getLocale()).title|raw  }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </article>

    </main>

    {% include 'web/shared/related-content.html.twig' %}
    {% include 'web/shared/insights.html.twig' %}

{% endblock %}
