{% extends 'web/base.html.twig' %}
{% block main %}

    <main role="main" class="sectors-home">

        <article>
            <header id="page-header" class="container">
                <figure class="full-width">
                    <img class="v-center" src="{{ asset('web/assets/img/maarten-deckers-T5nXYXCf50I-unsplash.jpg') }}" alt="Juan García Hernández">
                </figure>
                <div class="row">
                    <div class="col-8">
                        <div class="header-info">
                            <big class="hash-text">SectoresCuatrecasas</big>
                            <h1>Sectores</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Inicio</a></a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Sectores</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            <section class="sector-links">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="list-button-link">
                            {% for sector in sectors %}
                                <li><a href="#">{{ sector.translate(app.request.getLocale()).title|raw  }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </article>

    </main>

    {% include 'web/shared/highlightContentArticles.html.twig' %}
    {% include 'web/shared/insights.html.twig' %}

{% endblock %}