{% extends 'web/base.html.twig' %}

{% block stylesheets %}
<!-- Slider CSS -->
<link href="{{ asset('web/vendor/swiper/css/swiper.min.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <main role="main">
        <article class="container">

            <header class="row page__header" style="background-image: url('{{ asset('web/assets/img/martin-adams-Y8MQEl3N3Xs-unsplash.jpg') }}')">
                <div class="col">
                    <div class="info__block">
                        <h1 class="page__title">
                            Metro Madrid: Temperatura inteligente para el confort de los viajeros
                        </h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Inicio</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ relative_path('/es/activity/sectorsHome')}}">Sectores</a></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Consumo y retail
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <ul class="action__links">
                        <li><a href="#"><i class="material-icons">share</i></a></li>
                        <li><a href="#"><i class="material-icons">print</i></a></li>
                        <li><a href="#"><i class="material-icons">bookmark_border</i></a></li>
                    </ul>
                </div>
            </header>

            <section class="row page__block--full">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Non consectetur a erat nam at lectus urna duis convallis. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Porta non pulvinar neque laoreet suspendisse interdum. Urna nec tincidunt praesent semper feugiat nibh sed.
                </div>
            </section>

            <section class="row page__block--aside">
                <div class="col">
                    <div class="page__block__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere urna nec tincidunt praesent semper feugiat. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Non consectetur a erat nam at lectus urna duis convallis. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Porta non pulvinar neque laoreet suspendisse interdum. Urna nec tincidunt praesent semper feugiat nibh sed. Aliquam sem et tortor consequat id porta nibh. Scelerisque felis imperdiet proin fermentum leo vel orci. Integer eget aliquet nibh praesent tristique. Leo in vitae turpis massa. Nullam non nisi est sit amet facilisis magna etiam.</p>
                        <p>Morbi tincidunt augue interdum velit euismod in. Consequat semper viverra nam libero justo. Nec sagittis aliquam malesuada bibendum. Odio aenean sed adipiscing diam. In massa tempor nec feugiat nisl pretium fusce id. Et netus et malesuada fames ac. Fringilla ut morbi tincidunt augue. Est placerat in egestas erat imperdiet sed. Pellentesque diam volutpat commodo sed egestas egestas. Sodales neque sodales ut etiam. Fermentum et sollicitudin ac orci phasellus egestas tellus. Quam quisque id diam vel quam elementum pulvinar etiam non. Amet nulla facilisi morbi tempus iaculis.</p>
                        <p>Velit egestas dui id ornare. Enim ut tellus elementum sagittis vitae et leo duis. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Tempus imperdiet nulla malesuada pellentesque elit. Tellus elementum sagittis vitae et leo duis ut. Etiam sit amet nisl purus in mollis nunc. At erat pellentesque adipiscing commodo elit at imperdiet. Eget nunc scelerisque viverra mauris diam.</p>
                    </div>
                    <div class="page__block__aside">
                        <div class="page__aside">
                            <h3 class="page__aside__title">Especialidades</h3>
                            <ul class="page__aside__list--specialties">
                                <li><a href="#">Fiscalidad corporativa</a></li>
                                <li><a href="#">Private client &amp; wealth management</a></li>
                                <li><a href="#">Fiscalidad contenciosa</a></li>
                            </ul>
                        </div>
                        <div class="page__aside page__aside--nobg">
                            <blockquote class="cite__quote">
                                <p>The help us to understand the practical risks based on what they have seen in other deals.</p>
                                <cite>Chambers, 2019</cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </section>

        </article>

    </main>

    {% include 'web/shared/team-two.html.twig' %}
    {% include 'web/shared/cases.html.twig' %}
    {% include 'web/shared/related-content-slider.html.twig' %}
    {% include 'web/shared/cta-footer.html.twig' %}

{% endblock %}

{% block javascripts %}
<!-- Slider JS -->
<script type="text/javascript" src="{{ asset('web/vendor/swiper/js/swiper.min.js') }}"></script>
<script>
    $(function () {
        var swiperAwards = new Swiper('#sliderAwards', {
        slidesPerView: 'auto',
        spaceBetween: 0,
        centeredSlides: true,
        loop: true,
        grabCursor: true,
        scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true
        },
        breakpoints: {
            1199: {
                slidesPerView: 3,
                spaceBetween: 60,
            },
        }
    });

    var swiperCases = new Swiper('#sliderCases', {
        slidesPerView: 'auto',
        spaceBetween: 20,
        loop: true,
        allowTouchMove: true,
        grabCursor: true
    });

    var swiperGeneral = new Swiper('.slider__general', {
        slidesPerView: 1,
        spaceBetween: 20,
        allowTouchMove: true,
        grabCursor: true,
        scrollbar: {
            el: '.swiper-scrollbar',
            draggable: true
        },
        breakpoints: {
            1199: {
                slidesPerView: 3,
                spaceBetween: 25,
            },
        }
    });
    });
</script>
{% endblock %}
